[2015-03-31 03:46] tommyjtl opened #1 "「韻腳」的翻译"
文档里的「foot」是不是应该作为单个词汇出现？「(prosody)」只是作解释作用，参照：

[2015-03-31 06:53] siusin opened #2 "Minor Fixes"
from @MieMie
[[
1. 「2.3.3 以版心……」 中 「圖片之尺寸橫排時圖片」，中间似乎应该有个标点断句
2. 「3.1.1.2 標號」中「刪節號」的最后多了一个「]」，同样的问题也出现在「3.1.5.1 標點符號」中
3. NOTE 与正文的关系似乎有点乱，有些 NOTE 感觉应该属于正文，反之亦然
4. GitHub 上似乎还是很早的版本？这类小问题还挺多，如果能放到 GitHub 上，讨论、修改起来会会更方便些？
]]

[2015-03-31 06:54] siusin opened #3 "Minor Fixes 2"
From Hawkeyes Wind
[[
1.         3.3.2.3.1 中的第一条注解的后半句话变成上角标了
2.         5.1 中的表格加上表格线吧，表头的文本连成一片了
]]

[2015-03-31 06:57] siusin opened #4 "避免使用 ruby、行距计算和单引号笔误"
From Xidorn
[[
1. 我建议在此文中应避免使用 ruby 一词。汉语里似乎应该用“标音”或“标音符号”？[1] 如果有需要的话可以在文末附录B的词汇表中提到与日文的“rubi/ruby/ルビ”类似，并可用类似机制实现。但 ruby 毕竟不是中文排版词汇（这个似乎根本是 W3C 创造的一个排版词汇，日语里面通常应该用的是 rubi？）为求方便而直接取用个人觉得不是很恰当。
2. 2.3.5 的最后一个 Note 里面的最后一个公式在网页里面看到的样子是“行高＝文字尺寸÷2＋行距＋文字尺寸÷2＝文字尺寸＋行距行距＝行高－文字尺寸”，我看了三遍才看出来中间的两个行距之间应该有断行或者至少标点、空格来分割。这个应该要修改。
3. 3.1.1.2 引号中对简体中文的描述里，单引号的直角单引号，似乎使用了和直角双引号一样的字符。应该是一个笔误。

[1] https://zh.wikip

[2015-03-31 06:58] siusin opened #5 "省略号、連接號、書名號乙式等描述的改進"
from Xidorn
[[
3.1.1.2
1. 省略号，关于省略号的位置问题，我想或许值得说明一下。虽然我个人很喜欢在底部的省略号，但并不是所有的字体都是如此，而且 GB/T 15834-2011 里面，省略号也是摆在正中的。
2. 连接号，依据 GB/T 15834-2011，似乎除了 em dash 以外，也还有普通的 dash？不知道是否需要提到？
3. 书名号，乙式，我不确定繁体中文的用法，但是简体中文中双书名号和单书名号皆可以标示书名及篇名，其区别类似于双引号和单引号，用于在书名号内引用另一个名称，如《如何评价〈狼图腾〉》（随便在知乎上找了个问题 233）。

]]

from @ethantw
[[
Re 省略号
這部分在「3.1.2 標點符號的字形、尺寸與字面分布」節中已經有說明。因為國標跟台灣教育部的省略號都位正中，所以並沒有特別描述。

有些漢字字體會把U+2026的

[2015-03-31 07:01] upsuper commented on #5
不不不，这个并不只是省略号，里面有三个符号的问题……

[2015-03-31 07:04] upsuper opened #6 "简体中文中的括号"
3.1.1.2 括号

在简体中文中括号的类型似乎还是比较丰富的，GB/T 15834-2011 里面除了圆括号以外还列举了方括号（［］）、六角括号（〔〕）、方头括号（【】）三种。见该标准 4.9.3.2-4.9.3.5。或许应该考虑添加进去。

[2015-03-31 07:06] upsuper commented on #4
小倩啊，我那些邮件里每个都是三个问题，如果要贴到 GitHub 的话，最好分拆开来贴。之后的我就直接贴在 GitHub 好了。

[2015-03-31 07:10] siusin commented on #4
@upsuper

Sorry >_< 我改一下标题吧~

好的~GitHub比较方便跟进。

[2015-03-31 07:32] siusin opened #7 "「直排時旋轉90度」 改成「依文字書寫方向標注」"
from @ethantw
[[
「5.1 附錄Ａ 中文標點符號表」有個欄位的標題是：

原先的描述過於「橫排本位」，我希望改成「依文字書寫方向標注」（依文字書寫方向使用相應的標注方向）。
]]

[2015-03-31 07:54] upsuper opened #8 "建议在规范前言里写明中文用户的反馈通道"
理论上大多数文档的初期都应该是使用行内注解的方式来管理 issue 的？那种情况下通常使用邮件列表来接受反馈。因为本文档应当需要接受中文用户的反馈，因此如果使用邮件列表的话，应该写明一个使用中文的邮件列表，比如 public-zhreq 等，而不是写英文的 public-i18n-cjk。

另外考虑到邮件列表的使用在中文用户群或许不是很广泛，或许也可以考虑将此 GitHub 或者甚至相应的 Hackpad 链接写入文档。我不是很确定 W3C 在这方面的规定。不过或许使用邮件列表管理而不是 GitHub 仍然是一种合适的方式。

[2015-03-31 07:58] kennyluck commented on #8
考虑到 `public-zhreq` 也[没有这么多人在用](https://lists.w3.org/Archives/Public/public-zhreq/)，考虑直接放 `public-html-ig-zh` 吧，这么多年来小组累计的订阅人数还是比较多的。

GitHub 链接 + 1。

[2015-03-31 08:08] siusin commented on #8
Agree.

@r12a offered the same advice just now.

public-zhreq 有部分不重合的人（出版界的），还是留着吧。收到重复邮件的话多多包涵。

[2015-03-31 09:41] jornakbobo opened #9 "对于千呼万唤始出来的《中文排版规范》"
今天在很特殊的情况下，知道了W3C发布了《中文排版规范》！作为一枚码农，好奇的查看了W3C的源代码。不过第一眼我就看到个问题，列表用的都是ul，规范里说的ol呢，dl呢？你tm是闹哪样啊？我亲爱的W3C君.......

[2015-03-31 10:15] Hawkeyes0 opened #10 "在手机浏览规范页面时，正文字体过小"
![wp](https://cloud.githubusercontent.com/assets/2275023/6916592/28a637de-d7d0-11e4-9853-12379b5124fb.jpg)
如图。在 Windows Phone 上列表和Note部分的字号比较适合阅读，其他的字号很小，不方便阅读。

[2015-03-31 10:45] upsuper commented on #10
这显然是你浏览器的问题，Android 上 Firefox 和 Chrome 都表现良好。

[2015-03-31 10:45] #10 closed, assigned to nobody

[2015-03-31 13:04] ethantw opened #11 "The translation of 漢字"
In the document we use Hanzi for the translation of 漢字 at the time. Richard suggests we replace it with Han characters. Will edit it if no comments advise otherwise.

[2015-03-31 13:17] lianghai commented on #11
Makes sense. "Han characters" is clear and conventional (in terms of multilingual technologies).

[2015-03-31 13:24] lianghai commented on #1
呃，中文的「韵脚」和西文 prosody 里的「foot」这两个概念毫无关系的……
「韵脚」指的是句末押韵（rhyme）的那个字，和字音的内部结构也没有关系。看全文似乎也没有出现这个术语。
所以其实是不是该把这一条去掉？
cc @ethantw

[2015-04-01 06:55] hax commented on #11
Hanzi 的用法是要和  kanji （jlreq）和 hanja （klreq）对应嘛。

我特别看了一下，在日韩的排版需求里，kanji和hanja大体是作为ideographic character的简称。尤其是与所用的其他字符对应（日文里kanji和假名对应，韩文里hanja和谚文对应）。

由此简写的意图来看，han character 比 ideographic character 或 chinese character 省不了多少。因此我建议还是可以用 hanzi 的。

[2015-04-01 07:18] upsuper commented on #11
GB12200.1-90 uses Hanzi as one of the translations of 汉字, the other one is Chinese character.

[2015-04-01 07:22] upsuper opened #12 "4.1 里的“注X）”应写为 Note"
在 4.1.2、4.1.3 和 4.1.5 中有几处写了“注1）”、“注2）”等。我想这个或许应该按照其他的一样写为 Note。

[2015-04-01 10:29] ethantw opened #13 "正式的中文標題名稱"
@lianghai 提到，當前的中文標題「中文排版規範」可能使讀者誤會文件的本來目的。英文標題是「Requirements for Chinese Text Layout」，直譯過來應作「中文排版需求」。而JLReq的日文標題是日本語組版処理の要件，其中「要件」也表示「需求」之意。希望正式名稱改為「中文排版需求」。

[2015-04-01 10:48] bobbytung commented on #13
就改成「中文排版需求」。此外，之前也提及「中文」與少數民族語言間的關係，但在W3C文件上，以蒙古文為例，應該也會是Requirements for Mongolian Text Layout。我們就不額外加上「漢字」了。

此外，這份文件在W3C會產生的效用與技術影響，我寫了篇稿件給劉慶刊載在Type is Beautiful上，應能有效說明。

更改後Close。

[2015-04-01 13:35] Dr-How opened #14 "文本中多处中西混排没有依照 3.2.2，3.2.4 留出空白。"
不知这是否构成问题。举两个例子：
- 3.2.1 缩写处，1999_年，ASCII_字元，等；
- Abstract 中多处 W3C 之后没有留空；

似乎还有很多。

[2015-04-01 16:34] ethantw commented on #1
目前的確沒有使用到這個term，先拿掉好了。

[2015-04-01 16:54] siusin opened #15 "添加3.5 段落對齊 / Paragraph adjustment rules"
https://clreq.hackpad.com/ep/group/oPdU0TktkdM
https://clreq.hackpad.com/3.5-段落調整-C1iqHrZCjPK

[2015-04-01 17:33] bobbytung commented on #7
我認為保留較佳，主要因為兩份相關的文件：
- [CSS Writing Modes Level 3](http://dev.w3.org/csswg/css-writing-modes-3/#intro-text-layout)
- [UTR#50](http://unicode.org/reports/tr50/)
  都有相關的敘述。

改成「依文字書寫方向標注」，反而不容易對應。而這個表格的目的就是快速參照使用。

[2015-04-01 17:42] bobbytung commented on #6
這裏應該是從TCL改寫成CL時的疏漏。
3.1.1.2中引號內的

- [x] 應移至括号之下
- [x] 將文中引號改為括号
- [x] 刪除最末「則較少使用於中文書籍」。
- [x] 附錄A標點符號表也修改為括号類

[2015-04-01 17:53] r12a commented on #14
There used to be a CSS property, auto-space, specifically for separating Chinese characters from latin/numbers.  It was implemented by IE.  I have to admit that i'm not fully conversant with its current status, but  i seem to remember that it was removed from the CSS spec until a later date.  I think it wasn' implemented by Firefox/Chrome. May be worth investigating.

In general, i think we should

[2015-04-01 17:55] bobbytung commented on #5
@upsuper 省略號我這邊過去遇到兩個字元：
「⋯」（MIDLINE HORIZONTAL ELLIPSIS Unicode: U+22EF）
「…」（HORIZONTAL ELLIPSIS Unicode: U+2026）
剩下的是U+FE19嗎？

我原先覺得應可用這兩個字元來切分位置，但語意上還是U+2026正確。

[2015-04-01 18:01] ethantw commented on #5
@bobbytung 最好用圖片描述。語意不對的字元不能因為長相對了就算對（U+22EF是數學符號），而且很有可能被誤解。加上某些平台可能沒有支援U+22EF的字體，會顯示成豆腐。

[2015-04-01 18:08] bobbytung commented on #14
It might be text-spacing in [CSS Text Module Level 4](http://dev.w3.org/csswg/css-text-4/#text-spacing-property).

[2015-04-01 18:23] bobbytung commented on #5
@ethantw 這一點我以前寫過一篇，所以這裏使用U+2026。
總之，依照文件Glyph應是置中三點，留個ACTION，之後處理。
- [ ] 整理有字型差的標點符號，以圖片呈現。

[2015-04-01 18:44] siusin commented on #14
@lianghai
Any thoughts? Shall we remove this rule from the document or mark it as a suggestion?

[2015-04-01 20:11] #13 closed, assigned to bobbytung

[2015-04-02 00:30] pinxue opened #16 "要么全简体要么全繁体，现在看着太头痛了"
“行间注是标注于字词旁侧的小字号补充文本。行间注的注文通常位于行间，与其所标注的基文对齐，因這一性質而又名為行間注。行间注在中文排版里的用途主要为标音与释义。”

行間注是標註於字詞旁側的小字號補充文本。行間注的注文通常位於行間，與其所標註的基文對齊，因這一性質而又名為行間注。行間注在中文排版裡的用途主要為標音與釋義。

用简体字的人群数量在这搁着，如果真想中文技术、出版社区参与进来的的话，不出个简体版就会有这种问题喽。

[2015-04-02 03:04] lianghai commented on #16
您不必操心这些。
简繁两个版本会在正式版提供，而目前这只是第一版公开草案。

[2015-04-02 03:04] #16 closed, assigned to nobody

[2015-04-02 03:18] lianghai commented on #14
这份文档不应使用 `text-spacing` 那样还未受到广泛支持的 CSS 属性或者特殊的 JavaScript 处理，否则文档内不稳定的排版样式会令读者困惑。
在目前 CSS 还没能实现这些高级排版特性的情况下，我建议我们应当使这份文档尽量在「纯文本」层面上正确。我个人偏好在纯文本情况下使用中西文间空格字符，但当然，因为中西文间空格字符是有争议的，该文档全文不用中西文间空格字符也是个足够明确的做法。

[2015-04-02 06:55] bobbytung commented on #14
原則上：
- 文稿間中文與英文不加空白。
- 也不使用JavaScript Polyfill。

我之前寫「簡單做好中文排版」時，也遇到讀者來信這麼問。回覆就是：
目前text-spacing還在CSS Text Level 4草稿裡，就是以目前標準技術做不到。

可能要請梁海與各位多擔待，撰寫時就統一體例，不加中西文間空白。

[2015-04-02 07:24] lianghai commented on #14
好，那大家就统一不加空格吧（将中西文间距视作「样式」而非「内容」）。
这样明确的态度很好。

[2015-04-02 08:51] lianghai commented on #11
那个「ideographic character」本身是个很糟糕的术语（语言学层面不正确），因为历史遗留和政治正确问题才依旧常常使用。
汉语书写系统的格局与日语、韩语不同，汉字与表音字母对立的情况并不存在。该文档中实际上也没有简写此类术语的必要。
中译英领域没有大量使用转写（拼音）的习惯，这和日语、韩语不一样。孤零零一个「hanzi」加大阅读门槛（并没有 kanji、hanja、kana、hangul 之类来与之并举），而且这种转写词不易入文（比如复数变形不管变不变都很别扭）。
在我看来，用「hanzi」的唯一价值就是比较简短。但「Han character」或「Chinese character」较为平实。相比之下，「Chinese character」更为纯粹，而「Han character」这样的妥协结果仔细想想其实比较尴尬。
我这下更偏好「Chinese character」了。

[2015-04-02 10:43] r12a commented on #11
Unfortunately a separate thread has been running on this topic on the public-zhreq list.
Please read the following (ordered chronologically to get around some issues we had with the archive)

chen zhuang https://lists.w3.org/Archives/Public/public-zhreq/2015Apr/0013.html
ishida   https://lists.w3.org/Archives/Public/public-zhreq/2015Apr/0000.html
li anqi  https://lists.w3.org/Archives/Public/publi

[2015-04-02 11:29] #14 closed, assigned to lianghai

[2015-04-02 14:36] ethantw opened #18 "Glossary should be presented in tables"

[2015-04-02 16:36] ethantw commented on #15
「3.5.3 對齊處理」是否直接對應JLReq的3.5.3 Single Line Alignment Processing？若是的話，應改為「單行對齊處理」較妥當。

[2015-04-02 16:37] hax commented on #11
感谢提供链接，我引用其中比较重要的一条：

然后 Ishida 的意见是“hanzi”对于大多数非中文用户来说搞不清意思，不如用 han character 清晰。他也接受“chinese character”的译法。

我剩下的疑问是 kanji/hanja 除了与表音字母对立外是否有其他限制，比如不包含标点。“汉字”大多数人的理解中应该不包含标点符号。如果使用hanzi这个术语，我会做类同理解。而 han character 和 chinese character 的理解是如何的？另外目前我也不清楚在文档中我们是否需要这样限制性的概念？

[2015-04-02 16:43] ethantw commented on #4
- [x] 避免使用ruby
- [x] 行距计算公式的格式修正
- [x] 单引号笔误

[2015-04-02 16:56] ethantw commented on #4
應該沒問題了，先關。

[2015-04-02 16:56] #4 closed, assigned to nobody

[2015-04-02 19:03] siusin commented on #2
1,2,4 Done

[2015-04-02 19:03] siusin commented on #1
Done. Tx.

[2015-04-02 19:04] #1 closed, assigned to nobody

[2015-04-02 19:04] siusin commented on #12
Done.
Tx.

[2015-04-02 19:04] #12 closed, assigned to nobody

[2015-04-02 19:16] siusin commented on #8
Done.

Thx.

[2015-04-02 19:16] #8 closed, assigned to siusin

[2015-04-02 21:22] bobbytung commented on #15
不是，請見均等的兩種狀況。

[2015-04-03 03:30] lianghai commented on #11
唉，「Chinese/han characters」当然不包括标点。没人会觉得它包含标点了……你现在有点把自己绕进去了。「某语 character」和「character」（编码技术的「字符」）概念是两回事。

[2015-04-03 03:48] hax commented on #11
@lianghai 我主要是希望大家（特别是native english speakers）确认一下对这个东西的理解是否一致。另外就是这种理解在文档的具体语境里是否恰当（或者无关紧要）。

[2015-04-03 12:59] bobbytung commented on #9
這是第一份編輯發布的草稿，內文格式待後期慢慢細修，連內容都沒寫完呢。

[2015-04-03 12:59] #9 closed, assigned to nobody

[2015-04-03 15:16] siusin opened #19 "删去未完成的4.2和4.3标题"

[2015-04-03 17:45] ethantw commented on #19
Done with 07a7a77cd.

[2015-04-03 17:45] #19 closed, assigned to siusin

[2015-04-03 17:46] ethantw commented on #15
了解，需要在這裡描述縱橫對齊嗎？

[2015-04-03 17:51] ethantw commented on #3
1. 該條注釋已去除
2. 樣式問題會在這二天一次修正

所以先關票咯 :stuck_out_tongue_winking_eye:

[2015-04-03 17:51] #3 closed, assigned to ethantw

[2015-04-03 18:06] siusin commented on #18
有部分词汇有较长的中文说明，确定table是最好的显示方式？

[2015-04-03 18:08] siusin commented on #2
@houkanshan
3 需要更详细的说明 ^_^

[2015-04-03 18:34] #15 closed, assigned to ethantw

[2015-04-03 18:58] #6 closed, assigned to bobbytung

[2015-04-04 03:31] houkanshan commented on #2
我也不清楚标准，但感觉存在不同处理（简/繁、古/今、个别案例）的部分都会放入 NOTE，这里是几个需要考虑的地方：
- https://github.com/w3c/clreq/blob/gh-pages/zh%2Findex.html#L669
- https://github.com/w3c/clreq/blob/gh-pages/zh%2Findex.html#L683

然后根据上下文看，觉得可以考虑作为正文的：
- https://github.com/w3c/clreq/blob/gh-pages/zh%2Findex.html#L502
- https://github.com/w3c/clreq/blob/gh-pages/zh%2Findex.html#L1186 （这条不是很明白，是在说明「标题作为某种功能使用时的分类」，还只是在说明「标题在所有使用场景下，依层接构造的

[2015-04-04 04:53] ethantw commented on #2
繁簡差異是這分文件主要闡述的着重點之一，寫在正文還是比較合適的。

楷體的用途的確應放入正文。

應該是後者。標題的定義也放入正文好了。

Thanks! 待之後修正。

[2015-04-04 08:26] tommyjtl commented on #1
@lianghai 理解跟字音的内部结构没关系。不过上面 Wikipedia 里的释义的确是你说的「指的是句末押韵（rhyme）的那个字」，不太明白。

[2015-04-04 16:55] ethantw commented on #2
B the W, 現在的注釋是一片鮮豔的綠色，實在過於醒目，目光全聚到注釋上了。之後會把樣式調整一下。

[2015-04-04 17:41] houkanshan commented on #2
啊这样的话， 看看 [L710](https://github.com/w3c/clreq/blob/gh-pages/zh%2Findex.html#L710) 是否应放入正文。与之类似的 [L683](https://github.com/w3c/clreq/blob/gh-pages/zh%2Findex.html#L683) 也在正文

[2015-04-05 03:19] ryukeikun commented on #11
其实我的倾向是，区别总集和子集的称呼。对于「CJKV统一汉字」这种人为的总集，使用 Han Character；而针对各个地区的子集，比如对于「日本汉字」或者日文编码里涉及到的汉字，可以用 kanji。因此，单纯针对 CLReq 这个文件来说，论述的对象是中文汉字，则多使用 Hanzi 这个词，和 JLReq 使用 kanji 一样。言外之意是，即使是同样一个汉字 Han Character，作为中国汉字 Hanzi 则是这个 CLReq 的处理对象，而如果到了日文语境作为 kanji 则遵守其他的需求和标准。

[2015-04-05 12:31] ethantw commented on #5
在 55c7aac6 中已大致調整完畢，先關票。省略號的圖片就之後加咯。

[2015-04-05 12:31] #5 closed, assigned to nobody

[2015-04-06 09:44] jjgod commented on #14
Any particular reasons for that? Since `text-spacing` is not technically ready I do prefer spaces.

[2015-04-06 10:37] ethantw commented on #14
Bobby and I think the spaces are presentational not semantic. Inserting spaces in between is somehow like indenting text/paragraphs with spaces. It is also a convention used by Wikipedia and JLReq.

[2015-04-06 10:49] ethantw commented on #18
使用表格的話，讀者可以將焦點放在相同欄位快速地上下査找。一般的describing lists就無法提供這種呈現方式。

[2015-04-06 11:01] ethantw commented on #14
If we choose to believe that the spaces between Hanzi and Western scripts are _semantic_, which I have no problem with. But maybe section 3.2 should not even be included in the document. The main purpose of CLReq is about text layout, not telling people to spell correctly, use proper characters or type spaces after Western periods.

[2015-04-06 11:24] upsuper commented on #14
Things like “typing spaces after Western periods” probably should at least be mentioned in a note, since it could have impact on layout. I think probably everything about space is worth being mentioned in a layout requirement doc.

[2015-04-06 11:27] upsuper commented on #16
我想或许整理简体版和繁体版这件事可以开一个issue放在那边。一来作为一个未来的计划事项，二来（也许）也可以减少开新issue提这件事情的人。

[2015-04-06 11:50] Dr-How commented on #14
Spaces between Chinese characters and western words can be semantic, but also part of the style.

Check these examples:
- In Chinese, the character 打 means love.
- 微软使用 das Auto 作为广告语。
  In these examples, the spaces are semantically necessary.

For only one word in Chinese context, the spaces are also important for the style.
If the technique is not ready for this, we simply input the spaces manu

[2015-04-06 12:05] upsuper commented on #14
When a space is semantically necessary, we certainly should add a whitespace in content. However, when we inputing whitespaces only because technique is not ready for styling, I'd tend to avoid doing so, especially given that whitespaces could have semantic meaning.

[2015-04-06 12:31] Dr-How commented on #14
You can not simply say that spacing is content or style.
You can not simply separate style from content.
Spacing is content AND style.

Do you tend to avoid indentations when your editor does not do it automatically?
Do you tend not to center / emphasize / indent the title when your editor is too primitive?
Do you tend not to do anything about style when you use a typewriter?

[2015-04-06 12:33] ethantw commented on #14
@hao-chen:

It is my personal opinion that the spaces between Hanzi and Western scripts are _not_ semantic. And I agree that these arguments won't come to an end in the near future. All I was saying is, if we believe the spaces in between are semantic, then it wouldn't be logic to have such rules in this document.

The first example you provided is in English. English context, English rules: words

[2015-04-06 12:38] bobbytung commented on #14
It's FPWD, so we do nothing to styling as we do not separate this document into simplified and traditional Chinese as well. In the process, we just decide editors should manually add space between Hanzi and Latin words or not, I suggest not.

If editors agree, we can go on.

But discussion here is quite important. it still a problem we will face with implementation.

[2015-04-06 12:48] Dr-How commented on #14
@bobbytung @ethantw:

I disagree with the idea of completely separating content / semantic from style / layouts.
You can not exclude the rule simply because you think "it's not about style".
You can not ignore the rule simply because you think "it's not semantic".
People like me disagree with either of the two statements.
For me, spacing is about style and is semantic.

In my second example, let u

[2015-04-06 13:05] Dr-How commented on #14
@ethantw

In this case, is Section 3.1.1 (usage of punctuations) logic to be included in this guide?  I find this part purely about usages, nothing about style.

[2015-04-06 14:51] ethantw commented on #14
Sec. 3.1.1 is not only of the usage but is actually the introduction to the entire sec. 3.1, which classifies the punctuation marks, indicates their Unicode char codes, their presentational styles, their differences between TC-SC and whether or not one mark is adapted in publications nowadays. The usage helps determine their definitions and avoid misleading cases. For example, 破折號 can sometimes lo

[2015-04-06 15:21] ethantw commented on #14
I do agree it is ugly. But I still believe it's layout engine's problem, not mine, not typers'. I also think the following case is ugly:

But I would not use the half-width punctuation simply to present the effect of compression of punctuation.

[2015-04-06 16:48] Dr-How commented on #14
Glad that we both agree that these examples are ugly.
In your example, few can be done to save the situation.  Change to half-width punctuations would break the consistency of the whole text.  This would destroy the style instead of improving it.  I would suggest the typer / author to rephrase and avoid this.
In my example, instead, the typer only needs to add two spaces.  This does no harm to the

[2015-04-07 02:31] hax commented on #14
@hao-chen When you said "ugly", it's obvious you are talking about "style".

另外，在目前这个阶段，这草案本身的排版问题（还有诸如繁简问题）是小问题，不必纠结。

[2015-04-07 06:24] Dr-How commented on #14
Yes, I was talking about a style, which I personally find also semantically necessary but won't insist, which should be manually taken care of since the technique is not ready.  I accept the opinion of "not semantic", never admit it.

After their explanation on the decision, this is now an issue about keeping of removing this requirement from the text.

[2015-04-07 09:19] siusin opened #21 "尽量避免用日文排版规则来解释中文排版"
From 殷建民老师

[[ ..

文中多次出现用日文排版规则来解释中文排版的内容，尽管我们都清楚，中文版式需求是根据日文版式需求文档修改的，但没必要去类比日文。例如，1.2中第3条 “中文排版與日文排版有近似之處，也因書寫系統不同，而有所差異”。将此条单列，作为中文排版的一项特色来说明，有点突兀。况且读者也不一定懂日文的排版规则，建议修改相关内容。

..
]]

+1 from me

[2015-04-07 12:24] ethantw commented on #7
How about 依文字書寫方向標注（直排時順時針旋轉90度）?

可以斷作二行，括注的內容也可以改用`small`元素。

[2015-04-07 12:27] siusin opened #22 "简体版和繁体版的整理工作"
本文档还处于草稿阶段，为方便编辑们的协作，暂时还是简繁体混合整理。

第一版正式草稿完成后，将进行繁体版和简体版的转化（保留两者独有的需求规范），并在文档里提供繁体版、简体版和英文版的链接。

欢迎大家在任何阶段提交简体版和繁体版部分转化的pull request。

[2015-04-07 12:28] siusin commented on #16
@upsuper 支持。

直接开了一个新的issue说明情况，相关讨论请转移到#22.

[2015-04-07 12:33] bobbytung commented on #7
避免誤解。這表格功能重於表意，若內文敘述要修改我沒意見，但這表格我希望讀者能迅速理解。

[2015-04-07 12:48] ethantw commented on #7
理解。但原欄位標題還是改成「直排時**順時針**旋轉90度」較好。

[2015-04-07 12:48] #7 closed, assigned to nobody

[2015-04-07 13:46] bobbytung commented on #7
順時針ok，感謝。

[2015-04-07 14:34] siusin commented on #21
@ethantw @bobbytung

我整理了一下文中提到的日文规则，大部分引用是用日文里的规则阐释中文的规则，如果读者之前没有阅读过JLReq，这些的确可能造成困惑，你们觉得呢？是否应该改写成直接描述规则，提供插图的方式？

1.2 本文件之撰寫方針
[[
中文排版與日文排版有近似之處，也因書寫系統不同，而有所差異。
]](个人认为 -- 可删除或者改成：中日韩排版有近似之处，阅读本规范时能同时参考JLReq和KLReq)

2.1.3 漢字的配置原則
[[
中文漢字字體面率一般較日文字體小，除非在特殊狀況下，不需特別處理。
]]

2.3.5 設計版心的注意點
[[
在繁體中文排版，字間的注音符號可能會超入行距空間，而翻譯書籍亦可能使用類似日文排版的ruby文字，此時行距仍需保持一致。當文書需要配置這些元素時，於設計版心之階段就須考量到這些要素來決定行距。
]](个人认为 - 此处

[2015-04-07 14:55] bobbytung commented on #21
這段描述可刪除。

這一點還蠻重要的，現在許多中文呈現的問題，都因為這點差別。
我建議採實際字體驗證比對，以圖呈現。我做一張來看看。

這裏主要是指台灣看到的輕小說排版，所以提出。我覺得直接連結至JLREQ Ruby那一節即可。

這是之前在i18n CJK討論中文middle dot的結論，希望能保留。或改為：・[katakana middle dot]來自日文JIS編碼，並非中文編碼，不建議使用

可刪除[繁、簡中文及日文等]，因前面已提及CJKV。

建議保留，描述中不限於橫排，也包含古籍，直排時標點與日文較貼近。
或者刪除[類似⋯⋯符號]，另以圖片呈現說明。

比照2.3.5，連結至JLREQ。
或者另開Issue，討論從日本排版引進的標點懸掛是否要列入CLREQ，但我發現不少簡體的印刷書也這麼排，實質是有影響。

（即日文書⋯⋯）可刪除。

[2015-04-07 17:07] siusin commented on #21
Fixed by commit 5a735840f9900f5aab0a26da29ca9bde5ac85d6b.

剩下的可归结为插图。

[2015-04-07 17:07] #21 closed, assigned to bobbytung

[2015-04-08 07:06] #18 closed, assigned to nobody

[2015-04-08 07:27] siusin commented on #18
@ethantw

之前还有人提出table应该用实线，你怎么看？我可以改style。

[2015-04-08 07:43] ethantw commented on #18
樣式等我把注音的插圖加進來後再一起改吧，有很多地方需要調整。我稍後開一個issue記錄需要改進的地方。

[2015-04-08 07:48] siusin commented on #18
OK, thx ^_^

[2015-04-08 11:57] ethantw opened #23 "基本樣式相關改進"
- [x] 避免使用偽斜體漢字
- [x] 注釋背景過於醒目
- [x] 小節內容改用ordered lists便於定位
- [x] 縮小lists內的標題、段落間距
- [x] 表格調整

還有一個與樣式較無關的問題，目前的注釋id自原始頁面由腳本自動生成，後加入的內容已打亂其id排序，也沒有對注釋加入閱讀編號，引用時會比較麻煩。

[2015-04-08 17:39] siusin commented on #23
我新加入的注释已经把id删除了，要不直接把所有注释的id都删除？文档里面应该没有对单一注释对引用吧？

[2015-04-09 05:31] ethantw commented on #23
我翻了一些W3C的TR文檔，注釋大都沒有獨立的id，那就統一拿掉吧 :hammer:

[2015-04-09 15:11] ryukeikun opened #24 "词汇表中的汉语拼音最好加入声调？"
词汇表中新增加了「汉语拼音」一栏。是不是最好加入声调？

[2015-04-09 16:05] ethantw commented on #24
好呀，我當初只是用來排序，沒想那麼多。

[2015-04-09 17:24] realfish opened #25 "「两个省略号连用」的分离禁则"
3.1.5.a 所述「两个省略号连用时，占四个漢字位置并须单独占一行」，援引《GB/T 15834—2011》。

这条规则得以成立的前提是，省略号的使用者须严格遵循《GB/T 15834》所定义的标号使用规范。该「规范」定义了「十二连点」所标示的是「诗行、段落的省略」。

在通用实践里，「两个省略号连用」完全有可能出现在「行内」；因此《GB/T 15834》所规定的书写形式，似乎不宜列入通用排版需求的「分离禁则」。

[2015-04-10 00:05] ryukeikun commented on #24
我修改了前几个，你看看效果如何。其实完全要按照大小写、分词法来写也是一件很难的事情……

[2015-04-10 07:03] bobbytung commented on #25
的確，台灣的標點符號手冊也未強制要求禁止分離。
煩請 @ethantw 修正。

[2015-04-10 08:33] lianqi commented on #11
read about this on Unicode website
http://www.unicode.org/faq/han_cjk.html#17
Q: Why does Unicode use the term "ideograph" when it is linguistically incorrect?

A: The characters used to write Chinese are traditionally called "Chinese characters" in the various East Asian languages (hanzi in Mandarin, kanji in Japanese and hanja in Korean). In English, they are generally referred to by names such

[2015-04-10 08:40] lianqi commented on #11
read about this on Unicode website
http://www.unicode.org/faq/han_cjk.html#17
Q: Why does Unicode use the term "ideograph" when it is linguistically incorrect?

A: The characters used to write Chinese are traditionally called "Chinese characters" in the various East Asian languages (hanzi in Mandarin, kanji in Japanese and hanja in Korean). In English, they are generally referred to by names such

[2015-04-10 08:43] lianqi opened #26 "“传承字”如何翻译比较准确？"
目前查到的很多翻译直接使用的 traditional chinese， 但是无法和繁体中文相区别。如果突出传承字的特点。Inherited traditional character是否妥当？行业内是否有标准的译法可供参考？

[2015-04-10 09:29] ethantw commented on #26
現在正文裡已經去掉這個詞了，未來應該也不會再用到。（晚點詞彙表也要清理一下 :tongue: ）

但如果可以討論出一個合適的譯名也是挺好的 :laughing:

[2015-04-10 09:30] ethantw commented on #25
直接把該規則拿掉？還是稍做修改？（呼叫一下 @ryukeikun）

[2015-04-10 09:32] lianqi commented on #26
那么请问2.1里面的这一段内容还有保留么？这是第一处出现“传承字”的地方。

[2015-04-10 09:32] ethantw commented on #23
調整得應該差不多了，未來若有樣式相關改進需求再開新issue吧。

[2015-04-10 09:32] #23 closed, assigned to nobody

[2015-04-10 09:37] ethantw commented on #26
這段描述有錯誤，已經（於 9e577cc6f71）修正為：

（可能瀏覽器cache到舊內容？請強制刷新一下）

[2015-04-10 09:39] lianqi commented on #26
了解，谢谢Ethan！

[2015-04-10 11:51] realfish opened #27 "关于 2.4.2.d"
### 2.4.2.d.1

此处「各欄左右行數」似乎是 typo？根据上文推断，是否应为「上下各欄行數」？

<br/>
### 2.4.2.d.2

就大陆地区的横排实践而言，「平均各栏行数」应该仅是某一种特定的排版偏好（optional），似乎不足以构成普遍的排版惯例（conventional）。

<br/>
### 关于平均各栏行数

平均各栏行数的目的，是保证各栏的「视觉长度」尽可能一致。

因此，平均各栏行数通常有一个设计前提是段落密排，也即没有额外段间距；否则，以「行数」为基准来实现平均计算，通常难以得到理想的视觉平均效果。当下中文排版实践中，段间距已获得普遍应用（甚至有不少设计者在段首缩进的同时，叠加使用段间距）。

此处是否值得加注一笔？

[2015-04-10 12:39] realfish opened #28 "关于科技文献的句号、逗号"
#### 3.1.1.a：注 1

上文与 3.1.3  描述科技文献句号时所指涉的字符不一致，后者所用的 `[．](FULLWIDTH FULL STOP)` 应该更值得推荐。另外，与 `FULLWIDTH FULL STOP` 搭配使用的逗号应该推荐 `FULLWIDTH COMMA (U+FF0C)`，不必转为 `COMMA (U+002C)`。

---

补充：3.2.1 末尾也有提及科技文献的句号，问题同上。

[2015-04-10 12:58] ethantw commented on #28
當作「頓號」使用時，好像使用半形的`[,](COMMA)`比較多見？

[2015-04-10 13:02] ethantw commented on #28
改成以下描述是否合理？

[2015-04-10 13:09] Buernia opened #29 "字体范例的选择"
2.2节中的字体范例图像，所展示的字体不知道是以何种标准选择的（也许是直接从系统或软件预装字体中选取而来）。个人感觉效果不佳。在此提出一些看法，见笑。
个人认为字体范例的选取应使用较常见于印刷品中的字体。并且基于可能的“预装字体优先”的选择。我的建议如下（皆为简体中文范例的选择）：
（括号内为其它备选项，标注等号的字体名为与推荐选项中文字形相同但文件不同的字体）
宋体：
宋体-简 粗体或常规体（中易宋体，=华文中宋，方正书宋）——基于铅字宋二体的字体
方正宋体-超大字符集（=方正宋体）——基于铅字宋一体的字体
黑体：
黑体-简 中等（=华文黑体，=Adobe黑体，方正黑体）——基于铅字黑体的字体
微软雅黑（=方正兰亭黑）——大字面的现代黑体
思源黑体——字面介于前二者之间的黑体
楷体与仿宋体由于现有字体的字形高度一致，不作推荐。
另外：
字体范例字体似乎都经过了电脑加粗，不利于展示字体，望

[2015-04-10 13:17] Buernia commented on #29
(手滑按了回车键，续。)

楷体与仿宋体由于现有字体的字形高度一致，不作推荐。
另外：
字体范例字体似乎都经过了电脑加粗，不利于展示字体，望修正。
个人不太喜欢台湾教育部标准字形，建议使用旧字形的字体来展示繁体中文。
以上，不当之处请指正。

[2015-04-10 13:19] realfish commented on #28
啊，这个现象我倒没考虑……推理来看，我倾向于认为：
- 科技文献混用逗号和顿号的情况比其他文献更多见（可能是作者不够注意体例，也可能故意不用顿号）；
- 在印刷品中见到的 half-width comma，很可能是标点挤压的样式所造成。

不过我编排中文科技文献的经验很有限，以上仅供参考 :)

[2015-04-10 13:22] ethantw commented on #29
![2015-04-10 21 21 07](https://cloud.githubusercontent.com/assets/31068/7088594/8e86bcd2-dfc7-11e4-9b20-2fbda5503cfa.png)

可以透過右上角的「筆」來修改issues或comments內容哦。

[2015-04-10 14:10] bobbytung commented on #27
## 2.4.2.d.1

是的，這裏應該修正為：

## 2.4.2.d.2

這裏主要從JLREQ而來，圖示如： http://www.w3.org/TR/jlreq/ja/Images-ja/img1_25.png
就我編排雜誌的經驗，盡量會讓兩欄於最末頁齊行。希望 @realfish 提供一些簡體書的範本。
如果橫排也可不齊行，那麼2.4.2.d主要講的是直橫排差異，可整段刪除。

補上我手邊有的書的範例：
1. 按照2.4.2.d敘述，橫排雙欄行數一致：
   http://www.dropbox.com/s/lk70nuukd6ft6qe/IMG_0030.JPG
2. 雙欄行數不一致，但作者資料作為Box元素補齊行數差：
   http://www.dropbox.com/s/haah5zvgw36tp0k/IMG_0031.JPG

[2015-04-10 15:49] realfish commented on #27
一时难以收集权威文献，手边只有一些孤证供临时参考：
1. 《离线·开始游戏》（Offline No.001，电子工业出版社），设计师杨林青是《第一财经周刊》的前任设计师，也为三联书店、世纪文景等出版机构工作。
2. 《知日·书之国》（ZHI JP No. 4，凤凰出版社），该刊物有不少版面刻意使用非平均的双栏排版。

![offline](https://cloud.githubusercontent.com/assets/3247876/7091136/2cd75a74-dfda-11e4-8b51-ad2b35d0b5d6.JPG)
![zhijp](https://cloud.githubusercontent.com/assets/3247876/7091141/34401c42-dfda-11e4-8cab-f5a530660bf5.JPG)

---

补充一例：

有一定学术

[2015-04-11 06:02] ryukeikun commented on #25
这规则的确援引《GB/T 15834—2011》。我们先看原文：

我觉得，这部分内容不应该删除，而是应该转移到我们 3.1.1 b. 里面去。

至于具体解读，GB 一直很暧昧。单纯字面来看，规定说
1. 两个省略号连用（12个点），「可以」用两个，但是非强制，也就是说用一个也可以。
2. 但一旦用了两个，「须」单独成行。很明显，原意是不能让三个点单独跑到行首。
那么六个点一起到行首怎么样呢？GB 没说，也许它觉得这本来就是不规范的用法，不是排版的问题了。

[2015-04-11 09:19] ethantw commented on #25
瞭解了。「單獨占一行」其實就是我們所稱的「禁則」，而非要求12個省略點自成一個段落（行）。這樣一來，放在3.1.5我覺得也沒什麼問題，只是需要rephrase成《需求》的慣用語。

這樣如何？

[2015-04-11 11:31] realfish commented on #25
《GB/T 15834》说的「须单独占一行」，指的就是「单独成行」或「单独成段」的意思。因为这条书写规则并非独立出现，而是建立在十二连点的用法之上：

<br>
相应地，《15834》在描述通常意义上的「分离禁则」时是这样表述的：

值得注意的是，《15834》未曾指明过省略号的「中间断开」是否是以三点为一组的断开；换言之，《15834》并不明确讨论中文标点符号在计算机字符层面的构造及实现方法。这一点，破折号的情况（de facto 双字符标点）是类似的。

<br>
所以，以上其实有两个问题：
1. 十二连点单独成行，严格来说是比「分离禁则」更强的一条书写规则——就视觉结果而言，它首先要求十二连点不分离，同时要求清空符号所在行的首尾。
2. 《GB/T 15834》描述的十二连点单独成行，更像是一种要求作者主动进行的分段 / 换行的操作。比起**排版规则**而言，它更像是一种**写作 /

[2015-04-13 05:33] bobbytung commented on #27
我覺得2.4.2.d不完全適用於中文，整段刪除。
其他編輯 @ethantw 覺得如何？

[2015-04-15 14:05] siusin opened #30 "Move the images directory outside zh/"
Move this directory outside zh/ so that the English/Chinese versions can share the images

[2015-04-15 14:39] ethantw commented on #30
因為圖片也要區分語言，共用一個資料匣可能不太好。

[2015-04-16 03:48] hax commented on #21
如果这份文档的目的是作为相关spec的需求输入，则需要考虑相关spec参与者的知识背景。提及和类比日文排版我觉得也许是有帮助和必要的。

甚至我觉得在开始部分有专节描述中日韩排版的关系和差异，也许能帮助（中文）读者理解此必要性。

[2015-04-16 08:41] siusin commented on #30
Ok，那还是先分开吧。

[2015-04-16 08:41] #30 closed, assigned to nobody

[2015-04-16 08:48] siusin commented on #21
@hax
感觉用一个专节描述三者关系也是个好主意，将来可以添加。

[2015-04-16 13:53] bobbytung opened #31 "標點符號於直排時的位置差異"
按照GB/T15834-2011中，5.2.1的規範：

這部分也反映於UTR#50的[範例](http://unicode.org/reports/tr50/)上。

關於這一點，的確於大陸繁體古籍竪排書上如此處理，使得這一點規定不是「簡繁」標點符號的差異，而是「地區排版習慣與規則」的不同。建議於下一版在3.2標點符號與其排版中加一節做詳細的說明。

這會與Locale（zh-Hant-CN, zh-Hant-TW, zh-Hant-HK），以及Unicode及字型實作有所影響，需要詳細說明。

[2015-04-24 09:21] lianqi opened #33 "版心中的“字间距”？- 来自金山WPS的反馈"
在“版心”设计元素中，是否还可以补充一个“字间距”，它的用途是让用户设置“每行允许显示的字数”？

[2015-04-24 09:23] lianqi opened #34 "“图文混排” - 来自金山WPS的反馈"
在整个文档中，我们没有看到“图文混排”的描述（如：四周型环绕、上下型环绕），不知这个文档中是否仅是对文字显示排版的需求，不涉及到其他元素？

[2015-04-24 09:25] lianqi opened #35 "关于蒙古文这样连写文字的禁则等问题 - 来自内蒙古大学的反馈"
最近看到各位专家有关中文版式的讨论，很受启发。
只是需要补充的是中文版式里面似乎没有考虑到像蒙古文这样连写文字的禁则等问题：
如，以中文为主的版式是横向的，且其换行、断行都有其基本成熟的规则。但如果其中加入蒙古文（其实阿拉伯文也同样），
其行内就出现新的问题。所以我觉得我们还必须考虑中文版面多文种混排的问题。
我不知道各位专家是否已有成熟的方案。

[2015-04-24 14:17] ryukeikun commented on #35
我觉得我们应该就几点问题展开讨论：
1. 各民族语言文字有其各字的排版需求，各文种基本原则应该分别起文档论述
2. 此文档作为「中文排版需求」，必须要考虑到与其它文种混排的情况。要说，但不能也不可能说得过细。
3. 在民族自治地区，双语文是很常见、很必要的。除了双语文并排，也可能双语文混排，其重要程度不亚于中西混排，不能只谈中西混排而忽视在实际运用中很需要的民族语文内容。
4. 各民族语文众多，可根据书写系统大致分述基本原则，如壮文用拉丁字母，而朝、藏也都为横排，一些事项可遵循西文混排事项；而维吾尔文、哈萨克文都采用阿拉伯字母从右向左体系；而直排蒙文在混排中迁就横排汉文而放倒，即使和直排汉文混排也有反向移行问题等等，这些可分类概述，讲到基本原则即可，也不要导致内容冗长。

如果以上三点原则没有大问题，我可以起草混排部分的修改大纲，具体内容当然需要各文种专家的支持。

[2015-04-24 14:19] ryukeikun commented on #34
在编写计划中第四章有「4.3　圖片與表格與計算公式的處理 / Processing of illustrations, tables & expressions」，正在工作，请稍候

[2015-04-26 19:27] lianghai commented on #1
@technommy: 我完全不明白你是想说什么……

[2015-04-26 19:34] lianghai commented on #33
嗯，「字距」与「每行字数」（即「每行允许显示的字数」，文中现在的措词是「一行的長度（字數）」）二者是和「行距」与「每页行数」二者对称的，现在文中已经有后三者了，「字距」应当加上。

[2015-04-26 20:10] lianghai commented on #31
标点符号样式本来就完全是地区习惯不同的，和「简繁」问题无关。一切涉及标点样式的讨论都不应当用「简繁」来区分情况。
大陆竖排标点靠右上，不论简繁都如此，不仅仅是「大陸繁體古籍竪排書」的问题。
另外，「（对）Unicode及字型實作有所影響」指的是什么？

[2015-04-27 00:21] bobbytung commented on #31
先寫下筆記，竪排（直排時）：
- zh-Hant-CN與zh-Hans-CN的標點從GB/T-15834，以及UTR#50的範例，置於文字下方偏右。
- zh-Hant-TW時，標點置中。
- zh-Hans-TW案例較少。

第一項我檢證一下目前的實作，在我記憶裡似乎沒依照LTLI做到這麼細的調整。之後再寫成敘述加入CLREQ修改。

[2015-04-27 08:18] lianqi commented on #35
Cc 内蒙古大学的那顺乌日图老师

Hi Ryukeikun，

感谢你的回复！

请见comment如下：

From: Ryukeikun [mailto:notifications@github.com]
Sent: 2015年4月24日 22:17
To: w3c/clreq
Cc: Angel Li
Subject: Re: [clreq] 关于蒙古文这样连写文字的禁则等问题 - 来自内蒙古大学的反馈 (#35)

我觉得我们应该就几点问题展开讨论：
1. 各民族语言文字有其各字的排版需求，各文种基本原则应该分别起文档论述

**\* 同意。目前计划起草的还有维哈克语排版需求文档（已有国标），蒙古语排版需求文档（那顺乌日图老师牵头在做）以及藏语排版需求文档这三个主要少数民族语种的文档。
1. 此文档作为「中文排版需求」，必须要考虑到与其它文种混排的情况。要说，但不能也不可能说得过

[2015-04-28 04:47] ryukeikun commented on #33
added.

[2015-04-28 04:47] #33 closed, assigned to nobody

[2015-04-28 04:48] #26 closed, assigned to nobody

[2015-04-28 04:51] ryukeikun commented on #27
既然在分栏方面横排与直排没有差别，我赞成把 2.4.2.d 直接删掉。

[2015-04-29 01:07] ryukeikun commented on #35
安琪你好！
我草拟了一个大纲，请大家看一下

https://clreq.hackpad.com/3.3--r2Rp71RAnFI

[2015-04-29 15:52] bobbytung commented on #29
字體圖例需要重新製作，我覺得原則為：
- 兼顧簡繁
- 表示大陸、香港、台灣的字形差異
- 包含字體內常見的設計差異

## 宋/明體
- 方正宋一（簡字、宋一體）
- 中易宋（簡字、宋二體）
- 新細明體 或 儷宋（繁字）
- 宋體繁（繁字）

## 黑體
- 黑體簡（簡字）
- 微軟雅黑（簡字）
- 或 增加思源黑體（簡字）
- 黑體繁（繁字）
- 思源黑體（繁字）
- 或 增加微軟正黑體（繁字）

楷體依然使用楷體繁、楷體簡、標楷體，但差異不大。

仿宋除華文仿宋外， @Buernia 還建議哪些字體具代表性？

[2015-04-29 15:54] bobbytung commented on #27
- [ ] 刪除2.4.2.d

[2015-04-29 16:03] bobbytung commented on #25
例如：
潯陽江頭夜送客，楓葉荻花秋瑟瑟。
⋯⋯⋯⋯
千呼萬喚始出來，猶抱琵琶半遮面。

指定由四個漢字位置、12連點構成「句」的省略，的確偏向於編輯體例。但無論如何，使用時必須單獨成行，且中文書不會遇到每行小於四個字的狀況（笑）。所以，雖有規定，但與3.1.5.a符號分離禁則的處理不符合。這裏不需提及。

[2015-04-29 16:04] #25 closed, assigned to ryukeikun

[2015-04-29 16:13] bobbytung opened #36 "參考文獻的整理與表示"
如：_3.2　標點符號與其排版_

兩份參考文獻、以及其他的文獻另建於附錄Ｃ，僅列文件名與代表編號。盡量讓「中國大陸」、「台灣教育部」等不出現於內文中。

[2015-04-30 06:53] ryukeikun commented on #24
 已经更新。

[2015-04-30 06:53] #24 closed, assigned to nobody

[2015-04-30 12:02] Buernia commented on #29
初来 Github ，尚未熟悉使用方法，见谅。

虽然现有电脑仿宋体设计高度一致，但是依据各地字形选取不同字体是有必要的。
港澳台的字体使用情况我并不清楚，王汉宗的仿宋体作为繁体范例如何？

[2015-04-30 12:40] upsuper opened #37 "关于引号用途的描述"
现在的版本中关于引号写的是

引号还可以直接用于表示话语本身，例如小说中的对白。这个感觉应该不属于“引用”的范畴。

[2015-04-30 12:45] upsuper opened #38 "所扩内容跨段时引号的特殊用法"
我在轻小说译本中有看到过类似于

这种形式的不匹配的引号用法，或许值得特殊说明？

[2015-04-30 12:50] upsuper opened #39 "标点符号可添加“示亡号”"
“示亡号”就是在人名旁边加一圈黑框表示这个人已经死了的那个符号。这个符号似乎在各种标准里面都没有出现，但是在正规档案和书籍中似乎并不鲜见。

维基百科相关资料：https://zh.wikipedia.org/wiki/%E7%A4%BA%E4%BA%A1%E5%8F%B7

[2015-04-30 12:51] upsuper opened #40 "中文版的“致谢”里面可用我的中文全名"
中文版还是写中文名吧：权循真
英文版再写Xidorn Quan就好了

[2015-04-30 13:39] realfish commented on #37
对白、对话属于「直接引用」。

[2015-04-30 13:49] upsuper commented on #38
这种用法在GB/T 15834-2011中有提到，在4.8.3.5

[2015-04-30 13:55] upsuper commented on #37
或许不能说小说……小说中的对白有可能可以看作直接引用，不过轻小说的有一些或许不可以。

我印象中有看到一种说法认为轻小说的写法是源于剧本的（道听途说，无可查证的正规来源）。剧本上的对白并不是引用，因而也不使用引号。但轻小说考虑小说的表示法，将对白用引号扩起来，但这样的对白同剧本中的并无差异，我怀疑不应当算作是“引用”。

[2015-04-30 14:08] realfish opened #41 "弯引号在直排中的处理"
相关段落为：3.1.1.b > 引號 > 注2

1. 繁简体的表述问题，另见 #31，此处略过。
2. 有文献在直排中引用西文内容时，采用与西文样式更匹配的弯引号。该情况下，弯引号的书写方向可能须跟随被引用的西文内容（转向或纵中横），此处是否值得加注？（参考资料：《藝文印刷月刊》，刊发于 1930 年代）
   - http://www.typeisbeautiful.com/wp-content/uploads/2014/12/yiwen_039.jpg
   - http://www.typeisbeautiful.com/psa/the-graphic-printer/#40

[2015-04-30 14:19] realfish commented on #37
将言语（语音）式的对话、对白直接记录（转录）成文字，不加篡改——这样的内容用「直接引用」这个术语来描述，应该是没有问题的；这与写作体裁没有什么直接关系。

类似剧本式的特殊文体，直接引用的内容（对白）可能占据了绝大多数篇幅。在这种特殊文体中，省略重复出现的引号，没有什么问题。很多剧本还会引入其他特殊标记，或者对常用标点定义特殊用法，这些特例由作者、编辑和特殊文体的设计师协商解决就可以了，应该没有必要在通用排版规范中一一列举……

[2015-04-30 14:26] ethantw commented on #41
記得近年出版的直排小說也有這麼用的例子，比如括注英文歌名（作為篇名號）的時候。不過我手邊找不到這樣的書，所以就沒圖片啦。 :stuck_out_tongue:

[2015-04-30 20:48] upsuper commented on #37
如果这样的话那就关掉吧……

[2015-04-30 20:48] #37 closed, assigned to nobody

[2015-05-01 03:20] ryukeikun commented on #41
这里把 [Jlreq](http://www.w3.org/TR/jlreq/ja/#differences_in_vertical_and_horizontal_composition_in_use_of_punctuation_marks) 中 3.1.1 b.2.  注3）的部分翻译出来，写法供大家参考

所以，基本上就这么写就可以了，不用一口说死「不能用」。

[2015-05-01 03:25] ryukeikun commented on #40
Updated

[2015-05-01 03:25] #40 closed, assigned to nobody

[2015-05-01 03:47] ryukeikun commented on #39
## 1. 先说为什么没有加的原因。

是的，正如维基百科页面所记载，这个标点符号并不在GB《标点符号用法》所列之内。也许 GB 把它算广义的「符号」，比如星号（*）等，这种分类并不是根据「是否常见」来定义的。GB 中对标点符号的定义是：

另一方面，原本以为这是一个中文特色符号，加进来可以凸显和日文、韩文的不同，但是后来发现这个符号也不是汉语独创，而是源于俄文书刊……

## 2. 除了“示亡号”，类似符号还有

代字号　×　（张某某）
虚缺号　□  （碑文里无法辨认的字）
标示号   *
这些符号都是中国国家语言工作委员会的厉兵先生在[《出版工作中的语言文字规范》讲义](http://wenku.baidu.com/link?url=Rz6SmhadkY08iawjYGkwLv1F6rsZwcAcU2fNix9r85OcaA5wd2a4Ha6_lTkaX0T_i-aEeJ2LtUXEp

[2015-05-01 03:55] ryukeikun commented on #38
我觉得可以考虑加入。不知其他编辑意见如可？ @ethantw

[2015-05-01 04:07] ryukeikun opened #42 "括号类符号的称谓"
括号类符号（）「」‘ ’ 等都是一对，对于单独的名称，各处有各自称谓，现在文中混杂，是否需要统一？

Unicode 的字符名称已经固定为 LEFT RIGHT，已经无法修改，只能引用
如 GB 的叙述使用「前后」而不用「左右上下」因为要照顾到横排和竖排，如（ 是「前括号」，” 是「后双引号」
而《重訂標點符號手冊》（2008年修訂版）的行文中既用「前后」，也有「下引号」的叙述
现在草案中还使用「开始」「结束」，略显繁琐。

建议：
1. 大原则：作为一份正式文稿，内部前后应该统一使用一种说法，而不能混杂
2. Unicode 和其他各个标准的说法，尽管不同，仅在**直接引用**时使用原版说法
3. 本文在正文里使用「前」「后」比较符合方便

[2015-05-01 07:54] ethantw commented on #38
台灣很多印刷書也這麼使用，的確値得說明。

[2015-05-01 10:20] ryukeikun commented on #38
那我就这项加进去吧

[2015-05-06 13:39] VirgilMing opened #43 "关于 2.1.3 汉字的配置原则 的两个疑问"
1. (a) 和 (b) 的区别是什么？我的理解是它们都是增加 tracking，且达到的效果似乎都是使文字在某个宽度内平均分布，请问它们的区别是什么？
2. (c) 减少字距下的第 2 项似乎是个注解而不是用法本身。

[2015-05-09 13:48] VirgilMing opened #44 "请考虑添加「什么样的人应该阅读本文档」"
内核恐慌第十六期提到，大家对本文档有相当严重的误解。与其反复澄清本文档不是一份 Spec，还不如直接在开头声明：本文档只为某些特定的人群提供参考，其他人并无必要将其奉为圭臬。

[2015-05-11 11:05] lianqi opened #45 "3.1.1.2 標號 一节中，結束雙彎引號[”](RIGHT SINGLE QUOTATION MARK) 英文翻译是否笔误？"
結束雙彎引號[”](RIGHT SINGLE QUOTATION MARK) 英文翻译是否应该(RIGHT DOUBLE QUOTATION MARK)？

[2015-05-11 16:46] ethantw commented on #45
是的，應作：

（粗體字者為需要修正處，共二個）

[2015-05-12 01:41] lianqi commented on #45
谢谢Ethan！那我就close 这个issue。

[2015-05-12 01:41] #45 closed, assigned to nobody

[2015-05-20 03:53] lianqi opened #46 "3.1.4 行首行尾禁則：标点符号出现在行尾也不可以么？"
3.1.4 行首行尾禁則Prohibition Rules for Line Start and Line End
為了保持閱讀順暢、體例一致，多數標點符號的位置有其限制，通常一個標點符號依其性質，禁止出現在一行之首或之末。
---- 标点不能出现在行首是通用做法。希望确认一下，标点符号是否不可以出现在行尾。

[2015-05-20 04:03] upsuper commented on #46
有些标点符号当然不可以出现在行尾，比如前引号、左括号等等。

[2015-05-20 08:28] lianqi commented on #46
收到，多谢！

[2015-05-20 08:28] #46 closed, assigned to nobody

[2015-05-23 22:44] upsuper opened #47 "更新CLReq的更新日期"
之前的观察，W3C的草案文档似乎每次更新的时候都会同时更新最顶上的日期，但CLReq草案的日期自首次公开发布以后似乎就没有更新过，至今仍是四月十日。看GitHub最后一次修改是五月一日了吧。

希望能够及时更新该日期，以方便草案读者知晓文档是否有新版本。

[2015-05-24 12:55] siusin commented on #47
同意～下一次更新内容时候注意修改一下日期吧。

[2015-05-28 08:57] r12a opened #48 "h5 links in lists"
the zh doc often uses &lt;h5> markup around text inside &lt;li> markup.  This is problematic wrt sectioning, and causes some problems for respec, and i don't think it's really semantically sensible.

i recommend that we replace that markup with &lt;span class="leadin"> and move it inside the following &lt;p> tag.

This actually makes the English version easier to read, although i suspect that ther

[2015-05-28 09:11] VirgilMing commented on #48
Care to encapsulate those h5 tag in code block? I'm not quite sure what you are talking about. Issues support Markdown so you need to escape them.

Virgil Ming

On Thu, May 28, 2015 at 4:57 PM, r12a <notifications@github.com> wrote:

[2015-05-28 09:31] r12a opened #49 "using Unicode codepoint values"
in text such as the following:

`句號[。](IDEOGRAPHIC FULL STOP)、逗號[，](FULLWIDTH COMMA)以及頓號[、](IDEOGRAPHIC COMMA)。句號表示語句結束、逗點表示語氣停頓、頓號使用於並列連用、表示次序的字詞之間。`

the Unicode code point values are not listed.

I suggest that we change the above, and similar text, to read:

`句號[。](U+3002 IDEOGRAPHIC FULL STOP)、逗號[，](U+FF0C FULLWIDTH COMMA)以及頓號[、](U+3001 IDEOGRAPHIC COMMA)。句號表示語句結束、逗點表示語氣停頓、頓號使用於並列連用、表示次序的字詞之間

[2015-05-28 09:33] r12a commented on #48
thanks for drawing my attention to that, Virgil. I escaped the &lt; characters and i think it now reads as i expected.

[2015-05-28 09:39] VirgilMing commented on #49
Again you might want to escape [ character.

[2015-05-28 09:50] r12a commented on #49
hmmm, this is becoming annoying - ok, edited

[2015-05-28 10:19] r12a commented on #49
actually, as i struggle with the translation, i'm beginning to think that it would be easier to change

`[。](IDEOGRAPHIC FULL STOP)`

to

`U+3002 IDEOGRAPHIC FULL STOP [。]`

and likewise throughout the document.

[2015-05-29 13:13] r12a commented on #49
Any thoughts on this? I'm working through the translation at the moment, and it would be nice to be able to adjust the text to the desired outcome.

I'd also like to surround the codepoint value and name with <span class="uname"> markup, so that we can style the text. Ok?

[2015-05-29 15:05] jjgod commented on #49
Sounds like a good change, will you please submit a pull request?

[2015-06-04 16:20] r12a commented on #49
ok, since i have had no objections and one expression of support i'll implement that

[2015-06-04 16:59] r12a opened #50 "Markup changes in preparation for FPWD (URGENT)"
we're hopefully quite close to publishing a FPWD of clreq.  When we do so, we expect to publish a snapshot of the chinese version of the document in the TR (technical report) space alongside the english FPWD.

to prepare for that, i'd like to work on various aspects of the markup of the zh doc.  If i don't hear any objections in the next couple of days, i'll begin making these changes.

[1] i'd li

[2015-06-05 11:47] ethantw commented on #50
I agree to most of your suggestions. But I don’t really understand the difference between `h5` and ‘real headers’. Is it only because it isn’t syntactically correct to put an `h[1-6]` element inside a list?

Also, as far as I understand, the Respec tool does not recognise CJK characters while transforming from texts into IDs. It simply generates a number. Is there any solution to that?

[2015-06-05 14:24] r12a commented on #50
i'd like to give h5 headers ids and put section tags around them and their contents. This makes them addressable as headings, semantically cleaner, and part of the hierarchical structure of the document, but also simplifies the structure of the source code, making it easier to avoid and to fix incorrectly nested tags. (I already fixed a couple, but there appear to be more somewhere). It also confo

[2015-06-05 14:28] VirgilMing commented on #50
Out of curiosity: if not for the restriction of Respec tool, why would it be important to explicitly assign ID for elements? Should it not be the task for markup builder?

Virgil Ming

On Fri, Jun 5, 2015 at 10:24 PM, r12a notifications@github.com wrote:

[2015-06-05 14:33] r12a commented on #50
i'd be worried if differences in markup between versions mean that the markup builder generated different ids for the same fragments. It also helps to have meaningful ids, which i think was one of Ethan's concerns.

[2015-06-07 11:47] ethantw commented on #50
@r12a:

Sorry for the late reply. Below is my idea of how IDs should be. They have to have their own corresponding messages (in English or in Pinyin) of what they are semantically instead of the generated numbers provided by Respec. Otherwise if we add some new sections, the old URLs with IDs would be corrupted.

![2015-06-07 19 41 04](https://cloud.githubusercontent.com/assets/31068/8023795/2aff2

[2015-06-08 05:30] SyaoranHinata opened #51 "建議加入「問嘆號」和「嘆問號」"
目前草稿內的標點並不包括問嘆號「⁈」（U+2048）和嘆問號「⁉」（U+2049），依據兩岸三地敎育部門的規範，這兩個也不是正式標點。但在日常生活、文案、排版中，尤其在一些流行文本裏，的確會使用到這兩個標點符號。因此建議加入這兩個標點，其規則與雙問號「⁇」（U+2047）相同。

[2015-06-08 05:41] upsuper commented on #51
问叹号在GB/T 15834-2011中实际上是有记录的，作为问号和叹号的结合形式（见4.3.3.4）。因此我怀疑该符号不应视为一个独立符号。不过问号和叹号连用的这种形式，至少应在文档中有所体现。

不过如果文档里已经有双叹号和双问号的记载，或许作为独立的符号也没有问题，但我个人理解中还是倾向于把它们全部当作在标点挤压支持不完善时的workaround。

[2015-06-08 14:41] r12a commented on #50
@ethantw I agree that it's desirable to have semantically meaningful, and persistent ids.  I don't know of a better way to add the ids than to do it manually.  Respec should respect the manually created ids, it only generates ids where a manually created one was missing. In the case of clreq, that is for the h5 and h6 headings, and for the figures. It was my plan to provide ids for those locations

[2015-06-08 15:36] r12a commented on #49
done
https://github.com/w3c/clreq/commit/0f64bfa4f9814562919309b4f0b7a472eedafde2

[2015-06-08 15:36] #49 closed, assigned to nobody

[2015-06-11 09:58] bobbytung commented on #51
問嘆號「⁈」（U+2048）和嘆問號「⁉」（U+2049）是要以這兩個Codepoint呈現，還是以!與?組合。除了 @upsuper 所提的標點擠壓以及避頭尾點問題外，也包括直排時這兩個符號該怎麼處理才好。
- 如果使用這兩個Codepoint，要注意字型是否都有Glype，在UTR#50中已經是一定直立的U。
- 如果使用組字，直排裡就是使用text-combine，日文的縱中橫。

我會偏向使用Codepoint，作為註解追加。也會在3.2.3 直排的中、西文混排配置裡再補充。

[2015-06-11 10:03] bobbytung commented on #42
統一，我當時撰寫時是參考JLREQ，以「開始」、「結束」，主要原因是雙向文字問題，不該有方向。
「前」、「後」也可，但翻譯時就會變成Before、After？
我覺得還是保留「開始」、「結束」，翻譯成Start、End比較好。

[2015-06-11 10:18] bobbytung commented on #43
@VirgilMing
1. 以CSS來解釋的話，(a)就是letter-spacing，直接指定字距為固定值。(b)是text-align:justify，是在每行行長確定的狀況下，達到頭尾對齊。還是有點差別。
2. 這邊我會改成：

[2015-06-11 13:55] r12a commented on #50
this is now done wrt basic markup.  Ported to respec, adjusted headings, assigned ids, converted unicode names.  Styling can be revisited later.

[2015-06-11 13:55] #50 closed, assigned to nobody

[2015-06-11 13:56] r12a commented on #48
this has been done in https://github.com/w3c/clreq/commit/6aec5dee5bf7aacdd415b5b90d45fc6e9b004ad6

[2015-06-11 13:56] #48 closed, assigned to nobody

[2015-06-12 22:58] SyaoranHinata commented on #51
我也偏向使用Codepoint。

[2015-06-14 03:35] realfish commented on #51
大陆常见的中文字体里，没有 `U+2048` 和 `U+2049` 对应的 glyph；OS X 定制的简中、繁中、日语系统界面字体（Heiti SC/TC 及 Hiragino Kaku Gothic），也均未包含。甚至，很多常见的西文字体也不制作这两个 glyph。

由此，`U+2048` 和 `U+2049` 似乎不太适合推荐到实践中。回退到其他少数字体上，对文字排印实践中的字体样式一致性，会有干扰 。

组合使用 `U+FF01` (！) 和 `U+FF1F` (？) ，并以标点挤压来调节视觉样式，可能是更具实践性的策略？

[2015-06-14 12:31] bobbytung commented on #51
如果使用組字，那就會有「!?」、「?!」、「!!」、「??」、「!!!」這樣的組合。若不使用Codepoint來輸入，或者輸入有問題時，就會採用組字。那麼就會遇到：
- 於橫排時，以上組字皆該視為一個完整字元，即不會受到段落末換行而被切斷。
- 於直排時，以上組字皆該視為一個完整字元，保持直立並且納於一字元寬度中。

[2015-06-14 12:39] upsuper commented on #51
实际上你说的前四种都存在，其中双叹号的U+203C原本就是为了workaround直排下的双叹号。

另外根据现有的标准做法， 连续的标点在横排时确实不会被切断。至于直排时视为一个字元的问题，日文对两位数字也有类似的需求，Writing Modes标准引入了text-combine-upright属性来支持。这个问题或许可以使用类似的方式解决。

[2015-06-14 12:44] upsuper commented on #51
而且正常来说，一般人并不会输入这几个特殊符号，而是采用连续的单个符号来替代。

[2015-06-14 12:46] bobbytung commented on #51
@upsuper 嗯，現狀CSS都能處理這些需求。但在實務上我有遇到一些問題，直排時text-combine語法要能實踐還得要字型配合。以iOS、OS X內建的宋體繁與黑體繁，頂多只能容納二位數字，如「98」。但是遇到以下狀況：「A+」、「3.0」、「103」、「2014」、「!!!」，就收不進一個字元內了。
我看看怎麼在既有的3.2.3 直排的中、西文混排配置裡多加一點範例。

[2015-06-14 17:09] VirgilMing commented on #51
是否可以让未来的 CSS 规范实现「中文排版，如遇到某些特定的连续二到四个 ASCII 字形，则直接作为一个字形进行处理」？合并应该问题不是太大，但如果涉及挤压就肯定要字体支持了。

[2015-06-17 11:12] r12a opened #52 "second set of bullet points in 1.2 How This Document Was Created"
http://w3c.github.io/clreq/#basic_principles_for_development_of_this_document

in the zh version, section 1.2 has just three bullet points.
http://w3c.github.io/clreq/zh/#basic_principles_for_development_of_this_document

in hackpad there was text for another set of bullet points (which i include below for reference).

should clreq include these additional bullet points or not? (they are already i

[2015-06-17 11:15] r12a opened #53 "heading of 2.1.1 Characters used for Chinese composition"
http://w3c.github.io/clreq/#characters_used_in_chinese_composition
http://w3c.github.io/clreq/zh/#characters_used_in_chinese_composition

the heading of section 2.1.1 is the same as that for section 2.1.  Should we simply remove the heading (and section tags) for this section?  (ie. section 2.1.2 would become the new 2.1.1)

[2015-06-17 11:18] r12a opened #54 "note about SC/TC character equivalences"
http://w3c.github.io/clreq/#characters_used_in_chinese_composition
http://w3c.github.io/clreq/zh/#characters_used_in_chinese_composition

the second note in this section is no longer in the zh version. Angel and i feel that it is useful information for non-Chinese audience. Should we reinstate it in the zh version?

[2015-06-17 11:20] r12a opened #55 "remove heading for section 2.2.1?"
http://w3c.github.io/clreq/#four_commonly_used_typefaces_for_chinese_composition
http://w3c.github.io/clreq/zh/#four_commonly_used_typefaces_for_chinese_composition

the heading for 2.2.1 Four Frequently-used Typefaces for Chinese Characters seems superfluous. Should we delete it and the surrounding section tags? (ie. 2.2.2 Song/Ming becomes 2.2.1)

[2015-06-17 11:25] r12a opened #56 "Explain 'type area'"
http://w3c.github.io/clreq/#type_area
http://w3c.github.io/clreq/zh/#type_area

the first para in 2.3 The Type Area says: "The type area, sometimes called the printing area, is designed in the following sequence."

There is no actual definition of what the type area is. I suggest we change the foregoing to something like: "The type area, sometimes called the printing area, is the rectangle in the

[2015-06-17 11:33] r12a opened #57 "Meaning of 但在設計上，版面尺寸等依然不出基礎排版體裁"
http://w3c.github.io/clreq/#type_area
http://w3c.github.io/clreq/zh/#type_area

the penultimate para ends with:
"However, while doing actual design for the page, the size of the type area should not exceed the basic page template."
"但在設計上，版面尺寸等依然不出基礎排版體裁。"

it's unclear what is the meaning of this sentence. Could someone please clarify the sense of the sentence and the appropriate translation for

[2015-06-17 11:35] r12a commented on #57
also what is a good translation for 排版體裁, in both english and simplified chinese?

[2015-06-17 12:56] r12a opened #58 "line gap definition"
http://w3c.github.io/clreq/#considerations_in_designing_type_area
http://w3c.github.io/clreq/zh/#considerations_in_designing_type_area

I think bullet 4 should start with an explanation of what 'line gap' means, particularly since it's not immediately obvious that this is not the same as the line height/line feed/leading. I propose the following replacement text for the paragraph:

"A &lt;dfn id="

[2015-06-17 13:05] r12a opened #59 "meaning of 字面分布"
http://w3c.github.io/clreq/#line_composition_rules_for_punctuation_marks
http://w3c.github.io/clreq/zh/#line_composition_rules_for_punctuation_marks

"在繁、簡中文排版中，標點符號的字面分布與形態差異為二者主要的分歧點（詳見3.1.2 標點符號的字形、尺寸與字面分布節）。進行版式配置時，需要多加留意。"

Is it correct to translate this as:

"Major typesetting differences between Traditional Chinese and Simplified Chinese include the positioning of punctuation and terminolo

[2015-06-17 13:38] VirgilMing commented on #57
This is almost a duplicate of #56. 版面 in my understanding refers to the whole area that contains text, not only the main body but also header, footer, page number, etc. I'm not sure what's the term in English though.

體裁 in Traditional Chinese directly maps to 体裁 in Simplified Chinese. In English it's something more similar to scheme or arrangement. It means somewhat less exacting than template (w

[2015-06-17 13:40] r12a opened #60 "indication punctuation marks?"
http://w3c.github.io/clreq/#indication_punctuation_marks
http://w3c.github.io/clreq/zh/#generatedID-4

where did we get the term 'indication punctuation marks'?

'indicator' seems a more likely word than 'indication' in this context.

Bringhurst refers to parentheses as 'phrase markers'. Is that a better candidate?

(i will fix the generated frag id)

[2015-06-17 13:45] VirgilMing commented on #59
I don't think you should translate 形态差异 into "terminological variations." It should be "structure variation" or "silhouette variation." Positional difference could be further clarified, as in **letter face**.

[2015-06-17 13:48] r12a commented on #59
but what does 形态差异 actually mean?  The terms 'structure variation' and 'silhouetter variation' don't help me understand the text any better.

[2015-06-17 13:56] r12a opened #61 "additional explanation for Parentheses section"
http://w3c.github.io/clreq/#indication_punctuation_marks
http://w3c.github.io/clreq/zh/#generatedID-4

in bullet 2 Parentheses, Angel has expanded the text to be more explanatory to non-Chinese readers. Is the text ok? Should we also beef up the chinese version?

[2015-06-17 13:58] VirgilMing commented on #59
Well... It means the difference like between ‘’ “” (curly quotation marks) and 「」『』(corner brackets), they are semantically same (omitting the difference of single and double ones) in both writing systems, but they are used in different appearances in different writing systems or (mostly for Simplified Chinese) different text directions. 形态 itself means shape or structure, thus my previous suggest

[2015-06-17 14:00] r12a opened #62 "term "Connection symbols""
Did this term come from a particular source?  If not, i'd like to translate it as 'connector symbols'.

[2015-06-17 14:16] r12a opened #63 "TWO-EM DASH"
http://w3c.github.io/clreq/#unbreakable_marks_punctuation
http://w3c.github.io/clreq/zh/#generatedID-7

in bullet 1 Em dash and long dash, it mentions two adjacent em dashes.  I wondered whether U+2E3A TWO-EM DASH [⸺] is used for the long dash.

[2015-06-17 14:20] VirgilMing commented on #54
I strongly agree. This pseudo common sense is not emphasized in Simplified Chinese so there's a good chance that a Chinese reader doesn't know it.

[2015-06-17 14:23] VirgilMing commented on #61
~~I'd say it's more "including" than "also called."~~ Including it in Chinese version is a good idea.
Wait.. I was wrong.

[2015-06-17 14:25] r12a opened #64 "names for numerals"
http://w3c.github.io/clreq/#composition_of_chinese_and_western_mixed_text
http://w3c.github.io/clreq/zh/#composition_of_chinese_and_western_mixed_text

Referring to digits 0..9 as arabic numbers is not very clear, since the differently-shaped numbers used in Arabic text are often referred to also as arabic numerals.  The Unicode Consortium has already grappled with this terminology and i propose w

[2015-06-17 14:29] r12a opened #65 "description of grid alignment"
http://w3c.github.io/clreq/#handling_of_grid_alignment_in_chinese_and_western_mixed_text_composition
http://w3c.github.io/clreq/zh/#handling_of_grid_alignment_in_chinese_and_western_mixed_text_composition

i propose to translate the following
由於漢字各字等寬的性質，無論在直排或橫排的情況下，除了行齊頭尾對齊外，亦求各行間的各個漢字能夠縱橫對齊。

as
Due to the fact that each Han character is of the same width, not only should characters at the star

[2015-06-17 14:32] r12a opened #66 "ruby or interlinear annotation?"
http://w3c.github.io/clreq/#usage_of_interlinear_annotations
http://w3c.github.io/clreq/zh/#usage_of_interlinear_annotations

this currently says
Chinese ruby, also known as interlinear annotation, ...

should it say instead
Interlinear annotation, also known as ruby, ....

and should we replace the use of 'ruby' with 'interlinear annotation' throughout the document.  I think there was some prior

[2015-06-17 14:35] r12a opened #67 "other parts section"
http://w3c.github.io/clreq/#other_parts no longer exists in the zh version. Should we drop it from the en version too, or reinstate it in the zh version?

[2015-06-17 14:44] VirgilMing commented on #52
Why delete them in the first place? They are very helpful.

[2015-06-17 15:42] r12a opened #68 "generated ids in chinese version"
fyi, our chinese version threw up a couple of bugs in respec. Robin Berjon has filed a fix already, and it will be reviewed soon, at which point the generated ids should hopefully go away.

[2015-06-17 18:24] ethantw commented on #66
Yes, we have decided to use ‘interlinear annotation(s)’ over ruby in most cases. The only exception might be when referring to the ruby section of JLReq.

[2015-06-17 18:25] r12a commented on #66
ok, i'll implement that then. Thanks.

[2015-06-17 18:52] r12a commented on #66
done.

[2015-06-17 18:52] #66 closed, assigned to nobody

[2015-06-17 23:43] realfish commented on #57
Depending on the context, “基礎排版體裁” may translate as “the basic grid” or “the basic page format (see at 2.1.3)”.

And I prefer to rephrase it in SC, maybe “基础版面网格” or “基本页面格式”. I consider “體裁” basically means format, styles, or appearances.

[2015-06-17 23:59] realfish commented on #58
The “line-gap” here seems to be mapped to “行與行之間的空白（行距）”. It nearly refers to the stripe of lead between two lines which was used in the hand-typestting days.

[2015-06-18 10:09] r12a opened #69 "meaning of 新五號四行＝36pt"
section 2.3.5 reads:
【请问在两岸这是通用的做法吗？还是各自不同？】中文活字尺寸以「號」為單 位，又分新舊兩種寸法。可完整對應美制的「點」（point），分別如下：初 號＝42pt、一號＝27.5pt、二號＝21pt、三號＝15.75pt、四號＝13.75pt、五 號＝10.5pt、六號＝7.875pt、七號＝5.25pt。新五號四行＝36pt、新一 號＝24pt、新二號＝18pt、新三號字＝16pt、新四號＝12pt、新五號＝9pt。

here is my version

There are two traditional size systems for Chinese characters, and old one and a new one. The following shows the equivalence in the Western point s

[2015-06-18 10:17] lianqi commented on #69
when I translated this, my best guess was  that New Size 5 (9pt) X 4 = 36pt...
but I don't quite understand why it has to be 4 lines

[2015-06-18 11:23] realfish commented on #69
“新五號四行”, also known as “小初号” / “新初号” in SC, may translate as “New Size 0” for better consistency.

[2015-06-18 13:18] realfish commented on #62
Instead of the action of “connecting”, I advice to use the term “dash marks” or “middle line marks” to focus on the shapes of these marks.

[2015-06-18 13:28] realfish commented on #59
“形態差異” here means glyphic variations.

[2015-06-18 13:38] realfish commented on #56
If I remember correctly, _The Elements of Typographic Style_ uses the term “textblock”, which could be well mapped to the concept of “版心”.

[2015-06-18 13:56] realfish commented on #60
In Chinese, “标点符号” is the combination of “标号” and “点号”. In the GB/T 15834—2011, “标点符号” translates as “punctuation”, while I haven't found the translation of “标号” or “点号”.

In the narrow sense, “点号” means dots (_punctus_) while “标号” means the other marks of punctuation.

Also, the “点号” may inherit the concept from “句读”.

[2015-06-18 14:13] realfish commented on #63
The best practice of the “破折号” is the ligature of two EM DASH `U+2014`, since there is rare typeface/font that contains the glyph of `U+2E3A`. To be honest, I can only tell the Source Han Sans.

[2015-06-18 15:10] r12a commented on #59
i know of a number of things that distinguish SC from TC, and they include:
1. position of punctuation marks relative to the character frame
2. stroke composition of characters with the same meaning
3. terminological differences (eg. word for 'computer' is different)
4. choice of punctuation marks for the same function

i'm hoping that the chinese text above calls out two of those things, but it's

[2015-06-18 15:27] r12a commented on #56
Page 145 of the 4th edition carries a margin note that says:
"The textblock is known in Chinese as yèxǐn (頁心), a useful phrase. Yè means 'page'; xīn means 'heart and mind'."

The usage of 'textblock' in Bringhurst, however, seems to match the usage of 版心 (type area) in clreq (and kihon-hanmen 基本版面 in jlreq).

My main point, however, is that we should add a definition of the term to the paragraph.

[2015-06-18 15:45] VirgilMing commented on #59
You can say 形态差异 is about item 2 and 4. 

Virgil Ming

On Thu, Jun 18, 2015 at 11:10 PM, r12a notifications@github.com wrote:

[2015-06-18 16:34] realfish commented on #59
Depending on this context, “字面分布差異” refers to the position of the specific glyph’s outline (inked parts), which is relative to the bounding box.

“形態差異” refers to the glyph itself (e.g. `‘ ’ “ ”` vs. `「」『』`).

---

However, I think there is an ambiguous wording among the leading texts in 3.1 and the texts in 3.1.2.

To my understanding, the former one means that the semantically same mark may have

[2015-06-18 17:00] realfish commented on #65
I advice to refer to the “type area” concept (see at 2.3.2), like the “kihon-hanmen” in _JLReq_, to interpret the concept of “縱橫對齊”.

The “縱橫對齊” literally means every character (Han character and Chinese full-width punctuation) should snap to a specific character frame of the kihon-hanmen preferentially.

[2015-06-19 01:29] hax commented on #44
这个可以在本repo的readme写，但是不适合放到文档里吧。

[2015-06-19 01:42] hax commented on #69
“新五号四行”就是“新初号”。称为“五号四行”恐怕是强调传统排版以五号字作为排版基准。即老初号（42pt）为老五号（10.5pt）的四倍，而新五号是9pt，故新初号为36pt。
参考此文：http://blog.justfont.com/2013/01/rixing-on-typography/

[2015-06-27 14:09] bobbytung commented on #69
replace 「新五號四行」 to 「新初號」，that means 「4 lines of New Size 5」 to 「New Size 0」.

[2015-06-27 14:09] #69 closed, assigned to nobody

[2015-06-27 14:16] bobbytung commented on #65
I think that "characters at the start and end of a line be aligned" is a must. And characters in grid is quite hard because punctuations prohibition rules and Latin words in propositional typeface. But we tried to make it possible.

[2015-06-27 14:18] bobbytung commented on #64
agreed.

[2015-06-27 14:22] bobbytung commented on #63
Practically as @realfish said, we used two EM Dash with ligature in ebooks.
@ethantw 's description "視作一個字元存在，不得以適配分行之由拆至二行" that means should not be separated to two lines more than one code point.

[2015-06-27 14:26] bobbytung commented on #62
It's translated from "[連接號](http://www.edu.tw/FILES/SITE_CONTENT/M0001/HAU/h15.htm)". I'm ok with 'connector symbols'. In Taiwan we do not have official translation for punctuations. I will send first English draft to the ministry for review after published.

[2015-06-27 14:34] bobbytung commented on #59
Maybe we should ask @ethantw for what's the meaning.
I think 字面分布 means punctuation's position in a full width space, Traditional Chinese in the middle and Simplified in lower left corner.
And 形態差異 means half width and full width, usually in Traditional Chinese all full width but in Simplified some of them will be half width.

[2015-06-27 14:39] bobbytung commented on #58
It's fine to replace 'line-gap' with 'line-height' here.

[2015-06-27 14:49] bobbytung commented on #56
My opinion:
- Richard's definition is fine but 'type area' do not equal to 'printing area'.
- Why they use Kihon-hanmen in JLREQ? Could we use Banxin is same manner?

[2015-06-27 16:53] ethantw commented on #59
Yes.

Also the differences between curve and cornered quotations.

[2015-06-27 17:01] ethantw commented on #62
Both ‘dash marks’ and ‘connector symbols’ look good to me. I would prefer the first one more though. It conveys the relations to ‘en dash’ in English.

[2015-06-27 17:04] ethantw commented on #63
I believe the use of `U+2014` is sort of a workaround (hack) before we can popularise `U+2E3A`. We should list both of them.

[2015-06-27 17:06] ethantw commented on #67
Totally. We should omit this section.

[2015-06-27 17:07] ethantw commented on #64
👍

[2015-06-27 19:35] r12a commented on #68
this should be fixed now - i took a look and it seemed fine

[2015-06-27 19:35] #68 closed, assigned to nobody

[2015-06-28 01:50] #64 closed, assigned to nobody

[2015-06-28 02:03] ryukeikun commented on #62
Personally, I prefer “dash marks” but it how about “破折号”？On functional side, 破折号 works more like “em dash” while 连接号 works more like “en dash” and hyphen, it does’t fit any current English punctuation, so maybe using Dash Mark for 破折号，and using Connector Mark – better use “mark” than “symbol”?

[2015-06-28 02:06] ryukeikun commented on #42
那就统一用「开始」「结束」吧。但是直接引用的部分还是只能照抄源说法。

[2015-06-28 02:12] ryukeikun commented on #52
I think yes. Clreq should include these additional bullet points, so let's add them to the zh version.

[2015-06-28 02:18] ryukeikun commented on #53
I think this section is written base on JLreq, so I think they should be

2.1 Characters **_and the Principles of Setting them**_ for Chinese Composition
2.1.1 Characters Used for Chinese Composition

while the zh version should be accordingly

2.1 中文排版所使用的文字和基本原则
2.1.1 中文排版所使用的文字

[2015-06-28 02:32] ryukeikun commented on #67
Agree

[2015-06-28 02:58] ethantw commented on #62
Agree!
- 破折号：dash mark
- 連接號：connector mark

[2015-06-28 02:59] ryukeikun commented on #54
We had a discussion and delete it in zh version as such a note is the contents of Chinese Etymology/philology more than LAYOUT Requirement.

Since it is small note, I don't mind if you would llike to add it back.

[2015-06-28 03:05] ethantw commented on #56
If we use Banxin, we would have to deal with the same dilemma we met on the 漢字(Hanzi/Han characters) issue.

[2015-06-28 06:34] realfish commented on #56
I think first, it seems necessary to clarify **the meaning and the usage** of “版心” in _CLReq_’s Chinese version.

Usually, “版心/頁心”, or the term “textblock” used by _ETS_, seems much simpler than “kihon-hanmen” in _JLReq_. It’s just focused on describing **the bounding box of the body text** rather than something more. If so, “textblock” seems good enough for the interpretation sake. (_ETS 4.0_ pre

[2015-07-10 07:05] r12a commented on #67
section removed https://github.com/w3c/clreq/commit/31b93210b566021033ff1addf81643768a7a0071

[2015-07-10 07:05] #67 closed, assigned to nobody

[2015-07-10 07:10] r12a commented on #65
I can't actually read the Chinese, so specific comments on how/if i need to change the english text would be helpful.

[2015-07-10 07:12] r12a commented on #63
Could someone please edit the chinese text to refer to U+2E3A, and provide a translation?

[2015-07-10 09:11] #62 closed, assigned to nobody

[2015-07-10 09:30] #60 closed, assigned to nobody

[2015-07-10 09:36] #55 closed, assigned to nobody

[2015-07-10 09:39] #54 closed, assigned to nobody

[2015-07-10 09:45] #53 closed, assigned to nobody

[2015-07-10 09:48] r12a commented on #52
Could someone please provide the chinese translation of the text?

[2015-07-10 10:03] lianqi commented on #52
Hi Richard, see the Chinese translation at https://clreq.hackpad.com/1.2--Q6wQCgDLUpV

[2015-07-10 11:06] #52 closed, assigned to nobody

[2015-07-10 15:48] #63 closed, assigned to nobody

[2015-07-10 15:49] ethantw commented on #63
@r12a, done. :yum:

[2015-07-12 15:20] ethantw commented on #65
Maybe we can use a new invented term such as ‘grid alignment’ advised by @r12a, and give it a definition in the glossary (not only should characters at the start and end of a line be aligned but it is also a requirement for characters within blocks of Han text to be aligned both vertically and horizontally)?

[2015-07-13 16:05] r12a opened #70 "Hei and Kai description"
the former description (at least in english) in the doc was:

"<dfn id="en_def_hei">Hei</dfn>, also known as Heiti or Gothic, is a type style characterized by strokes of even thickness, reduced curves, and a lack of decoration. It is commonly used in headlines, signs, and personal names in dialogs. For certain types of text, characters in Kai style with thicker strokes typically indicate emphasis.

[2015-07-13 18:07] ethantw commented on #70
I forgot the reason why we omitted these description in the first place. I am okay with adding them back in both zh and en versions.

[2015-07-13 22:55] ryukeikun commented on #70
Agree!

[2015-07-16 17:42] aphillips opened #71 "Document uses artificial attribute data-lang instead of the built-in lang attribute"
A colleague (Robert Chu) pointed out to me:

There doesn't appear to be a reason not to use the `lang` attribute. The language selection script and styling can work on that attribute just as well (even better, in the case of `:lang`). Failing that, even if `data-lang` is kept, the text should still be marked up with `lang` so that browsers that implement language-based font selection and other fea

[2015-07-16 17:45] aphillips opened #72 "title needs to span Chinese text (or possibly English text instead) in title"
A colleague (Robert Chu) points out:

Going on to note something I eminently agree with:

[2015-07-16 21:41] r12a commented on #71
it is true that we should mark up the content with the lang attribute (and i plan to do that at some point, but not before FPWD), but data-lang was chosen for the bilingual management on purpose, since the use of the lang attribute may not always coincide with the _structural_ usage for which data-lang is designed.

Both lang and data-lang mean different things and are used in different ways.  The

[2015-07-16 21:45] aphillips commented on #71
That make sense (plus: the English is likely enough to quote runs of Chinese, which in turn wants `lang` markup). But you'll want `lang` in the doc--having just `zh` is even helpful.

[2015-07-16 22:00] r12a commented on #72
That, i also want to fix, but it's not straightforward. The h1 heading is generated by respec from the title element, which doesn't take markup.  I intend to ask the respec folks to change respec so that this is not the case. I haven't had the bandwidth to set that in motion as yet, but i will soon.

[start optional academic pontification]
Note however that the actual problem statement shouldn't b

[2015-07-17 06:53] #71 closed, assigned to nobody

[2015-07-17 15:46] r12a commented on #72
fixed by https://github.com/w3c/clreq/commit/1a0a0d24b00074fc6b29c95c974b49e8164a0a77

`lang=zh` is automatically added to all tags with `data-lang=zh`, unless they already have a `lang` attribute.

this may lead to a small amount of temporary mislabelling on the rare occasion where text is supplied in english and awaits a chinese translation, or a lack of lang=zh where a temporary copy of a chine

[2015-07-17 15:46] #72 closed, assigned to nobody

[2015-07-19 12:13] ethantw opened #73 "A possible unrelated note in Zhuyin sec. to be omitted?"
As the issue title, the note below in sec. 3.3.3.3 (Positioning of the Tones in Zhuyin Symbols) does not seem appropriate to the document. May I omit it?

[2015-07-19 13:07] r12a commented on #73
if i recall correctly, this was added by Angel during the translation to help non-Chinese people understand what netural tones are.
Looking at it now, it does seem to me that it would be more appropriate under bullet 3 of 3.3.3.3.  If we moved it there would that work for you?

[2015-07-19 13:53] ethantw commented on #73
I think it could belong to the glossary rather than in the main context. ;) Suggestion?

[2015-07-20 06:51] ethantw commented on #73
The main reason is that we have neutral tones in Pinyin as well. It doesn't seem appropriate to include such note in Zhuyin positioning section only.

[2015-07-20 07:22] r12a commented on #73
i think it would be ok to add to the glossary, with a class=termref link there from the term 'neutral tone' in useful places in the text, but the glossary is not currently organized that way.  I think it would be helpful to add definitions to the glossary (like the jlreq glossary), but that's a fair bit of work. (And we'd need to do it in both english and chinese).  Is that something you'd like to

[2015-07-20 07:31] ethantw commented on #73
Yes, I would love to. But it would not be realistic before FPWD. I’ll first move it under bullet 3 of sec. 3.3.3.3 and start to work on the glossary.

[2015-07-20 07:37] r12a commented on #73
great. That would also fix some of the other issues we have, such as the need for clear definitions of type area, line gap, etc.

[2015-07-21 03:40] ryukeikun opened #74 "Typo: using full-width parenthesis for Chinese characters"
A small point and easy to change: I think it is better to use full-width, instead of half-width parenthesis for Chinese characters, e.g. in Editor List.
Eric Q. LIU(刘庆) -> Eric Q. LIU（刘庆）

vice versa, for contents only have ASCII characters, it is better to use half-width parenthesis, e.g.
（GB/T 15834–2011）--> (GB/T 15834–2011)

and, in last paragraph of English translation of section 3.1, the par

[2015-07-21 07:15] r12a commented on #74
fixed by https://github.com/w3c/clreq/commit/1659cb63fa63e28ede4a1673bde65dc22c162334
(btw, if you translate the chinese to english please make a note to convert the parentheses – i guess there must be some keyboard setting involved, because i had to convert pretty much all the parens in all the text i post-edited, and it was easy to miss these three)

so that i'm clear, when you say 'half-width p

[2015-07-21 07:28] r12a opened #75 "Order of elements in the editors list"
Currently the editors list at the top of the document looks like this:

[code]

I was wondering whether it should look more like the Korean document:

[code]

this is not an important issue, but i thought i might as well ask.

[2015-07-21 10:00] fsasaki opened #76 "Consider using ITS "Locale Filter" instead of data-lang"
Looking at the data-lang attribute the functionality seems identical to ITS "Locale Filter"

http://www.w3.org/TR/its20/#LocaleFilter

One should consider replacing data-lang with the standardized "Locale Filter" mechanism. This would be relatively easy:

1) at the top of https://github.com/w3c/clreq/blob/gh-pages/index.html add its-locale-filter-list="*" its-locale-filter-type="exclude"

2) repla

[2015-07-21 10:46] r12a commented on #76
we don't actually need step 1, so it comes down to replacing all occurences of `data-lang` with `its-locale-filter-list`, which is an ITS defined name.

the downside is that it takes 2.5 times as long to type the attribute name for a content author, and since these attributes come in pairs, that's 5x the typing for each chunk of data labelled. Plus it makes the code marginally harder to read. In r

[2015-07-23 07:53] r12a opened #77 "(1) Dialectal checked tones and (2) new zhuyin positioning images"
3.3.3.3  Positioning of the Tones in Zhuyin Symbols, bullet 2
http://w3c.github.io/clreq/#h-h-positioning_tones_in_zhuyin

It is not explained in the document what dialectal checked tones are, when they are used, nor how they are constructed.  At least, with the previous diagrams showing real examples, it was possible to get an clue of what this was about, but the new diagrams now make things hard

[2015-07-23 08:46] r12a commented on #73
@ethantw i'm guessing that you have in mind something like http://www.w3.org/TR/jlreq/#terminology  Is that right? (with ids on each row so that we could link to it from the text).

if so, we should probably think about how to handle the need for zh and en versions of the information.

we could have two tables, one for english definitions and with the english terms in the first column, sorted per

[2015-07-23 08:48] r12a commented on #70
so someone needs to do this?  I would just do it myself, but i can't change the chinese :(

should i put in the english above and mark the chinese equivalents as needing attention?

[2015-07-23 08:50] r12a commented on #61
i'm not sure i understand the previous comment

[2015-07-23 08:53] r12a commented on #58
but in some parts of the text 'line gap' is contrasted with 'line height'.  @ethantw when you pull together the definitions for the glossary, could you treat defintions of line gap and line height as a priority? I think a key enabler for this discussion is to clearly define what each of those terms mean.  Only then can we move forward with our understanding of the rules associated with them.

[2015-07-23 08:54] #11 closed, assigned to r12a

[2015-07-23 17:36] fsasaki commented on #76
I had assumed that this would now be implemented at
http://www.w3.org/TR/2015/WD-clreq-20150723/
but that does not seem to be the case. Was this a timing issue with the working draft publication?

[2015-07-23 18:58] ethantw commented on #77
I had a meeting with @bobbytung and But Ko, and we decided not to follow the ratios from the Handbook of MPS entirely, which are quirky, way too strict and hard to implement. Instead we chose the 25% size of that of the base character for both phonetic symbols and tone marks, and changed the positioning a little.

IOO, not even the textbooks in Taiwan follow those rules entirely, and the way we de

[2015-07-23 19:06] ethantw commented on #73
I think it’d be easier to have two tables, one in zh and the other in en, maybe?

[2015-07-23 19:16] ethantw commented on #58
OK :ok_hand:

[2015-07-24 08:17] lianqi commented on #75
since the Chinese names of the editors are their official name, maybe we should list them first?

[2015-07-24 08:18] r12a commented on #75
ok, i'll do it

[2015-07-24 08:43] r12a commented on #75
fixed by https://github.com/w3c/clreq/commit/7380cb0f54c6f232ace2bae4e2c15e766d27f5c5

[2015-07-24 08:43] #75 closed, assigned to nobody

[2015-07-24 08:48] r12a commented on #76
i'm waiting for opinions from the group

i'm a little worried about the length of `its-locale-filter-list`. I'm inclined to think that it will reduce the readability of the source in github diffs and become a pain for manual editing, especially as we are about to add a third 'language' to the document (Simplified Chinese).  I think we can certainly say, however, that `data-lang` represents a local

[2015-07-24 09:08] fsasaki commented on #76
Strange - I understood during our 1:1 call this week that you would move forward with its-locale-filter-list.
Keeping data-lang would be a pitty in terms of "dog fooding". We develop ITS2, reviewed by the i18n group, with no complains about attribute length. And then it comes to adoption the length concerns come up?
About "we can certainly say, however, that data-lang represents a local instantiat

[2015-07-24 10:02] r12a commented on #73
i gave this a bit more thought this morning, after Angel mentioned that she was ready to start adding the SC translation.  If we have separate tables, that will mean that the english, zh-hans and zh text content in the main body will need to link to three different anchor points (ie. one for each table) for each termref link.  I think that will become a major pain for people developing content, si

[2015-07-24 10:43] ethantw commented on #73
OK. Agree :+1:

[2015-07-28 09:41] ethantw commented on #77
Fixed over 514dbadb22791e23ae300e9d9e4a3 and closing.

[2015-07-28 09:41] #77 closed, assigned to nobody

[2015-07-29 08:59] r12a opened #78 "Adding definitions to the glossary"
@ethantw some points for discussion about converting the glossary to hold linkable definitions, like jlreq:

the glossary currently has the following columns

term | pinyin | english

if we are to add definitions, like for jlreq, we need to add a 'definition' column

i assume that the definition column cells will contain three versions of each definition, en, zh-hans, zh.  Each of which can be fil

[2015-07-30 01:37] hax commented on #11
话说此issue close掉的最后决定是啥？

[2015-07-30 07:07] ethantw commented on #78
We are currently using the CSV file for sorting out the glossary, so that we can use tools like Excel to edit the content, automatically sort the order by Pinyin or English, and convert the format to HTML (in CLI tools or else). Can we please stay in using this procedures?

**The CSV file:** https://github.com/w3c/clreq/blob/gh-pages/glossary-pinyin.csv

I prefer TC/SC in one column and Pinyin in

[2015-07-30 12:52] ysavourel commented on #76
I tend to agree with Felix.

Using the ITS attribute allows ITS processors to understand the file without having to do any mapping, and after all it is just following the W3C's own recommendation.

It's also a case different from `translate`, where the ITS specification does use the native HTML attribute (there is no `its-translate`).

[2015-07-30 14:27] siusin commented on #47
Should be ok now with the help of ReSpec lib.

[2015-07-30 14:27] #47 closed, assigned to nobody

[2015-08-01 03:06] ryukeikun commented on #78
I prefer separate columns than slashes because current clashes is complicated  –– 2 terms are not simply TC/SC terms but sometimes several translations to one term (e.g. 字体设计/字体排印 for typography)，so slashes are complicated and sometimes misleading.

Also, if SC/TC use different terms, pinyin will also different, so I agree to have different column for each of them.

The ordering issue maybe solved

[2015-08-05 20:21] DavidFatDavidF commented on #76
The mapping through script is an afterthought and would have to be used if the right thing could not be done upfront.
I don't think that the argument about the length of the attribute will hold. Who edits totally manually nowadays? Every decent editor will autocomplete the attribute name.
+1 for dog fooding, why reinvent the wheel?

[2015-08-08 13:33] ethantw commented on #78
Have separated TC/SC to two columns via ccfaa3a now. My next step is to add the definitions according to our meeting last week.

[2015-08-11 21:30] r12a commented on #78
thanks @ethantw.  We also need to add ids that will be used for table rows.

[2015-08-14 05:44] rambolee opened #80 "绪论部分，简体中文版本发现文字缺失。"
简体部分：虚空间
繁体部分：虛擬空間

[2015-08-18 02:48] ryukeikun commented on #80
Typo fixed.

[2015-08-18 02:48] #80 closed, assigned to nobody

[2015-08-24 12:08] ethantw commented on #78
Added some Chinese definitions in the glossary via acc85ab2fbb329115df4896455457a23584c2235. It is yet finished. Please review, thanks!

[2015-08-24 16:52] ethantw commented on #78
cc:  @bobbytung @ryukeikun,
 Please help to review and improve. ☺️

[2015-08-25 07:32] ethantw commented on #78
By the way, I think that the we don't need the definitions to the punctuations since they are well explained in the main content, 3.1.1. The only reason that they exist in the glossary table is to provide the bilingual names.

[2015-08-28 17:36] ryukeikun commented on #56
Referring JLReq, there are 2 _separate_ terms:
- **hanmen (page content area)  版面  hanmen**    Actual printed area in a page excluding the margins. (note: Running heads and page numbers are not part of hanmen.) (JIS Z 8125)
- **kihon-hanmen    基本版面    kihon hanmen**  The default dimensions of the main area of a typeset page specified by text direction, number of columns, character size, number of

[2015-09-04 22:47] c933103 opened #82 "兩點意見…"
- readme裡面的principle譯成中文好像欠理想？
- 文檔中提到簡體轉繁體存在一對多，是不是也應提及繁體轉簡體也有一對多呢？

p.s.雖然好像不應該在這裡問但能順便問一下現在用css如何表示專名號/書名號嗎？

[2015-09-05 13:19] #70 closed, assigned to nobody

[2015-09-05 13:48] ethantw commented on #82
已修正為「原則」（原作「條約」）。

疏忽了，我等會來修正。

參考：http://www.w3.org/TR/css-text-decor-3/#text-decoration-line-property

[code]

[code]

目前多數瀏覽器尚不支援CSS Text Level 3更新後的`text-decoration`屬性。

[2015-09-06 07:55] ethantw opened #84 "Unify the Hant/Hans/original text"
Chaps in CLReq,

Hello. Currently the translated Simplified Chinese part is not identical with the original text, which may result in inconvenience to sort out and edit the document in the future. I think that we should work on some principals to follow and unify the Hant/Hans part within our workflow.

What I have in mind list below. Feel free to provide more suggestions.
1. We shall not change a

[2015-09-07 03:36] #82 closed, assigned to nobody

[2015-09-07 03:37] c933103 opened #85 "直排時的標點符號 引號"
我記得是會用﹁﹂和﹃﹄的。要不要也寫進去？

[2015-09-08 10:36] paincompiler opened #86 "Some wording&grammar correction discussion"
There are some wording issues, I will have a check and list them here.
I can make a pull request to fix them after discussion if you guys thought it be great.

And during the check, I found there are some expression issues too. I will list them out in another issue list for public discussion and make another pull request if you thought it be great.
- First 「能」 in sentence 「希望能本文能对实际操作起到有效地指导作用」 sh

[2015-09-12 08:39] paincompiler opened #87 "Some expression issues discussion"
- In 「中文排版有别于其它版本」, 「体系」(like the [Traditional-Chinese version](https://github.com/w3c/clreq/blob/gh-pages/index.html#L126)) may be better than「版本」.  [Here](https://github.com/w3c/clreq/blob/gh-pages/index.html#L126)
- 「我们非常感谢来自不同语言文化背景的编辑和合作者对本文档的贡献，以及他们跨越文化差异共同致力完善本文档的美好愿景」 in short will be 「感谢......贡献，以及......愿景」, I don't think 「感谢」 and 「愿景」 go together. [Here](https://github.com/w3c/clreq/blob

[2015-09-12 09:40] paincompiler opened #88 "Some layout issues discussion"
- Wrong list order of Traditional Chinese version and Simplified Chinese version of [楷体](https://github.com/w3c/clreq/blob/gh-pages/index.html#L434) and [黑体](https://github.com/w3c/clreq/blob/gh-pages/index.html#L456) in [中文排版常用字体](https://github.com/w3c/clreq/blob/gh-pages/index.html#L394).
- A blank among words. [Here](https://github.com/w3c/clreq/blob/gh-pages/index.html#L506)
- Wrong comma in

[2015-09-13 05:31] ryukeikun commented on #87
changed into 「書寫體系」to match English text.

rewrote as 「我們感謝來自不同語言文化背景的編輯們和合作者們對本文檔的貢獻，並對他們跨越文化差異、共同致力完善本文檔的美好願景表示欽佩。」

Rewrote.

Changed into「字距」。

Rewrote as「版心設定步驟不僅是在頁面中設定一個長方形空間，還需要為內文、標題、圖片配置等做出一個基礎的格子設定。」

[2015-09-13 05:56] ryukeikun commented on #88
I don’t think it is wrong. These 4 items are not even placed by frequency orders.

Deleted.

This comma is even not needed, so I just delete it.

[2015-09-13 07:30] paincompiler commented on #88
这里是我表述不清，我是指这三项字体介绍的内容中，不是按照「英文、简体中文、繁体中文」的顺序排列的，与文档其他部分不统一。

[2015-09-13 07:31] paincompiler commented on #88
这里是我表述不清，我是指这三项字体介绍的内容中，不是按照「英文、简体中文、繁体中文」的顺序排列的，与文档其他部分不统一。

[2015-09-16 19:45] hax commented on #87
“美好愿景”这句总感觉不通顺……

[2015-09-17 02:52] ryukeikun commented on #87
可能是因为按照繁体中文习惯行文的缘故吧，但是在语法上是通顺的，我觉得问题不大。

[2015-09-17 02:52] #87 closed, assigned to nobody

[2015-09-30 15:58] r12a commented on #84
hi Ethan,

for clarification, when you say 'the original text', i assume you mean the text marked as lang=zh?

i agree that it will be useful to ensure that terms used are those in the glossary, and that new terms get a new glossary entry

i'm not qualified to comment on the variations in syntax and character usage in chinese.

[2015-09-30 17:30] r12a commented on #78
It may help to put links to the definitions of the punctuation.

[2015-10-08 05:34] DingJunyao opened #89 "Some advice of the document"
Some words and translation of some words in different places of China is different. The document didn't pay attention to it.
Some grammar in simplified and traditional Chinese is different, too. e.g. ,the"之" using between two words in traditional Chinese is often written as "的" in simplified Chinese.
And the mixture of different (kinds of) languages seems too terrible, though I can understand both

[2015-10-08 06:00] DingJunyao commented on #89
Sorry, what I saw is an earlier version of the document.

[2015-10-08 06:09] ethantw commented on #89
Thanks for the advice. We have been working on these already. Please feel free to report other issues in the future.

[2015-10-08 06:09] #89 closed, assigned to nobody

[2015-10-22 08:08] upsuper opened #90 "添加附表列出注音符号及声调的相关字符"
我认为这个部分值得在附录中添加一张表列出，以便参考。特别是声调的字符，我看到除了五个声调以外，还出现了方言里的其他声调，这些声调的相关字符应该列出。

[2015-10-22 11:53] ethantw commented on #90
我先前有在Hackpad整理了一個[注音符號字符表](https://clreq.hackpad.com/--VoPxzmYMvmE#:h=A.2%E3%80%80注音符號區段及字元表)，不過聲調的部分有點亂。

![screen shot 2015-10-22 at 19 52 43](https://cloud.githubusercontent.com/assets/31068/10664496/82650d82-78f6-11e5-8788-09a9a516e882.png)

[2015-10-22 12:05] upsuper commented on #90
阴平或许也应该加入？虽然在注音符号中不怎么用，不过台湾的[国语注音符号手册](http://www.edu.tw/files/site_content/M0001/juyin/)上对阴平的描述是“[注音时**可**省略不标](http://www.edu.tw/files/site_content/M0001/juyin/tt4.htm?open)”，按照[RFC 2119](https://tools.ietf.org/html/rfc2119)的理解方式，应该是表示标不标都没关系。

我现在提想看这个主要是因为之前讨论的[关于声调字符在纵排下的方向问题](https://lists.w3.org/Archives/Public/www-style/2015Aug/0315.html)，准备给Unicode发提案，但却没找到相关资料，所以来提一下。如果能更新上去就再好不过了，这样写提案的

[2015-10-22 16:46] ethantw commented on #90
的確是我疏忽了！

改好後盡快請W3C那邊更新。 :laughing:

[2015-10-27 00:47] #88 closed, assigned to nobody

[2015-10-27 00:54] #86 closed, assigned to nobody

[2015-10-27 00:56] bobbytung commented on #85
一般而言不建議直接指定（U+FE41﹁PRESENTATION FORM FOR VERTICAL LEFT CORNER BRACKET）這類的符號。而是透過瀏覽器等來自動取代為該字碼。故在此不列出。

[2015-10-27 00:56] #85 closed, assigned to nobody

[2015-10-27 04:08] bobbytung commented on #85
Add note in 3.1.1.2 to describe.

There are vertical blacket codepoints such like U+FE41 PRESENTATION FORM FOR VERTICAL LEFT CORNER BRACKET in Unicode. But they are not suitable for author to use directly. They should be replaced by other mechanism.

万国码编码中有如U+FE41 PRESENTATION FORM FOR VERTICAL LEFT CORNER BRACKET等直立的符号，但不适宜作者直接使用该符号，而是透过其他机制替代使用。

萬國碼編碼中有如U+FE41 PRESENTATION FORM FOR VERTICAL LE

[2015-10-30 00:43] siusin opened #91 "Spacing and Hanging Punctuations"
![2015-10-30 093931](https://cloud.githubusercontent.com/assets/5643782/10835899/a45696aa-7eea-11e5-87cb-0de3ea4bd788.jpg)

Details followed.

[2015-10-30 00:50] siusin opened #92 "Baselines Calculation for mixture of Hans & Western"
![2015-10-30 094622](https://cloud.githubusercontent.com/assets/5643782/10835975/964bfcac-7eeb-11e5-8fa3-7247852270f2.jpg)

Details followed.

[2015-10-30 01:02] siusin opened #93 "Positioning Issue for an Edge Case of Bopomofo"
![2015-10-30 100005](https://cloud.githubusercontent.com/assets/5643782/10836106/2eea6c36-7eed-11e5-987a-b53aeeed3d4c.jpg)

@bobbytung please describe the detail follow.

[2015-11-14 04:35] audreyt opened #94 "⁇ ‼ 是否需要列在中文標點符號表"
在 GB/T 15834-2011 和 《重訂標點符號手冊》都未見 ⁇ (U+2047) ‼ (U+0203C) ，而且目前的字形也未必都把它們造成 1x1 grid，請問可以加上出處嗎？尤其直排時，是否有具體的用例？感謝 :rainbow:

[2015-11-14 04:40] audreyt commented on #94
#51

[2015-11-14 05:34] audreyt commented on #94
GB15834 的 5.1.2 裡說的是「三個 ? / ! 連寫時，需要排版成兩個漢字的寬度」，以 @bobbytung 的說明而言，目前技術上尚無法實作，而 2047/0203C 只是 compatible composition form，這樣的話我可以接受。

[2015-11-24 06:54] yw80 opened #95 "请将该文档本身遵照规则修改"
例如，规则中有一条：
3.2.2 横排的中、西文混排配置 橫排的中、西文混排配置
橫排時，西文使用比例字體；阿拉伯數字則常用比例字體或等寬字體。原則上，漢字與西文字母、數字間使用四分之一個漢字寬的字距或空白。但西文出現在行頭或行尾時，則毋須加入空白。
或可使用西文詞間空格（U+0020 SPACE [ ]，其寬度隨不同字體有所變化）。

但是该文档并没有遵循这个规则。例如首页：
http://w3c.github.io/clreq/zh/
随处可见中英混排的情况，都没有加空格。

请将该文档本身遵照规则修改。

[2015-11-24 07:01] upsuper commented on #95
See #14

[2015-11-24 07:01] #95 closed, assigned to nobody

[2015-12-05 06:47] ethantw opened #96 "Emphasis marks shan’t be used for other punctuation"
使用著重號時，應規避其他標點符號。

[2016-02-12 05:37] dine2014 opened #97 "typeface sample pic uses bold"
The typeface sample "东方文字传情之美"什么的 uses a fake bold, which is ulgy

[2016-02-12 17:36] ethantw commented on #97
https://github.com/w3c/clreq/issues/29

[2016-02-12 17:36] #97 closed, assigned to nobody

[2016-04-11 13:50] Artoria2e5 opened #98 "“省略号使用英文的三点省略号” Not seen in English version"
3.2.1:

This is present in both Hant and Hans.

顺口问一句，三点省略号指的是三个 U+002E 还是一个没有被 locl 提升到文字中间那么高的西文风格 U+2026？

[2016-04-30 10:17] weiweihuanghuang opened #99 "Show the glyphs referred to in the "Prohibition Rules for Line Start and Line End""
Currently it's just a text description, having the actual glyphs in place would be useful.

[2016-05-19 01:28] ibelem opened #100 "规范文档未遵循规范描述"
步骤：

A. 访问https://www.w3.org/TR/clreq/#mixed_text_composition_in_horizontal_writing_mode

B. 阅读全部文档

实际结果：
《中文排版需求》规范很多章节未遵循 “漢字與西文字母、數字間使用四分之一個漢字寬的字距或空白。”

例如：

[2016-05-19 06:10] realfish commented on #100
See also #14 & #95.

[2016-05-31 04:14] Artoria2e5 opened #101 "对旧有的破折号、连接号用法加入澄清注解"
网络上的破折号、连接号用法很乱，甚至连《[重訂標點符號手冊](http://language.moe.gov.tw/001/Upload/FILES/SITE_CONTENT/M0001/HAU/c2.htm)》网络试用版也有鬼。

## 破折号

《重訂》的破折号是两个 U+2500；我现在看的维基百科破折号条目也是。每天画框身体棒。

Unicode.org 上面以前有过（谢天谢地这玩意丢了）一个 GB2312 码表，用的是 U+2015 当半个破折号。维基百科不出意料地把这个用法列成了绕过 U+2014 断开现象的一个常见做法。（把连接点定义成 U+30FB 的也有这张表的份——不只是 Big5。）

## 连接号

重訂的甲式连接号是 U+2014，在 `e n` 中间整整添了一个 `r`。

维基百科的格式手册不知道怎么找上了个能把破折号 OCR 成 `U+002D U+FF0D

[2016-07-01 14:11] glll4678 opened #102 "「臺灣方言音符號」應為「臺灣方音符號」"
http://depart.moe.edu.tw/ED2400/News_Content.aspx?n=115F1082F1FB6842&sms=EFB4F5BEE71F2ECF&s=7999ED5540060D14

[2016-07-10 14:37] Buernia opened #103 "注音符号与汉字的比例"
章节3.3.3

严格按现在 “注音符号为汉字大小的十六分之一” 的比例排版的话，感觉注音符号会特别小。正文字号下可能不易辨认。

![](http://r.loli.io/ZJfMNb.png)

而参考草稿中的排版例图及 “汉字标准格式” 排版框架，注音符号稍大一些，看上去比较适当。

![](http://r6.loli.io/viMBVb.png)

叠加对比：

![](http://r6.loli.io/J73uUr.png)

一点想法，供参考。

[2016-07-11 01:07] upsuper commented on #103
@ethantw 我记得其他地方写的不都是注音符号大小是300/1000吗？为什么这个文档里被改成了250/1000？

[2016-07-11 04:40] Buernia commented on #103
才发现[之前的版本](https://www.w3.org/TR/2015/WD-clreq-20150723/#h-choice_of_size_and_ratio_for_zhuyin)里比例不一样。这个版本注音符号是大了，不过声调符号可能又会太小。

[2016-09-03 07:03] Man-Ting-Fang opened #106 "附錄A中有兩個標點符號的萬國碼出現筆誤"
附錄中書名號下的「《」、「〈」，其萬國碼分別應為300A、3008，現在誤作300B、3009（與「》」、「〉」混同）。最新發佈草稿（30 July 2015）與最新編輯草稿（18 August 2016）中均如此。

[2016-09-04 14:35] Buernia opened #107 "重复了"

[2016-09-04 14:35] Buernia opened #108 "汉语拼音的行间注（分词、分字标注及兒化音）"
章节3.3.4中说汉语拼音行间注有单字标音与分词连写两种形式，但是分词连写这种形式在日常生活中十分少见——实际上我从来就没见过。所以图示以使用分词连写为主，感觉不太符合实际使用状况 。

而分词连写在更多情况下，像是用于正文且不作为注音用途的情况下。（在使用正文中夹注括号的注音方式时，单 (dān) 字 (zì) 标 (biāo) 音 (yīn) 的情况也更多一些。）

至于行间注如何处理儿化音，可以参考人教版教科书的处理方法。尾音是注在被儿化的字上的：
![“青蛙说：‘我要写诗啦！苟利……’ ”](http://www1.pep.com.cn/products/jc/jks/201608/W020160823395694925629.jpg)

[2016-09-04 14:43] #107 closed, assigned to nobody

[2016-09-06 12:09] realfish commented on #108
目前整个 3.3.4 节都没有插图……单纯从文面上，我也没读出 _CLReq_ 在这部分内容中有陈述哪种注音方式更常见。

如果你指的是 3.3.5.1 的 Fig. 16，它本身展示的就是：两种注音文字（注音符号和拉丁文式的汉语拼音）在标注儿化音时会产生的排版差异。在这个对比示例中，汉语拼音既遵从了 GB/T 16159「以词为拼写单位」的核心原则，又以这种形式强化了两种注音文字的排版差异，看起来是很恰当的。

[2016-09-07 05:23] upsuper commented on #108
GitHub似乎抓取那张图失败了？直接上传贴一遍好了……
![w020160823395694925629](https://cloud.githubusercontent.com/assets/333750/18300696/337ee7d8-74fe-11e6-8456-49a46ad7cb0b.jpg)

[2016-10-02 08:07] heangfat opened #109 "建議增加雙行夾注"
雙行夾注常見于中文典籍，是注釋之標準格式，幾乎所有古書皆有雙行夾注。雙行夾注適合中文書，正文與注釋字體劃然不紊，一目瞭然。
正文通常用正方字，筆畫較粗；而雙行夾注文字較瘦長。明、清書主流樣式是注文與正文等高。民國以後使用漸少。今新印之書中，僅古籍沿用之。
此在 w3c 日文排版草案中稱「割注」。

[2016-10-06 11:56] c933103 opened #110 "In section 2.1.1, "typeface" should be replaced by "glyph"."
1. see issue title
2. Also, what is "character library"?
3. It should also point out that when a unicode code point for an ideography character have different variants, the way it is displayed shall depend on content language and user region.

[2016-11-17 04:14] upsuper opened #113 "Should mention position of underline for vertical writing mode"
JLReq mentions that in vertical writing mode, sidelines (which is handled as underline in CSS) are on the right side of characters. I heard that in Chinese, we put underline on the left side, but that doesn't seem to be mentioned anywhere in CLReq. I guess this is something should be added.

cc @kojiishi

[2016-11-18 10:33] r12a opened #114 "How are underlines positioned in Chinese text?"
CSS and browser implementers are looking for information about how to position underlines for various scripts, including Chinese. Can we provide them with the information they need (and add it to the layout requirements doc)? See w3c/csswg-drafts#459 (comment)

[2016-11-22 14:43] r12a opened #115 "Low line or underline?"
Indicator Punctuation Marks > Fullwidth low line
https://www.w3.org/TR/clreq/#indication_punctuation_marks

This doesn't seem right to me, not least because U+FF3F is not a combining character.  I think what we are actually talking about is underline, isn't it?  (in which case this subsection about fullwidth low line should be moved to a new location)

My understanding is that the `u` tag in HTML

[2016-11-22 15:59] r12a commented on #115
[adding an excerpt from an email i received from Bobby (before raising this issue) that adds some useful background]

In CLREQ, 3.1.1.2 Indicator Punctuation Marks - 9 Fullwidth low line is how underline as punctuation in Chinese.

- for horizontal writing: underline
- for vertical writing: leftline

but the most important thing. If possible, lines should be distinct with a gap. Sometimes location

[2016-11-22 17:52] moyogo commented on #115
The CJK Compatibility Forms (FE30:FE4F) has ﹏ FE4F WAVY LOW LINE and others.

[2016-11-24 07:32] c933103 commented on #115
It is not supposed to be a combining character as proper name mark is
something above character level. It is not underline either as there are
subtle difference between the use of proper name mark and the use of html
underline

2016年11月22日 22:52 於 "r12a" <notifications@github.com> 寫道：

[2016-11-26 10:06] ethantw commented on #115
@r12a

Hello! 😄 Sorry for taking this long to reply, had been busy.

It is intentional here choosing a character over text decorations. Considering the fact that the usage are classified as punctuation marks, it is reasonable here stating proper name marks and title marks as characters [1]. Since they are both punctuation marks, font designers and typographers, in my opinion, should have a say in

[2016-11-28 14:08] ethantw commented on #113
Actually, 底端 (foot side) does *not* mean the visual bottom side of text but the side of text that is *closer to the foot end of the layout*. Hence it could mean both bottom side of text in horizontal writing mode and left side of text in vertical writing mode. Similar terms and definitions are listed below:

- 頂端 (head side) the side of text that is closer to the head of the layout
- 底端 (foot side

[2016-11-28 14:21] c933103 commented on #113
Does that mean, when writing chinese text within article that is predominately written with traditional mongolian script and follow that script's direction, i.e. vertical, left to right, the underline for chinese characters should go right?

[2016-11-29 12:16] ethantw commented on #113
@c933103:

The requirement does not automatically apply to layouts in other languages. CLReq is not the authority to these cases. It can only provide some reference, not the golden rules.

[2016-12-01 15:59] c933103 commented on #113
I mean, when you write a long paragraph of text in vertical-lr language,
and that long vertical-lr paragraph embedded several lines Chinese text
into the paragraph, those *Chinese text* would become vertical-lr, and the
footer of the layout would become right hand side, and from what you have
wrote, those low lines should go right in this case.

2016年11月29日 20:16 於 "Chen Yijun" <notifications@gith

[2016-12-02 02:05] kojiishi commented on #113
Embedded case should be handled separately, since it occurs to all languages.

I think we should understand requirements for each language first, then we can discuss embedding case with the list of requirements. I hope that can make our discussion easier.

[2016-12-13 11:50] #106 closed, assigned to nobody

[2016-12-13 12:07] #102 closed, assigned to ethantw

[2016-12-13 12:15] bobbytung commented on #101
重訂標點符號手冊基本上沒有指定Unicode，我覺得在編輯時就有技術問題。
CLREQ本來不應該涉及實作問題，但是目的上希望推薦標準化的標點符號使用，並且希望實作上能夠處理如U+2014的斷開問題，所以這裡不加註各種替用符號。

[2016-12-13 12:19] #101 closed, assigned to nobody

[2016-12-13 12:20] #100 closed, assigned to nobody

[2016-12-13 12:27] #99 closed, assigned to nobody

[2016-12-13 12:31] bobbytung commented on #94
merge to #51

[2016-12-13 12:31] #94 closed, assigned to nobody

[2016-12-13 12:31] lianqi commented on #94
to be merged with#51

[2016-12-13 12:32] bobbytung commented on #93
這是實作問題，不在CLREQ處理。

[2016-12-13 12:32] #93 closed, assigned to nobody

[2016-12-13 12:46] #91 closed, assigned to nobody

[2016-12-13 12:47] #84 closed, assigned to nobody

[2016-12-13 12:55] #74 closed, assigned to nobody

[2016-12-13 13:00] #73 closed, assigned to ethantw

[2016-12-13 13:01] #65 closed, assigned to nobody

[2016-12-13 13:04] lianqi commented on #39
也叫示殁号，国内做法通常是一个黑色方框，框住已逝世的人名字。

[2016-12-13 13:05] #61 closed, assigned to nobody

[2016-12-13 13:08] #59 closed, assigned to nobody

[2016-12-13 13:09] bobbytung commented on #58
merge to #78

[2016-12-13 13:09] #58 closed, assigned to nobody

[2016-12-13 13:10] #44 closed, assigned to nobody

[2016-12-13 13:12] #43 closed, assigned to ethantw

[2016-12-13 13:13] bobbytung commented on #43
感謝 @ryukeikun 改寫，應該比較易於理解。

[2016-12-13 13:18] bobbytung commented on #42
那麻煩 @ryukeikun 改成前後？

[2016-12-13 13:19] ryukeikun commented on #42
OK  我来改

[2016-12-13 13:30] #36 closed, assigned to nobody

[2016-12-13 13:38] #28 closed, assigned to nobody

[2016-12-13 13:44] #27 closed, assigned to bobbytung

[2016-12-13 13:45] #2 closed, assigned to nobody

[2016-12-13 14:04] ethantw commented on #39
有見過某些版本的中文《聖經》會用雙底線來標示地名、以單底線來標示人名，是否也需要在CLReq中說明？

[2016-12-13 14:06] upsuper commented on #39
底线地面人名的问题可以单开一个新issue讨论。

[2016-12-14 01:36] ryukeikun commented on #39
我似乎也有见过，但是一种比较老旧的方法，到现代是否具有普遍性？最好查一下资料？

[2016-12-14 02:32] ethantw commented on #39
想到一個有趣的問題，示亡號的「一圈黑框」又跟著重號、專名號或書名號附著在文字周圍的方式不同，它是繞著文字走一圈，文字長短會影響框的尺寸，統一碼裡不知道有沒有這種符號（製表符？XD）可以表示。

[2016-12-25 07:46] upsuper commented on #38
我发现英文似乎也是这么用的 [[1]]

<img width="655" alt="2016-12-25 6 45 43" src="https://cloud.githubusercontent.com/assets/333750/21470204/60c1b23c-cad2-11e6-9219-3337989ab078.png">

[1]: http://www.news.com.au/national/victoria/news/police-raids-in-melbournes-northern-suburbs/news-story/135a23d342de22b6abedc7203b02d04f

[2017-01-02 05:16] lianghai commented on #41
啊，所以横排到直排的引号样式变化还是得依赖字符替换而不能由字体把弯引号自动全都替换成直角引号？或者因为绝大多数情况下直排时并不使用弯引号，所以还是可以允许字体做「直排时弯引号字符显示为直角引号」的处理但并不建议？

[2017-01-02 13:04] bobbytung commented on #41
@lianghai 這在i18n WG上的討論有觸及。主要是西文裡單彎引號與雙彎引號何者在內、何者在外因為國家地區的習慣不同而會有所變化（還有德國引號）。最後討論在實務上可以使用HTML 5裡的 `<q></q>` 標籤，以及CSS的 ::before ::after加上lang()來做變化。

例如HTML裡標：我覺得你的<q>意見</q>很好。
橫排CSS是：q::before { content : "“"; } q::after { content : "”"}
直排CSS是：q::before { content : "「"; } q::after { content : "」"}

不曉得這樣是否算個解？而各位覺得這要不要加入CLREQ？

[2017-01-03 05:21] lianghai commented on #41
@bobbytung 呃，这样除非把文本内原有的引号在显示阶段用 JS 移除，否则本该在文本流里的引号字符变成了 HTML 标签和 CSS 样式，还有了语义限制并不通用（而且 `<q>` 标签导致复制文本时引号丢失，这种伪元素添加文本无法复制出来的事情 HTML 有推荐方案吗还是得 author 自己用 JS 想办法？）……我上一条评论里说的纯粹是视觉层面的问题该如何做技术实现（主要考量是，大陆多数直排时引号的错误都是因为不知道要手动改标点——然而手动改标点不现实），把语义层混进去而且影响了字符流，就牵扯太多了……

[2017-01-23 06:06] RoosterH opened #116 "刪節號中文的敘述"
刪節號又作省略號，表示節略原文、語句未完或語氣的不連續。為佔二個漢字空間、包含〃六個” 省略點的U+2026 HORIZONTAL ELLIPSIS […

是不是應該為三個？

[2017-01-23 09:35] ethantw commented on #116
由於「刪節號」在Unicode中不區分碼位的原因，我們習慣**使用二個`U+2026`來湊成「一個」中文的刪節號**，這屬於一種沒辦法的辦法。

在理想的情況下，（有六個點的）刪節號是一個標點符號，雖然多數漢字字體沒有將這個碼位設計成六個點，但這段描述沒有問題。

[2017-01-23 16:12] RoosterH commented on #116
謝謝回答

這是在網頁所寫的
刪節號／省略號為佔二個漢字空間、包含六個省略點的U+2026 HORIZONTAL ELLIPSIS […]（或使用連續二個「……]」）。
第一個是 […] 3 個省略點
第二個才是「……] 6個省略點

是不是應該改為這樣呢？
刪節號／省略號為佔二個漢字空間、包含三個省略點的U+2026 HORIZONTAL ELLIPSIS […]（或使用連續二個有六個省略點「……]」）。

謝謝

[2017-01-23 17:02] RoosterH opened #117 "單雙引號的解釋"
英文的解釋少了一段重要的 - 弯引号用于横排、直角引号用于直排

In the other hand, Simplified Chinese will apply double quotation marks first and then single quotation marks. For Simplified Chinese, double quotation marks include U+201C LEFT DOUBLE QUOTATION MARK [“], U+300E LEFT WHITE CORNER BRACKET [『], U+201D RIGHT DOUBLE QUOTATION MARK [”], U+300F RIGHT WHITE CORNER BRACKET [』]; the single quotation marks include U+2018 LEF

[2017-01-24 03:54] ethantw commented on #116
我上面的回覆沒有表述清楚，抱歉。

中文的刪節號與西文的ellipsis在Unicode中沒有區別碼位，都是`U+2026`，所以我們平時慣用（西文字體中）二個三點的`U+2026`湊成「一個」中文刪節號，雖然廣泛使用，但並不準確。《需求》認為，在理想的中文語境下使用刪節號時，應使用占二個漢字空間的一個字符。我傾向於修改最後一個括號中的內容。

[2017-01-26 01:24] RoosterH commented on #116
謝謝解惑！

[2017-01-26 08:38] r12a opened #118 "Clarify writing mode for romanization annotations"
3.3.1.1 Indicating the Pronunciation for Chinese characters
http://w3c.github.io/clreq/#h-indicating_pronunciation_for_chinese_characters

This is a little vague, and, without careful reading, appears to contradict the picture in the following subsection of latin annotations being used in vertical text for bilingual annotations. It also contradicts the opening sentence of 3.3.2.  Clearly latin tex

[2017-01-26 08:40] r12a opened #119 ""extend to the top of adjacent base text""
3.3.4.1 Basic Requirements
http://w3c.github.io/clreq/#h-basic-requirements

What does this mean?  (a diagram might be helpful)

[2017-01-26 08:48] r12a opened #120 "Multiple-word annotations?"
I'm reviewing the CSS and TTML specs for ruby, and i'm missing some information in clreq about how annotations might be positioned. Here's the list of questions i found i was asking myself.

1. I assume that all non-zhuyin annotations are centred over the base character(s) they annotate by default. Is that correct, or are there situations where the start of the annotation is aligned with the start

[2017-01-26 08:53] r12a commented on #118
3.3.4.2 Characters as the Basic Units for Annotating Pronunciation
http://w3c.github.io/clreq/#h-characters_as_basic_units_for_annotating_pronunciation

This again appears too dogmatic, since it is contradicted in the case of Figure 8.

[2017-01-27 05:33] lianghai opened #121 "L2/14-006，关于中文标点的 standardized variant"
Ken Lunde（小林剣）的 [L2/14-006](http://www.unicode.org/L2/L2014/14006-sv-western-vs-cjk.pdf) 提案在 UTC \#150 上得到了反馈：

https://twitter.com/ken_lunde/status/824702031331938305

请各位提供意见。

---

背景：

- [用 standardized variant 解决中文标点复用西文字符的样式问题可行吗？有过提案吗？](https://www.zhihu.com/question/54261764/answer/141470320)
- [中文标点 standardized variant 的最新进展](https://zhuanlan.zhihu.com/p/25032542)

[2017-02-01 01:54] Artoria2e5 opened #122 "加入断行算法优先在标点处断行的建议"
有些浏览器（例如 Chrome）经常会在可以选择断开在中文字或中文标点处断行时选择在中文字处断行，试举一例：

（Firefox、Edge 倒还可以。）

clreq 或许该明确指出应该优先选择标点处断行。

[2017-02-01 11:50] realfish commented on #122
断行位置须兼顾标点禁则，请参考 [3.1.4](http://w3c.github.io/clreq/#prohibition_rules_for_line_start_end)。

[2017-02-02 23:57] upsuper commented on #122
理论上说中文应该是除了禁则位置以外处处可以断行吧，不存在优先选择的问题。这个看起来更像是浏览器bug，clreq并没有加东西的必要。

[2017-02-03 00:30] Artoria2e5 commented on #122
嗯，想了想之后跑去 Chrome 写了个 bug 报告（https://crbug.com/687659 ），似乎事情出在顿号没认为能换行上了。有人表示优先选择谁家都没。

[2017-02-03 00:35] #122 closed, assigned to nobody

[2017-02-03 00:37] upsuper commented on #122
其实我觉得问题更有可能是出在`<a>`的边界上没有给换行机会。

[2017-02-09 11:29] r12a commented on #120
I assume that the answer to 4 is yes, since there's an example of it at http://w3c.github.io/clreq/#h-indicating_meaning_or_other_information. I wonder whether one tends to see hanzi base characters annotated with hanzi text though?

[2017-02-09 11:48] r12a opened #123 "Translation fix needed: Extend over not to"
3.3.4.1 Basic Requirements 基本规则
http://w3c.github.io/clreq/#h-basic-requirements

I believe the english should say "allowed to extend over the top".

[2017-02-09 12:58] r12a opened #124 "Handling long annotations over adjacent characters in Chinese"
3.3.4.1 Basic Requirements 基本规则
http://w3c.github.io/clreq/#h-basic-requirements

Is it possible to get some more detail on how this works?  In JLReq annotations can overlap kana or punctuation, and then there are specific distances to be considered, but cannot overlap kanji. It sounds like romanized annotations can overlap adjacent hanzi characters in Chinese as well as punctuation.  Is that corr

[2017-02-09 20:08] r12a opened #125 "How to handle multisyllable/multiword ruby annotations in Chinese"
In the examples shown in clreq all the word-based annotations, such as píngshéng or xiàohuà, have no space between the syllables.  Is this always the case, or do you sometimes see the pinyin for a word as two (or more) syllables with space between?

The example that includes Kieth Emerson seems to attach those two names to separate runs of hanzi characters.

Are there cases (and presumably there a

[2017-02-09 20:19] r12a opened #126 "How much space around in space-around?"
3.3.6.1 Word Alignment
http://w3c.github.io/clreq/#h-word_alignment

I assume that for the latter two methods, "equally distribute the spacing" is the equivalent of space-around in CSS, while "align justified" is equivalent to space-between.  Is that correct? (see https://www.w3.org/TR/css-ruby-1/#valuedef-ruby-align-ruby-alignspace-between)

If i'm correct, i believe that JLReq prefers space-arou

[2017-02-09 20:26] r12a opened #127 "Are chinese ruby annotations ever start or end aligned?"
I assume that all non-zhuyin annotations are centred over the base character(s) they annotate by default. Is that correct, or are there situations where the start of the annotation is aligned with the start of the base text or the end of the base text? (ie. like katatsuki in japanese)

[2017-02-09 20:28] r12a commented on #120
i'm closing this issue, and opening a couple of the remaining questions as separate issues.

[2017-02-09 20:28] #120 closed, assigned to nobody

[2017-02-15 17:47] r12a opened #128 "How does line start/end overflow work for romanised phonetic annotations?"
The following  is my understanding of the jLReq rules for dealing with situations where an annotation would otherwise protrude outside a line start or end.  Are the Chinese rules the same or different? (In either case, it would be useful to say something in cLReq, i  think.)

---

_Is the annotation longer than the base text?_
	NO	There’s no problem to solve here. Stop.
	YES	Carry on.

_Is the ann

[2017-02-15 19:29] r12a opened #129 "Can long 'ruby text' overlap non-Hanzi characters, and how much?"
3.3.4.1 Basic Requirements
https://w3c.github.io/clreq/#h-basic-requirements

This doesn't put any restrictions on
a. the type of characters that can be overhung
b. the distance the overhang can travel

I wondered about (a) because the TTML spec currently says that overhang is only allowed for hanzi. Is that correct?  Are punctation marks or Latin base text excluded?

In jLReq the maximum overhang

[2017-02-16 04:14] ethantw commented on #123
Agree.

[2017-02-18 08:55] YuRen-tw commented on #103
[之前的版本][a]和[《國語注音符號手冊》][b]裡面提到的[直式比例][c]是一樣的。

[a]: https://www.w3.org/TR/2015/WD-clreq-20150723/#h-choice_of_size_and_ratio_for_zhuyin
[b]: http://language.moe.gov.tw/001/Upload/files/site_content/M0001/juyin/index.htm?open
[c]: http://language.moe.gov.tw/001/Upload/files/site_content/M0001/juyin/jb99.htm?open

[2017-02-18 09:34] YuRen-tw opened #130 "兒化音的注音符號標示方式"
[3.3.5.1 Erhuayin 兒化音](https://www.w3.org/TR/clreq/#h-h-erhuayin)

在臺灣的國文教科書裡面，對於兒化音中「兒」字的注音符號，有將ㄦ標示在明顯偏上方的位置，以表達兒化音節連續性的特殊作法。
（韻母變音的部分雖有變音規則，但少見標注在漢字邊）

下圖是小學課本內頁的照片：
![erhuayin_r](https://cloud.githubusercontent.com/assets/13136823/23091527/36d92df0-f5f3-11e6-909b-e6bbe68c365c.png)

[2017-03-02 09:55] r12a commented on #123
fixed by https://github.com/w3c/clreq/pull/134

[2017-03-02 09:55] #123 closed, assigned to nobody

[2017-03-06 18:16] r12a opened #135 "Is bopomofo needed for on-screen captions?"
The question arose for TTML2. See https://github.com/w3c/ttml2/issues/253

It is being argued that

If you have a view on this or have an insight into use of bopomofo for subtitling, you may want to contribute to that issue thread.

[2017-03-06 19:34] dae-kim commented on #135
It will be extremely helpful if we can reference current subtitle examples of bopomofo and how they markup bopomofo -- is there a published CSS module or other document detailing the semantics?

[2017-03-09 06:45] hax commented on #116
个人感觉这样描述反而引起疑惑。

以我的理解，Unicode未有指明U+2026仅限于西文，但并没有说U+2026就直接可作为一个中文省略号。感觉上也不应如此，因为3点和6点视觉差异很大，应被视为两个不同的符号。

我倾向于：

[2017-03-09 06:54] hax commented on #122
新版chrome（59）已经修复。

[2017-03-20 17:15] r12a opened #136 "Position of ruby, text-emphasis, under/overline, etc in vertical-LR writing mode"
There's a discussion on the TTML2 issue list about what the default position for ruby, text-emphasis, underline and overline should be when vertical text lines are read LTR (ie. not the more usual RTL!) in Chinese or Mongolian.

See https://github.com/w3c/ttml2/issues/240

Unlike CSS, the current TTML spec proposes that text-emphasis would appear by default to the left of the line, as would ruby t

[2017-03-20 19:04] r12a commented on #136
Here's some additional background information about how these things are handled by default in the current CSS drafts.

The CSS spec makes a distinction in the Writing Modes spec between `before` and `over`, and between `after` and `under` (i prefer to use the synonyms `line-over`/`line-under` rather than `over`/`under` in this case, since it's less ambiguous) at https://drafts.csswg.org/css-writi

[2017-03-22 15:10] r12a commented on #119
Fixed by https://github.com/w3c/clreq/pull/134

[2017-03-22 15:10] #119 closed, assigned to nobody

[2017-03-23 03:39] huchunming commented on #136
@r12a, to my experiences, the  text-emphasis should be appear at leftside, (for example, the underline, and dot).  You may refer to example here: http://www.reader8.cn/data/uploadfile/book/uploadfile/201001/20100131052236403.jpg

[2017-03-23 12:27] r12a commented on #136
thanks @huchunming. This morning i had a discussion with @bobbytung , @ethantw  and @ryukeikun. Here's a summary of what i took away from the discussion. (Happy to be corrected on any point.) These notes are only about vertical text.

1. For subtitling, no-one has seen vertical-lr, and very little vertical-rl in chinese too.

2. Straight or wavy lines alongside the text are mostly used for things

[2017-03-26 15:36] ethantw commented on #78
Done with https://github.com/w3c/clreq/pull/138

[2017-03-26 15:36] #78 closed, assigned to bobbytung, ryukeikun

[2017-03-26 15:42] ethantw commented on #29
Done with https://github.com/w3c/clreq/pull/137

[2017-03-26 15:42] #29 closed, assigned to ethantw

[2017-03-28 03:36] huijing opened #140 "Suggestion to include figures for illustrating running heads"
https://www.w3.org/International/clreq/#increased_inter_character_spacing

In section 2.1.3.1 Increased inter-character spacing | 增加字距 | 增加字距, it would help to have figures illustrating each of the 4 use cases below.

[2017-03-28 03:38] huijing opened #141 "Suggest to format type size equivalents in a table format"
For section 2.3.5 Considerations when Designing the Type Area | 版心设计的注意事项 | 版心設計的注意事項, the note that describes the Western sizing equivalent of Chinese type size systems may be better presented in a table format.
Is it ok for me to make the format change and submit a pull request for this?

[2017-03-28 04:34] ryukeikun commented on #141
It is OK to change the format. However, the contents need to be re-written and I will make a new issue for it.

[2017-03-28 05:12] ryukeikun opened #142 "Type size equivalents between 号 and "point""
For section 2.3.5 Considerations when Designing the Type Area | 版心设计的注意事项 | 版心設計的注意事項, the values for 号 and "point" have 2 issues:

1. there are more 号s in actual usage, e.g. in Microsoft Word (Chinese version) font list, there are
大特号 (=63 pt)
特号 (=54 pt)
etc

2. the conversions between _hao_ 号 and point (American point or DTP point, that's another question, though)  are actually not unified yet,

[2017-03-28 08:06] ryukeikun commented on #140
Yes, referencing JLReq, we will need a lot of figures to add.

[2017-03-30 16:46] huijing commented on #136
I came across this photo of a Japanese book with vertical typesetting and use of ruby. Does Chinese vertical text typeset like this as well?
![Japanese ruby](https://github.com/huijing/filerepo/raw/gh-pages/ruby.jpg)

[2017-04-03 04:39] huijing commented on #141
I have updated the format into a table, however, no changes have been made to the content as those should be addressed in #142
I also realised that my first pull request addressing #139 hadn't been merged yet, and commit b532a4d contains the changes for both issues.

[2017-05-08 15:48] r12a commented on #129
Unless someone responds to this very quickly, you should expect TTML to go with its current approach, ie. and overhang value of `auto` will allow ruby to overlap ideographic characters only – and not punctuation or Latin text.

[2017-05-11 18:16] bobbytung commented on #135
Only a few samples for preschool education:
https://www.youtube.com/watch?v=yiQKOD4sE84

In this case, ruby position: inter-charactoer should be considered as a part of the spec.
https://www.w3.org/TR/css-ruby-1/#inter-character-layout

But I'm still working on how to let tone marks (that is ˋˇˊ) on right position, may be try Opentype feature. For TTML, I think next version?

[2017-05-30 03:11] celestialphineas opened #145 "Typo: duplicate simplified Chinese text in the section “Book Title Mark”"
In this section, the simplified Chinese text repeats the sentence “乙式书名号属于括注符号”, and the duplicated is in traditional Chinese.

This need fix. Many thanks!

[2017-05-30 03:30] celestialphineas opened #146 "Attention needed for subscript characters"
Character “儿” used in *erhuayin* is sometimes presented in subscript form in formal publications in China mainland, especially in dictionaries and educational publications. Special attention are needed for subscripts in Chinese layout, as well as formulae and Hanzi mixed text.

表示儿化音的汉字“儿”在中国大陆的正规出版物中时常以下标形式排版，特别是字典和教育出版物。例如《现代汉语词典》就采取了这样一种排版方式处理儿化音中的“儿”字，这不应简单认为是辞书凡例。希望《中文排版需求》可以在后续版本中考虑“以下标排版”的各

[2017-08-04 03:38] xfq commented on #145
Related to #133. I'll submit a new PR if/when I have time...

[2017-08-04 09:10] xfq opened #147 "Duplicate definitions in the Glossary"
In the Glossary, the definitions of 點號 (pause or stop punctuation marks) and 底端 (foot side) are the same, but obviously they should be different.

Ref: https://w3c.github.io/clreq/#glossary

[2017-08-06 09:35] xhacker commented on #146
比较好奇，除了「儿」还有什么下标形式排版的例子么？

[2017-08-06 10:17] celestialphineas commented on #146
除儿化外，如理工科公式。
Other examples concern scientific equations.

F<sub>浮</sub>这样的表记常常出现在初高中教材中。
Notations like “F<sub>浮</sub>” are often seen in middle school course books.

[2017-09-01 14:24] r12a opened #149 "Do emphasis marks swap sides when JA is embedded in ZH?"
This arises from https://www.w3.org/Mail/flatten/index?subject=Default+UA+stylesheet+for+emphasis+marks&list=www-style

Emphasis marks in horizontal japanese text go above the text, but in horizontal Chinese text they go below.  What happens when japanese is embedded in chinese text, or vice versa?

[2017-09-03 09:53] upsuper commented on #149
I kinda think it should keep using the side from the host language.

[2017-09-20 12:05] ethantw commented on #147
Fixed via 939664430

[2017-09-20 12:05] #147 closed, assigned to nobody

[2017-09-25 16:31] r12a commented on #149
@upsuper when you say 'host' language, do you mean:
1. use the side that is normal for the language which has emphasis marks? ie. different for embedded ja text than for surrounding zh text.
2. use the side that is normal for the surrounding language? ie. the same for embedded ja text as for surrounding zh text.

(I suspect you mean 1 but wanted to be sure.)

[2017-09-26 11:24] celestialphineas commented on #146
Erhua, bopomofo, pinyin, etc, might requires more general description and solution. In classical books (like classical musical books), contemporary literature on Chinese language study and scientific coursebooks (like in chemistry), we often observe subscripts or ruby-like characters (either in hanzi or other scripts) laid on corners, left/right side of or above one single Chinese character or a f

[2017-09-27 03:23] ryukeikun commented on #146
Editors have noticed these contents, will add them in coming versions/updates.
编辑们已经注意到这些内容，会在之后版本讨论扩充

[2017-10-11 11:11] r12a opened #151 "Horizontal lines in vertical text"
2.4.2 Major Differences Between Horizontal and Vertical Writing Modes
https://w3c.github.io/clreq/#major_differences_between_horizontal_and_vertical_writing_modes
bullet 2, note

[this extract uses updated text by @huijing ]

I think this text makes it sound like this is the normal approach for handling horizontal lines in vertically set environments, because it only mentions that it's a special c

[2017-10-11 11:21] r12a opened #152 "Half-size han characters"
![](https://cloud.githubusercontent.com/assets/4839211/23313401/719d73f8-fab5-11e6-9c8f-8acde6b552d8.jpg) shows a title at the bottom right that starts with 陳 followed by two small horizontally-set characters 容朝

Is this an example of what is called warichu in Japanese, or is it 'tate chu yoko'?  There is something similar going on in the horizontal heading above, to the right of '8.6%', and in th

[2017-10-11 14:15] xfq commented on #152
The order these characters are read:

* For the heading to the right of the picture, the order is "今年首場";
* For the heading to the right of "8.6%", the order is "國民黨民調";
* For the heading at the bottom right, the order is "陳朝容".

All text written horizontally is read right to left here. Well, except "ＧＤＰ", "8.6%", and the Chinese text in the picture.

[2017-10-11 14:39] ethantw commented on #152
@r12a I updated the format so that the photo would appear properly.

I'm not sure if this is warichu, which represents a form for inline *notes*, but in this case, the smaller text was laid out that way to make room for the full titles. Also, this is clearly not tate chū yoko either, the name of the person is 陳朝容 (not 陳容朝 if read horizontally).

The 8.6% part is quite interesting though, the entir

[2017-10-11 15:05] r12a commented on #152
Btw, the fact that 8.6% and GDP read LTR within the RTL flow is perfectly normal to me, since i work with Arabic, Hebrew, Thaana, etc scripts which also have 'bidirectional text' arrangements where numbers and Latin text are embedded in the main script.

I wouldn't have classified that whole ...8.6%... line as tate-chu-yoko. I think it's just a container with writing-mode set to horizontal (and di

[2017-10-11 15:06] r12a commented on #152
Actually it may be fairly simple - assign direction:rtl to all horizontal text.

[2017-10-15 01:31] upsuper commented on #152
I think it is not tcy because it doesn't perserve the full height of character and compress it horizontally. it merely shrink the font size. This is quite different than what is required in tcy.

[2017-10-30 10:02] murata2makoto opened #153 "ruby: phonetics only?"
A lot of ruby examples in Japan do not represent phonetics.  For example, I have seen とも (friend) as ruby of 敵 (enemy).

Do Chinese use  ruby only for representing phonetics?

[2017-10-30 10:08] murata2makoto opened #154 "Does ruby cover the full text?"
In Japan, we typically use "Para ruby".  Only some of the CJK ideographic characters are accompanied by ruby.

https://www.w3.org/TR/2012/NOTE-jlreq-20120403/#choice_of_base_characters_to_be_annotated_by_ruby

Can I safely assume that Chinese use "General ruby" for educational purposes and do not use "Para ruby"?

[2017-10-31 12:44] r12a commented on #153
https://w3c.github.io/clreq/#usage_of_interlinear_annotations does say

And https://w3c.github.io/clreq/#x3-3-1-2-indicating-meaning-or-other-additional-information gives some examples.  Does this answer the question, Murata-san, or were you looking for something more?

[2017-11-01 11:08] c933103 commented on #153
In Chinese text, I have only see the use of ruby for purposes other than phonetic representation in very few instances, and almost all those instance are when the author was translating rather literally from Japanese text. For the very few instances that the usage do appears in Chinese-original content, from my observation they are almost universally product of interest groups that are deeply infl

[2017-11-01 11:18] c933103 commented on #153
* Note: I have seen a boarder usage of another form of representation in trying to convey a meaning different from the literal way, but they are usually not represented with the feature of ruby or overlay onanother text, instead it is simply written like  "Wo (Xie) Bu (Xie) Yao (Ni) !" in plain text (with the base text in ideography and bracketes text in romanized form, or in form of bopomofo phon

[2017-11-02 07:01] upsuper commented on #154
Others can correct me, but as far as I know, Chinese uses "para ruby" for some level of educational material as well. I believe I have seen that kind of usage in my elementary school textbooks (although I don't have any right now).

[2017-11-03 21:28] fantasai commented on #136
My understanding of `vertical-lr` typesetting is that within a line, typesetting is exactly as for `vertical-rl`. This makes sense given that Mongolian and Chinese are a relatively common mix historically as well as currently.

It seems this discussion has veered into “what is appropriate for `vertical-rl` Chinese”, however, which is a different topic.

[2017-11-04 01:36] murata2makoto commented on #153
Thank you, @r12a  and @c933103.  I recently saw [this advertisement](https://pbs.twimg.com/media/DNNQdXHVQAExjrv.jpg).  This may also be created by those who are deeply influenced by Japanese media.

[2017-11-06 02:46] c933103 commented on #153
This example still seems like phonetic, but the shop owner applied different ateji character onto Japanese romaji based on Chinese pronunciation.

[2017-11-15 14:15] realfish commented on #154
Technically, the para-ruby's usage scenarios should be more than the general-ruby's. At least in Chinese mainland, the general-ruby (annotating every Han character) is only applied in some materials for specific educational purposes and so on.

[2017-11-15 14:42] realfish commented on #153
Actually, ruby being used for metonymic or metonym-like sake is not rare in China. See below via [the Moegirlpedia](https://zh.moegirl.org/%E9%A3%8E%E6%9A%B4%E8%8B%B1%E9%9B%84). (Btw, this site is full of such use cases in other entries.)

![ruby](https://user-images.githubusercontent.com/3247876/32841064-5fef7920-ca54-11e7-823c-91bbf37d0d5f.png)

I agree that this kind of usages is originally inf

[2017-11-16 10:34] #152 closed, assigned to nobody

[2017-11-16 10:47] huijing commented on #151
We will review the Chinese portion for this section as some edits need to be made. I will revisit the translation again once that has been taken care of.

[2017-11-17 06:13] xfq opened #155 "About the two glossary formats"
@ethantw

Currently, [glossary-pinyin.csv](https://github.com/w3c/clreq/blob/gh-pages/glossary-pinyin.csv) includes 99 glossary items, while https://w3c.github.io/clreq/#glossary only contains 80 items. What are the differences between the two? Is the former a superset of the latter? If so, I guess the plan is to do the translation in the csv file and copy the translation to the HTML file, right?

[2017-11-21 08:13] ethantw commented on #155
They are basically the same. The CSV one contains 19 extra definitions of 標點符號 (i.e. 句號, 頓號, 間隔號, etc) which the HTML one does not have. I suggest we stick to the portions we distributed the other day but skip any 標點符號 that aren't in the glossary of the HTML one.

[2017-11-21 09:30] xfq commented on #155
For the record, (after discussing with Yijun) the editors decided not to include 標點符號 in the glossary, because the document itself has already described them in detail.

[2017-11-28 12:07] bobbytung commented on #153
@murata0204 You are right. It's from translated Japanese light novel and broadly used in several situation. So ruby annotation in Chinese is not only specified in phonetics now. Here's some examples:

<ruby>萬維網<rt>Worldwide Web</rt></ruby>

<ruby>ＷＷＷ<rt>萬維網</rt></ruby>

<ruby>敵人<rt>朋友</rt></ruby>

<ruby>敵<rt>ㄆㄥˊ</rt></ruby><ruby>人<rt>ㄧㄡˇ</rt></ruby>

<ruby>敵<rt>peng</rt></ruby><ruby>人<rt>you</rt><

[2017-11-28 12:07] #153 closed, assigned to nobody

[2017-11-28 12:11] bobbytung commented on #154
Para-ruby used for high grade's textbook in Taiwan as well. Here's example:
https://s.yimg.com/sw/prod/akp/n/AB00290291/o/20131102163423.jpg

[2017-11-28 12:12] #154 closed, assigned to nobody

[2017-11-29 03:06] murata2makoto commented on #154
Thank you so much.

[2017-11-29 03:07] murata2makoto commented on #153
Thank you so much.

[2017-12-09 22:20] c933103 opened #158 "Style for counter in ordered list using Chinese character."
As mentioned in https://github.com/w3c/jlreq/issues/12 and https://drafts.csswg.org/css-counter-styles/ , when using Chinese characters to create an ordered list, it should look like:
一、 XXXX
二、 XXXX
三、 XXXX
As opposed to
一. XXXX
二. XXXX
三. XXXX
in numerous current implementation, which was copying the Latin text layout for a. b. c. and such. Should this different between Latin and Chinese layout

[2017-12-14 13:33] bobbytung commented on #116
Ellipses are used to indicate an truncation of text, an unfinished sentence or a break in speech.
Usually use two U+2026 HORIZONTAL ELLIPSIS, making up a middle aligned series of six dots and take up two character widths.

删节号又称省略号，表示节省原文、语句未完或语气的不连续。通常连续使用两个U+2026 HORIZONTAL ELLIPSIS […]，呈现上占两个汉字空间、六个居中省略点。

刪節號又作省略號，表示節略原文、語句未完或語氣的不連續。通常連續使用兩個U+2026 HORIZONTAL ELLIPSIS […]，呈現上佔兩個漢字空間、六個居中省略點。

[2017-12-14 13:34] #116 closed, assigned to nobody

[2017-12-14 13:43] bobbytung commented on #117
加了一段：
On the other hand, Simplified Chinese will apply double quotation marks first, followed by single quotation marks. For Simplified Chinese, double quotation marks include U+201C LEFT DOUBLE QUOTATION MARK [“], U+300E LEFT WHITE CORNER BRACKET [『], U+201D RIGHT DOUBLE QUOTATION MARK [”], U+300F RIGHT WHITE CORNER BRACKET [』]; single quotation marks include U+2018 LEFT SINGLE QUOTATION MARK [‘]

[2017-12-14 13:44] #117 closed, assigned to nobody

[2017-12-14 13:54] bobbytung commented on #130
@YuRen-tw 在國語注音符號手冊（ http://language.moe.gov.tw/001/Upload/files/site_content/M0001/juyin/index.html ）中沒有對兒化音的位置做出表示，想請問範例中的圖片是哪一年的國語教科書。

若為常例，那麼 @ethantw 覺得是否要修改兒化音中的範例？

[2017-12-14 14:02] c933103 opened #161 "Fullwidth full stop or half width full stop?"
In the current CLREQ draft,it mentioned that the ideographic full stop can be replaced be fullwidth full stop in various situation. Recently, there's a discussion on Chinese Wikipedia ( https://zh.wikipedia.org/wiki/Wikipedia:互助客栈/条目探讨#%E4%B8%9C%E4%BA%9A%E6%96%87%E5%AD%97%E6%8E%92%E5%88%97%E6%96%B9%E5%90%91 ), which said that in many Maths textbooks and exercises the punctuation look like halfwidt

[2017-12-14 14:08] bobbytung commented on #151
Chinese traditionally only uses vertical writing mode. When horizontal lines are used in content that is set vertically, such as on stone inscriptions or headings for newspapers and magazines. In such cases, characters should be ordered from right to left. but now this has largely been replaced by the horizontal lines that are read from left to right.

中文传统上仅使用直排，当横排文字使用于直排文字时，如匾额、报纸、杂志的标题，文字应为由右向

[2017-12-14 14:11] #151 closed, assigned to nobody

[2017-12-14 14:14] bobbytung commented on #121
已經在CLREQ的會議中討論過，若還有提出Feedback的需求，請 @lianghai reopen此需求。

[2017-12-14 14:14] #121 closed, assigned to nobody

[2017-12-14 14:31] bobbytung commented on #115
@ethantw About "Book Title Mark" and "Proper noun marks". I think we should not assign specified unicode characters. Because the way restricted implement.

But we can use unicode characters as reference to show presentation form.

書名號
甲式呈現樣貌為波浪底線U+FE4F WAVY LOW LINE [﹏]
U+FE4F WAVY LOW LINE [﹏] as presentation form of book title marks, is positioned at the foot end of the annotated text.

專名號
專名號呈

[2017-12-14 15:54] xfq commented on #158
Yes, it should.

Currently, "、" (顿号/頓號) is mentioned in [§ 3.1.1.1 Pause or Stop Punctuation Marks](https://w3c.github.io/clreq/#h-pause-or-stop-punctuation-marks) and we're planning to add a section about list styling requirements.

[2017-12-14 23:56] upsuper commented on #161
It has mentioned that in https://w3c.github.io/clreq/#categories_and_usage_of_punctuation_marks

[2017-12-15 00:41] #155 closed, assigned to nobody

[2017-12-15 05:34] c933103 commented on #161
The section mentioned Fullwidth full stop but not Halfwidth full stop.

[2017-12-16 13:30] xfq commented on #161
I think what @c933103 means is whether to use `U+002E` FULL STOP [.], rather than `U+FF0E` FULLWIDTH FULL STOP [．] (which is currently mentioned in [§ 3.1.1.1 Pause or Stop Punctuation Marks](https://w3c.github.io/clreq/#x3-1-1-1-pause-or-stop-punctuation-marks) and [§ 3.1.3.1 Science and technology literature](https://w3c.github.io/clreq/#x3-1-3-1-science-and-technology-literature)), so I'll reop

[2017-12-16 14:47] xfq commented on #117
"quotation marks are usually used" seems more natural to me than "usually using quotation marks".

[2017-12-17 02:43] xfq opened #163 "Translate the glossary"
We should finish the English translation of the glossary. The untranslated items are:

* ~~標號~~
* ~~齊頭尾對齊~~
* ~~全形/全角~~
* ~~入聲~~
* ~~聲調~~
* ~~聲母~~
* ~~宋體（明體／明朝體）~~
* ~~天／天頭~~
* None 🎉

(I will edit this post as the terms are translated.)

[2017-12-17 13:21] ryukeikun commented on #163
the current translations should be reviewed, especially for the terms that are paired, e.g.
天/地
全角/半角
标号/点号
声母/韵母

[2017-12-18 09:25] xfq commented on #163
I'll list the current translation of the terms that are paired below, for ease of review:

-----

天：The top margin between the top edge of a trimmed page and the type area.

地：The bottom margin between the edge of a trimmed page and the type area.

-----

全角：Relative index for the length which is equal to a given character size, or the sqare character frame which character advance that is equal to

[2017-12-20 03:05] ryukeikun commented on #163
In my view:

1. The edited version of 天/地 are good now.

2. There are a typo and some grammatical problem in 全角 definition, I think it is better to change like this to make it clear:

全角：a) A relative index for the length which is equal to a given character size. b) A square character frame that has a character advance of character size.

半角：a) A relative index for the length which is equal to 1/2

[2017-12-20 05:20] ryukeikun commented on #161
As "Requirement", CLREQ recommend  `U+FF0E` FULLWIDTH FULL STOP as the document mentioned.

Or, if in typographic description, in shape, the mark itself should be a dot (or, an English-style period) , and also in spacing, it should be followed with some spacing, e.g. en/halfwidth. How much spacing exactly use should depends on layout house style.

In some style, some editor use  `U+002E` FULL STOP

[2017-12-20 14:46] ethantw commented on #163
Chinese mainland should be Mainland China for the sake of consistency.

[2017-12-21 01:47] xfq commented on #163
Thanks for your comments, @ryukeikun and @ethantw! Addressed in https://github.com/w3c/clreq/commit/73eeff458869e3e4101ac8cdacf5d2b225af57b7 with minor adjustment.

[2017-12-22 08:01] xfq commented on #163
Closing. Future discussions can happen in new issues.

[2017-12-22 08:01] #163 closed, assigned to nobody

[2017-12-26 16:29] YuRen-tw commented on #130
@bobbytung
因為記得曾經看過，所以當時（2 月）就翻拍了家裡正就讀小學的小朋友的課本。

最近又拍了這個學期使用的課本，是南一書局出版的《國民小學國語課本 四上》（ISBN: 978-957-589-885-4），作為補充範例。

在目次就可以看到第二課：「花兒」的心事
![image](https://user-images.githubusercontent.com/13136823/34360316-67c39cce-ea9a-11e7-9f05-e6a0047f7db1.png)

第 19 頁四之一：…，「花兒」全／渴得彎腰駝背，…
![image](https://user-images.githubusercontent.com/13136823/34360385-4ae99b02-ea9b-11e7-99b6-dd6aeaf6bdd9.png)

第 20 頁第

[2017-12-26 20:47] c933103 commented on #161
In addition,

In 3.1.1.1.1.Note, it's stated that,

However, in 3.2.1, it's stated that

[2017-12-26 20:56] c933103 opened #164 "Typefaces for Chinese Characters"
- Down below in the document, the "Yuan" typeface style have been briefly mentioned, however it was not introduced in this section. Should an introduction for Yuan be added to the section?
- Is it a good idea to talk about which Chinese typeface correspond to which generic family for font family in css like Kai = Cursive in clreq?

[2018-01-07 23:06] emuller-amazon opened #165 "Zhuyin annotations"
I have some difficulty reconciling CLREQ 3.3.3 with the other sources I can find about zhuyin annotations.

- what are "dialectal non-checked tones" vs. "dialectal checked tones"? Figures 10 and 11 show different placements of those, but there is no such distinction in "The manual of the phonetic symbols of Mandarin Chinese".

- in figure 13, 3rd example, is the text of the annotation <U+3127, U+3

[2018-01-18 17:14] r12a commented on #158
Fwiw, see the following test results for browsers:
https://www.w3.org/International/tests/repo/results/predefined-counter-styles#chinese
https://www.w3.org/International/tests/repo/results/custom-counter-styles#chinese

[2018-01-28 10:36] YuRen-tw commented on #165
#### 1
**Checked tone** in Wikipedia (https://en.wikipedia.org/wiki/Checked_tone):

and

<table>
  <tr>
    <th>Tone</th>
    <th>Neutral</th>
    <th  colspan="4">Non-Neutral</th>
  </tr>
  <tr>
    <th>Symbol</th>
    <td>˙</td>
    <td>ˊ</td>
    <td>ˇ</td>
    <td>ˋ</td>
  </tr>
  <tr>
    <th>Unicode</th>
    <td>02D9</td>
    <td>02CA</td>
    <td>02C7</td>
    <td>02CB</td>
  </tr>
</table>

[2018-02-19 10:23] Man-Ting-Fang opened #166 "一些筆誤"
所據版本為 2017-12-29 發佈之傳統中文版（未校對簡體中文、英文版）。

3.1.4 節中說刪節號不得出現於一行之首，但根據附錄等其他處的說明，其實是可以的。

3.2.1 節中的「表計」當作「表記」。

附錄的詞彙表中：

「欄間距」釋義錯誤（與「欄」相同）。

「直排／豎排」釋義錯誤（與「橫排」相同）。

「比例字體」漢語拼音中「體」應為上聲，誤作輕聲（未標調號）。

「地／地腳」的簡體中文為「地/页脚」，但漢語拼音未分別註音。又，既然「天／天頭」在傳統中文與簡體中文裡稱呼一致，且目前又未列「頁眉」條，竊以為這裡簡體中文統一為「地脚」較佳（這個詞在簡體中文裡也是常用的，也與「天頭」相對）。

「（開始、結束）括注符號」（共三條）中的「括」字，在簡體中文裡讀「kuo4」（去聲），與傳統中文不同，似應分別註音。

「羅馬拼音」漢語拼音中「馬」應為上聲，誤作陰平。

「全形／全角」漢

[2018-02-19 10:33] Man-Ting-Fang commented on #166
又，傳統中文版本中有好幾處夾雜著簡化字（不是指術語對照，而是行文中），因較分散，未能一一統計，希望編者有時間能從頭至尾通讀一遍，改正過來。

[2018-02-21 12:09] r12a opened #168 "How to position ruby and text decoration"
If a hanzi sequence is annotated with pinyin and is also underlined, what are the relative positions for the annotation and the underline?

This question arose in relation to a CSS spec, and it would be useful to add some information about it to clreq.

[2018-02-21 12:12] r12a opened #169 "How to position ruby and emphasis marks"
If both pinyin or other annotations and emphasis marks are applied to the same base characters, how should the relative positioning work?

This question arose from implementers applying the CSS spec, and it would be good to describe the requirements in clreq.

[2018-02-21 14:04] upsuper commented on #168
Pinyin is usually annotated on the top, and underline is... on the bottom, so I don't think they interact with each other?

[2018-02-21 14:23] r12a commented on #168
Well 'usually' means not always ;-)  So what should happen in those other cases?

![screen shot 2018-02-21 at 14 13 34](https://user-images.githubusercontent.com/4839211/36484871-85cea1ba-1712-11e8-8958-6dc667cf2657.png)

![screen shot 2018-02-21 at 14 20 04](https://user-images.githubusercontent.com/4839211/36484881-89c43960-1712-11e8-8647-6063593a1bf9.png)

We don't put any restrictions or give

[2018-03-01 10:54] bobbytung commented on #164
Hello,

- About "Yuan" typeface:

Like Japanese, Yuan is 丸ゴジック(round gothic), belonging to Sans-serif.
So I think it's a variant of 黑體(Hei).

- About Generic Family:

Yes, cursive is mapped to Kai in Safari, Chrome and Firefox on desktop where Kai font is available.
And in CSS Fonts Module level 4, "FangSong" is added to generic family.

[2018-03-01 10:54] #164 closed, assigned to nobody

[2018-03-05 03:40] #166 closed, assigned to nobody

[2018-03-05 03:48] xfq opened #170 "“括”的读音"
In #166:

目前我们还没有分别注音的术语，需要讨论如何呈现。

[2018-03-06 20:43] lianghai commented on #170
鉴于这是地区正音差异，不是简繁中文的问题，所以不必在简繁版本里两个读音分别注音（虽然简繁版本是有地区倾向的，但分别注音还是不妥）。如有必要注音，应当在简繁版本各自都提供两个读音并注明读音偏好的地区。

[2018-03-08 11:55] xfq commented on #96
相关讨论：

* https://www.w3.org/TR/jlreq/#composition_of_emphasis_dots (jlreq)
* https://lists.w3.org/Archives/Public/public-html-ig-zh/2015Dec/0002.html (W3C HTML5中文兴趣小组)
* https://github.com/w3c/csswg-drafts/issues/839 (对应的CSS issue)
* https://lists.w3.org/Archives/Public/public-i18n-core/2024AprJun/0055.html (讨论是否要在Unicode定义默认规避的字符)
* https://drafts.csswg.org/css-text-decor-3/#text-emphasis-style-p

[2018-03-26 01:25] ryukeikun commented on #170
「简繁版本各自都提供两个读音并注明读音偏好的地区」这本身问题不大。

麻烦的是，不仅是字音问题，还影响到「词汇表」的**排序**。由于目前按音序排列，且这个多音字又是字头，因此会导致词汇表的排序不同，因此解决方案有：

1. 「（開始、結束）括注符號」是 CLREQ 专用词汇，是否考虑修改
2. 建议词汇表放弃「音序」而改「笔画/部首」等字形顺序排。跨区域的文本都不是按照音序排列的。但是考虑到绝大多数用户更习惯于音序排序，是否有必要为这一个词而改变整个词汇表排序方式，需要讨论
3. 繁简不同版本分别按照不同发音分别排序

好像每个方案都有点麻烦……

[2018-03-27 04:15] ethantw commented on #170
改用詞彙的英語翻譯字母順序來排序呢？

[2018-03-27 04:20] ryukeikun commented on #170
理论上说，索引应该按照不同语种分别排序，即英文版按英文排序，中文版按中文排序。不能指望所有中文用户都会英文，更何况 CLREQ 里一些术语并不都是常用翻译，用户找不到，就起不到索引的作用呀。

[2018-03-27 05:12] c933103 commented on #170
可不可以考慮不要用普通話/國語排序…不是每個人都懂官話的…

[2018-03-27 05:26] Jinjiang commented on #170
可以当“多音字”来看待吗？汉子里的多音字比如“乐”可以读作拼音“le4”或者“yue4”，是否可以这样看待：）

谢谢

[2018-03-28 00:52] xfq commented on #170
多音字不同的读音语义常常不同，个人感觉不太适用。

[2018-03-28 06:11] Jinjiang commented on #170
不是所有的多音字都是因为不同语义，有些也是因为不同区域 (比如南方/北方) 习惯的念法不同。比如发酵 (jiao2/xiao2) 都是可以的。

[2018-03-29 10:44] ethantw commented on #170
未來，我們會對CLReq的詞彙表做一個體驗優化，始其能以讀者的偏好語言文字（簡體中文根據大陸地區的普通話發音、繁體中文根據台灣地區的國語發音、英語以詞彙之英譯）來排序，甚至可以手動切換排序方式。

由於目前詞彙表中，只有「括注符號」「開始括注符號」「結束括注符號」三個兩岸有所差異的發音，在進行上述優化前，我建議我們可以：

1. 將「括注符號」一詞改為「夾注符號」
2. 統一使用kuò來標注「括」字（[台灣教育部承認kuò為括的又音](https://www.moedict.tw/括)）

來規避「括」字的地區發音差異的問題。

我個人認為「夾注符號」比「括注符號」更為中性，也免於後者容易與「括號」混淆，所以我較偏好第一個方法。如有更好的提議，還請指教。

[2018-04-18 02:10] ryukeikun commented on #169
I think it is a rare case, there is no absolute rules for this, and it is difficult for a document as _clreq_ to give instructions to every extreme cases, where house rules should be applied.

e.g. the case shown in the pic below. For automatic type-setting, this is tolerable, but In printing matters, most of designer will think it is not the best answer. Designer usually may avoid pinyin and emph

[2018-04-18 03:20] ryukeikun commented on #168
As posted in Issue #169 , this is also a rare case.
Obviously, the principle rule is the underline should not overlap the annotations.

Basically, underline is a kind of emphasize mark, and in most of case, the contents need be emphasized is the main characters but not including annotations such as pinyin, so just place the underline as the current common way both in horizontal/vertical text, and

[2018-04-19 08:34] ryukeikun commented on #149
@r12a I have no good example pic for this now, but in practice, I think most house style use 2, which means, if the host/main text is Chinese, the punctuation system including the emphasis marks should be Chinese-style, even some foreign (e.g. Japanese) words mix in. and vice versa.

[2018-04-19 08:41] upsuper commented on #149
(Sorry that I somehow forgot to reply.)

I mean 2, that the side of emphasis marks is chosen according to the surrounding language rather than the embedded text.

[2018-04-19 10:16] ethantw commented on #170
目前先統一改成「夾注符號」，若未來有更好的方式，我們可以再討論。

[2018-04-19 13:48] xfq commented on #149
I agree with @ryukeikun and @upsuper.

[2018-04-19 14:32] r12a commented on #149
Ok, great. Thanks, guys.  Looks like we have a conclusion here. I guess it would be good to add a line to clreq, but i'll also try to feed back into the original CSS issue.

[2018-04-20 01:09] ryukeikun commented on #170
agree!

[2018-04-22 08:49] #170 closed, assigned to nobody

[2018-04-23 01:22] xfq commented on #145
Fixed in a22355c.

[2018-04-23 01:22] #145 closed, assigned to nobody

[2018-05-14 10:14] #165 closed, assigned to nobody

[2018-05-14 12:21] xfq commented on #169
Are you satisfied with Eric's answer, @r12a? Do you think we should add a line to clreq, or close this issue? (Same question for #168.)

[2018-05-14 12:24] xfq commented on #158
Closing, per https://www.w3.org/2018/05/14-clreq-minutes.html

[2018-05-14 13:25] xfq commented on #136
Richard's and Elika's comments seem to have answered the question in this issue, so I'll close it.

Feel free to reopen (or propose to reopen) if you have further comments.

[2018-05-14 13:25] #136 closed, assigned to nobody

[2018-05-21 16:42] emuller-amazon opened #171 "Incorrect title for section 3.1.6.2 Compression of punctuation marks at line start"
It currently is:

3.1.6.2 Compression of punctuation marks at line start

but it actually deals with marks at line start or line end. I would suggest to add "or at line end" to it.

[2018-05-21 16:50] emuller-amazon opened #172 "3.1.6.2 clauses 1 and 2 are conflicting/confusing"
Section 3.1.6.2 Compression of punctuation marks at line start states:

---
1. For the case of line head indent, if a bracket is set at the beginning of a line, half a character space can be reduced ahead of the bracket.

2. When an opening bracket appears at the beginning of a line, half a character space can be reduced ahead of the bracket.
---

Given 2, it would seem that 1. applies only to _cl

[2018-05-21 17:01] emuller-amazon opened #173 "3.1.5.1 Punctuation Marks"
I suppose this should be "U+2E3A and _two successive_  U+2014 ..."

The "four" seem very strange here. And this contradict the sentence above it.

[2018-05-22 03:43] xfq commented on #173
I submitted https://github.com/w3c/clreq/pull/175 to fix this.

After reading section 5.1.5 of General Rules for Punctuation (GB/T 15834―2011), I think it means two **Chinese** horizontal ellipses, i.e. twelve dots. The "twelve dots" form is often used for omission of line(s) in poetry, or omission of paragraph(s). Therefore, this rule doesn't really contradict with the sentence above the rule.

S

[2018-05-23 12:17] r12a commented on #173
https://w3c.github.io/clreq/#x3-1-5-1-punctuation-marks

This para is a little complicated. How about changing to:

[2018-05-23 12:34] r12a commented on #172
My guess is that we're talking about
a. a line that starts a para and is indented by one character space
b. a line that doesn't start a para, or doesn't have an indentation.

My further guess is that (1) refers to scenario (a) and means that the _indentation_ is reduced to half a character width(?)

[2018-05-23 15:01] r12a opened #176 "Position of ruby, text-emphasis, under/overline, etc"
I raised the question at https://github.com/w3c/clreq/issues/136#event-1624793646 because I didn't find any answer in clreq.  I think it would be useful to add a section to clreq that sums up the conclusions reached, rather than just leaving them in a closed issue (see in particular https://github.com/w3c/clreq/issues/136#issuecomment-288703222).

This is a request for text to be added to the docu

[2018-05-23 15:01] r12a commented on #136
See https://github.com/w3c/clreq/issues/176 for a follow-on from this discussion.

[2018-05-23 15:10] r12a commented on #158
What's the resolution and action here?  Nothing is stated in the minutes linked to.

[2018-05-23 15:38] r12a commented on #158
Looking closer, i see above the link to this issue in the minutes:

Does that indicate the resolution?

Personally, i think it would be better to have a new section related to Lists & Counters (see for example https://w3c.github.io/elreq/#lists_and_counters).  Such a section could address this question, list alternative counter styles, and also look at questions of positioning of counters in verti

[2018-05-23 17:15] r12a commented on #158
Is this helpful as a base to work with for a new section?

# Chinese lists & counters

Chinese lists use a number of different counter styles. Patterns for these counter styles are described in the W3C Note Custom Counter Styles.  The various types of counter style are named and grouped here per their description in that specification.

## Bulleted lists

_What is the preferred shape of bullets?_

[2018-05-24 07:15] xfq commented on #173
Looks good to me. Pushed the para to #175.

[2018-05-24 07:34] xfq commented on #158
Sorry for the sketchy notes. The part related to #158 is:

I proposed to close this issue, because in [§ 3.1.1.1 Pause or Stop Punctuation Marks](https://w3c.github.io/clreq/#h-pause-or-stop-punctuation-marks):

However, now I think that sentence is not enough because it does not state the "list-marker of an ordered list" case.

[2018-05-24 07:35] xfq commented on #158
And this is for #161.

[2018-05-24 07:36] xfq commented on #158
Thanks for the starter text! It's helpful.

[2018-05-24 08:27] r12a commented on #158
Also, i read that sentence and assumed that it related to use in text such as:

It didn't seem to be related to the suffix for a counter, as you say.

[2018-05-24 08:31] r12a commented on #173
Is the Chinese ok?

[2018-05-24 08:44] xfq commented on #173
Personally, I think it's ok. It doesn't say "take one character height", but I assume this is a well-known fact...

[2018-05-27 13:11] bobbytung opened #177 "Please review: 3.1.3.3 Locale specified rules for punctuations"
I just add a section in 3.1.3 to describe rules for punctuations in vertical writing in Mainland China.

https://w3c.github.io/clreq/#atypical_punctuation_marks_and_their_arrangements

@ryukeikun 你能看看這樣的編排是否恰當，此外，我發現Apple的系統字體，無論蘋方還是宋體，分號（；）在竪排的位置都是錯誤的

@xfq @lianqi Please help me to review English translations

[2018-05-27 19:49] jjgod commented on #177
Can you elaborate? I just tried a test with TextEdit it seems to work as expected:

![screen shot 2018-05-27 at 12 48 48](https://user-images.githubusercontent.com/1017/40589996-6f5f7bd6-61ac-11e8-8943-6894297da535.png)

[2018-05-28 04:14] xfq commented on #177
Submitted #178.

[2018-05-28 08:47] bobbytung commented on #177
@jjgod

You are right. It should be a safari's bug.

<img width="505" alt="2018-05-28 4 45 01" src="https://user-images.githubusercontent.com/1863378/40606016-a073cfe8-6296-11e8-9d3a-2f75380e5e3b.png">

[2018-05-29 08:27] xfq opened #179 "Suggestions to the gap analysis"
Here are some suggestions to the [gap analysis](https://w3c.github.io/clreq/gap-analysis/) document. Any further comment is welcome!

-----

[Fonts](https://w3c.github.io/clreq/gap-analysis/#fonts):

I propose changing it from `tbd` to `advanced`.

One issue we might want to mention is that font matching/fallback for variation sequences is not implemented correctly: https://github.com/w3c/csswg-dr

[2018-06-04 17:00] r12a commented on #177
@bobbytung i just took a closer look at the section, and here are some notes for you or for the person who translated to English.

[1]
perhaps the class=checkme should now be removed from the section tag?

[2]

 Are we talking about ancient books specifically in Mainland China here?  It's not clear from the text. It might help to change the full stop before 'But' to a comma and say 'there are stil

[2018-06-29 04:36] ryukeikun commented on #177
I have rewrote this section, deleted some repeated contents, and combined some general rules into 3.1.2.

[2018-06-29 10:51] ryukeikun commented on #179
OK for me.

[2018-06-29 10:52] #177 closed, assigned to nobody

[2018-06-30 05:04] #171 closed, assigned to nobody

[2018-07-03 06:06] xfq commented on #179
Fixed in #182.

[2018-07-03 06:06] #179 closed, assigned to nobody

[2018-07-23 11:55] r12a opened #184 "Need a font-family style set for zh text"
Currently, the clreq document attempts to display Chinese text using the Helvetica font. As a result, the Chinese characters are displayed in whatever fallback font is used by the viewer's browser, but common punctuation, such as middle dot, is not displayed correctly.

We should alter the CSS style sheet to set a sequence of fallback fonts, based on readily available fonts for major platforms, fo

[2018-07-23 12:49] r12a commented on #115
I agree that the document should provide requirements rather than technical implementations or solutions, and that's actually why i'm concerned about this. I'm not yet convinced that this section is correct or pitched at the right level.

The current wording implies quite strongly that use of a character is the normal way to achieve one type of book title mark. "U+FE4F WAVY LOW LINE [﹏] is positio

[2018-07-27 11:55] ethantw commented on #127
There is actually a Zhuyin use case for this kind of situation, lol: https://github.com/w3c/clreq/issues/130

[2018-07-27 12:31] xfq commented on #141
I think this issue can be closed, because we have #142.

[2018-07-27 12:31] #141 closed, assigned to nobody

[2018-08-14 05:46] xfq commented on #173
Closing this issue, since #175 has been merged.

[2018-08-14 05:46] #173 closed, assigned to nobody

[2018-08-17 10:52] bobbytung commented on #172
<img width="254" alt="2018-08-17 6 28 28" src="https://user-images.githubusercontent.com/1863378/44262434-a3421a80-a24d-11e8-964c-1d1a70e001f3.png">

In Chinese fictions, dialogue usually wrapped with brackets. To align with other paragraphs horizontally, designers may apply 1. rule for indented line head. But 2. is an option.

<img width="88" alt="2018-08-17 6 44 30" src="https://user-images.gith

[2018-08-17 11:18] moyogo commented on #172
Should the [`vhal` *Alternate Vertical Half Metrics*](https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vpal) or [`halt` *Alternate Half Widths*](https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#halt) features be used instead of cutting half of the character width when available?

[2018-08-17 14:51] xfq commented on #184
Fixed in #185.

[2018-08-17 14:51] #184 closed, assigned to nobody

[2018-08-18 04:32] xfq opened #187 "Add Source Han Sans?"
From https://github.com/w3c/clreq/pull/185#issuecomment-413903047 :

Should we add `Source Han Sans` to the font stack in our style sheet?

[2018-08-21 09:07] huijing commented on #187
Source Han Sans the system font for which system? Noto Sans was added as the default for Android systems

[2018-08-21 12:35] xfq commented on #187
@Stone-Zeng, do you have more info?

[2018-08-21 15:03] stone-zeng commented on #187
Some Windows users may install Source Han by themselves, then it will give a better effect, especially punctuation.

[2018-08-23 11:15] ghost opened #188 "着重号"
着重号应该是U+0323吧，我从RIME那边了解到的

[2018-10-12 11:48] upsuper commented on #188
U+0323语义上是combining dot below，是一个在与其他文字组合时可以在文字下面显示点的字符，这个字符通常用于在拉丁系语言里改变一个音节的读音。而着重号是一种文字装饰，类似于下划线、删除线一类的东西，是属于由排版系统提供的样式。其本身并不是语义的一部分。

输入法试图在纯文本中实现这一样式，可能会活用一些组合字符来，但它们在语义上是不正确的。

[2018-10-12 11:48] #188 closed, assigned to nobody

[2018-10-12 13:43] xfq commented on #187
The editors discussed this issue today and resolved to close this issue as WONTFIX. Closing accordingly.

https://www.w3.org/2018/10/12-clreq-minutes.html

[2018-10-12 13:43] #187 closed, assigned to nobody

[2018-10-19 04:22] c933103 opened #189 "Alphabetical Chinese list sorting"
Some of the currently most popular methods of sorting a Chinese list include:

* Phonetic-based sorting
  * Pinyin
  * Zhuyin
  * Other romanization methods
* Ideograph-based sorting
  * Stroke count
  * Radicals
  * Other methods like four corners
* Encoding-based sorting
  * Unicode Code point
  * Chinese Telegram Code
  * Other encoding schemes

It would be nice for clreq to list out and comoar

[2018-11-08 10:34] Aalmaho commented on #136
Ok

[2018-11-13 12:26] r12a commented on #169
I definitely think we should add something to clreq.  Here's some suggested text as a starter.  I imagine this would be a new subsection at the end of 3.3 Interlinear Annotations.

# Mixing emphasis marks and annotations

If both pinyin and emphasis marks are applied to the same base characters, here are no absolute rules for how to position them relative to each other, or relative to the base cha

[2018-11-13 12:48] r12a commented on #168
The second of the pictures above shows the ruby text above as well as below the base text.  Presumably, this is to avoid the need to move the base characters apart in order to fit the annotations (although that didn't appear to work in the very first line).

[1] is this a common thing to see?

[2] does it provide a way of dealing with underlines? (ie. move the annotation to the other side of the b

[2018-11-13 13:46] r12a commented on #149
Suggested text starter, as a subsection to go under 3 Line Composition.  This also covers the discussion in https://github.com/w3c/clreq/issues/136

# Text decoration

Straight or wavy lines alongside the text are typically used in Chinese to indicate proper nouns such as a person's name, a book title, or the name of a place (see Fig XX), rather than for emphasis like in underlining associated wit

[2018-11-13 14:05] r12a commented on #149
sorry, that last comment was incomplete, and possibly in the wrong place.  I will remove it, and put it back later.

[2018-11-13 14:16] r12a opened #192 "Starter text for sections on text decoration, emphasis, etc"
Suggested starter text, as subsections to go under 3 Line Composition.  This covers the discussions in https://github.com/w3c/clreq/issues/136, and https://github.com/w3c/clreq/issues/149.

# Text decoration

Straight or wavy lines alongside the text are typically used in Chinese to indicate proper nouns such as a person's name, a book title, or the name of a place (see Fig XX), rather than for em

[2018-11-14 11:48] #22 closed, assigned to nobody

[2018-11-14 11:49] #31 closed, assigned to bobbytung

[2018-11-14 11:50] upsuper commented on #35
https://github.com/w3c/mlreq

[2018-11-14 11:50] #35 closed, assigned to nobody

[2018-11-14 11:59] bobbytung commented on #39
以俗用標點加在 3.11 Categories and Usage of Punctuation Marks 标点符号的分类及用法 標點符號的分類及用法

[2018-11-14 12:09] bobbytung commented on #51
Add note to 3.1.1.1.3

[2018-11-15 00:14] ryukeikun commented on #51
关于连续标点的宽度问题，请留意《GB/T 15834-2011 标点符号用法》中的规定：

[2018-11-15 05:16] c933103 commented on #51
應該提示一下不要用emoji representation來顯示相關符號
![image](https://user-images.githubusercontent.com/1525293/48531747-6e8b4100-e8d8-11e8-83b3-4122bbbc4c4b.png)

[2018-11-15 05:20] c933103 commented on #35
應該要考慮的是有什麼問題是和西文或者其他語言混排不會產生但是和中文混排就會產生

[2018-11-15 05:24] stone-zeng commented on #51
这个应该只是字体的 fallback 吧。

[2018-11-23 06:28] xfq opened #194 "Translate README.md into Chinese"
[JLReq](https://github.com/w3c/jlreq)'s `README.md` has Japanese translation. A Chinese translation for the `README.md` would be great, too.

We should translate `CONTRIBUTING.md` as well.

[2018-11-26 02:11] ryukeikun commented on #194
Sure, I will try to add it.

[2018-12-19 11:37] ethantw commented on #57
We’ve come to a conclusion to rewrite the aforementioned sentence to the following:

[2018-12-19 11:56] bobbytung commented on #92
這是在2015年CSS WG上討論的問題。
就現在數位字體排版時，會因為字體設計的差異造成Baseline偏高或者偏低，所以希望CSS能有如InDesign等排版軟體的機制能夠對中西混排時，字體的Baseline進行調整對齊。
但對中文排版而言，我們沒有辦法給出一套標準的做法，所以這是實務上的需求，但在CLREQ裡不能給出明確的說明與指引。

[2018-12-19 11:57] #92 closed, assigned to ryukeikun

[2018-12-19 11:59] bobbytung commented on #98
補上 U+2026 HORIZONTAL ELLIPSIS […]

[2018-12-19 12:02] bobbytung commented on #98
省略号可以使用三点省略号 U+2026 HORIZONTAL ELLIPSIS […] 位置按照西文排版習慣。

[2018-12-19 12:08] ethantw commented on #98
編輯開會後決定改寫為：

[2018-12-19 12:09] ethantw commented on #110
Fixed

[2018-12-19 12:09] #110 closed, assigned to ethantw

[2018-12-21 03:36] xfq commented on #56
During the teleconference, we decided to use Richard's proposed text, or the current definition in the [Glossary](https://w3c.github.io/clreq/#glossary).

@r12a what do you think?

[2018-12-22 08:18] #57 closed, assigned to nobody

[2019-01-15 05:41] xfq commented on #38
GB/T 15834-2011 § 4.8.3.5:

Related discussion in Zhihu: https://www.zhihu.com/question/20220789

[2019-01-15 05:41] xfq commented on #38
Another example in English:

*Pride & Prejudice, Chapter XIX of Volume III (Chap. 61)*

[2019-01-15 09:12] xfq commented on #39
添加到 [§ 3.1.3 Atypical punctuation marks and their composition](https://w3c.github.io/clreq/#atypical_punctuation_marks_and_their_arrangements) 这一节如何？

[2019-01-15 09:35] xfq commented on #41
具体的技术方案已超出排版需求文档的范畴，所以不需要在这里提出。

关于弯引号在直排中的处理，大家觉得是直接加在 [§ 3.1.1.2 Indicator Punctuation Marks](https://w3c.github.io/clreq/#indication_punctuation_marks) 的“繁体中文也有使用弯引号者，但很少用于直排”这句话后面好，还是放到 [§ 3.2 Composition of Chinese and Western Mixed Texts](https://w3c.github.io/clreq/#chinese_and_western_mixed_text_composition) 这节比较好？

[2019-01-16 09:54] xfq commented on #90
Bobby has been working on a list: https://‌github.com/‌bobbytung/‌Bopomofo_on_Web

[2019-01-16 09:57] xfq commented on #103
@ethantw, Could you revert it to the old version?

[2019-01-16 10:21] ethantw commented on #103
@xfq OK，我找時間盡快處理。

[2019-01-16 11:47] xfq commented on #39
可以加一个 § 3.1.3.3 俗用标点

[2019-01-16 11:52] bobbytung commented on #41
@xfq 放到 [3.2.3 Mixed Text Composition in Vertical Writing Mode 直排的中、西文混排配置 直排的中、西文混排配置](https://w3c.github.io/clreq/#mixed_text_composition_in_vertical_writing_mode)

[2019-01-16 11:57] bobbytung commented on #51
加到 [3.1.3 Atypical punctuation marks and their composition 非典型的标点符号及其配置 非典型的標點符號及其配置](https://w3c.github.io/clreq/#atypical_punctuation_marks_and_their_arrangements)

另加一節：標點組合。既有的Unicode編碼以Note來處理。

[2019-01-16 12:19] #42 closed, assigned to ryukeikun

[2019-01-16 12:25] #98 closed, assigned to nobody

[2019-01-17 08:26] xfq commented on #109
Link to JLReq: https://www.w3.org/TR/jlreq/#inline_cutting_note

Related discussions:

* https://www.w3.org/2023/10/09-clreq-minutes.html#t02
* https://www.w3.org/2023/11/17-clreq-minutes.html#t03

[2019-01-18 07:30] xfq opened #202 "Add more link anchors"
As @r12a mentioned in https://github.com/w3c/clreq/pull/200#issuecomment-455127569 , we need more link anchors (e.g., for the punctuation marks).

[2019-01-18 08:19] xfq commented on #114
Two points we should add:

* Where should the [offset](https://drafts.csswg.org/css-text-decor-4/#underline-offset) start? The edge of em box?
* The position of the underline (bottom of em box in horizontal, and left of em box in vertical?)

[2019-01-18 09:33] xfq commented on #118
In case other people find it confusing, the "Figure 8" mentioned above is now Figure 9:

![phonetic-in-both](https://user-images.githubusercontent.com/2863444/51377988-2b06ba80-1b47-11e9-86d5-27f3a8cc1ee8.png)

Link: https://w3c.github.io/clreq/#phonetic-in-both

[2019-01-18 12:38] r12a commented on #202
We added ids to all list items and notes in jlreq some time ago, so that it is easy to refer to parts of the document. (See https://github.com/w3c/jlreq/issues/7).

Should we do the same for clreq?  (Fuqiao or i could probably do it.)

[2019-01-18 12:41] r12a commented on #202
I'm assuming we've been adding links anyway to headings and to figures. If that's not the case, we should add were needed also.

[2019-02-20 08:19] xfq commented on #194
Fixed by #195 and #197. Closing.

[2019-02-20 08:19] #194 closed, assigned to nobody

[2019-02-22 11:17] huijing commented on #189
Sorting is beyond the scope of this document.

[2019-02-22 11:19] #189 closed, assigned to nobody

[2019-02-22 11:53] bobbytung commented on #135
Bopomofo layout, especially tone marks' position need more work with font technology.

[2019-02-22 11:53] #135 closed, assigned to nobody

[2019-02-22 12:53] #41 closed, assigned to ryukeikun

[2019-02-25 06:32] xfq commented on #96
See also the markdown notes in HackMD: https://hackmd.io/0x9bBZbDSqyhSg5J-V_NsA

[2019-03-20 22:21] c933103 opened #204 "Connector Mark, Taiwanese standard"
According to official document from Taiwan MoE, a connector mark must occupy the space of one character (see https://language.moe.gov.tw/001/Upload/FILES/SITE_CONTENT/M0001/HAU/h15.htm ).

However, the character currently given out by clreq, which include U+2013 EN DASH [–], and  U+007E TILDE [~], are both less than one character width.

Thus, the EN DASH in the document should probably be replace

[2019-03-20 22:31] c933103 opened #205 "Mention the use of U+2500 box drawing character for bracket?"
See description at http://gniw.ca/unicode-two-em-dash.php and usage at https://language.moe.gov.tw/001/Upload/FILES/SITE_CONTENT/M0001/HAU/h7.htm , it seems like a common way other than using two em dash to ensure no gap between two character space long gap?

[2019-03-28 21:55] bobbytung opened #206 "3.1.3 非典型的標點符號及其配置 新增內容"
#### 3.1.3.3 嘆問號與問、嘆號疊加

嘆問號於中國大陸《標點符號用法》（GB/T 15834–2011）中作為嘆號的延伸用法，當語氣同時具備強烈的疑問與感嘆時，可於問號後加上嘆號（?!）。然而在許多作品中，也常見在嘆號後加上問號（!?）的用法。此外，在同標準的問號與嘆號用法也指明在語氣加重時可疊用問號或者嘆號，最多可疊用到三個（!!!、???）。

排版上，《標點符號用法》規定問號與嘆號連用時，佔一個字位置；兩個問號或嘆號疊用時，佔一個字位置；三個問號或嘆號疊用時，佔兩個字位置。此外，在台灣直排的習慣中，嘆問號連用與問號、嘆號疊用時，符號多直立，並且佔一個字的位置。

#### 3.1.3.4 示亡號

示亡號並未列於標點符號相關標準文件，但卻是民間經常使用的俗用符號。示亡號亦稱示殁号，為在人名文字外框描上實心的黑色邊線表示已經過世，類似西文中劍標（U+2020 DAGGER

[2019-03-29 01:39] ryukeikun opened #207 "地区差异表述问题"
现行 1.1 这样的表述，不甚严谨。目前行文给人的印象是，「字」分繁简两种，「排版」有地区差异。而事实上，字也有地区差异，即使同样的繁体字，根据不同地区的规范化也有不同的正异之分，因此建议全面改用「地区差异」，而弱化「繁简差异」。

建议修改如下：

中文的书写系统可以大致分为「繁体字」「简体字」系统，但是，使用中文的各个地区（中国大陆、台湾、香港、澳门、新加坡、马来西亚等）对汉字各自分别有不同的规范化形式，其具体字形、笔画多少存在差异，也会采用与其他地区不尽相同的排版规则。

[2019-03-29 02:00] ryukeikun commented on #142
建议此段修改如下：
---------
中文活字大小有不同单位。在金属活字时代，传统中文活字尺寸以「号」为单位，故称作「字号」；在照相排版时代沿用照排机尺寸的单位「级」，故称作「字级」；在桌面排版时代，直接使用桌面排版软件中的「点」（DTP point）。目前，很多场合的中文排版依旧习惯沿用「号」。

「号」由于当年金属活字各地厂家的规范不一而不尽相同，「号」也有英美、欧陆、DTP等多种制式，导致「号」与「点」的换算有不同方法。下表仅列出常见的一些换算数值，仅供参考，不作为规范性规定：

号数 | 点数
-- | --
初号 | 42 pt
一号 | 27.5/28 pt
小一号 | 24 pt
二号 | 21/22 pt
小二号 | 18 pt
三号 | 15.75/16 pt
四号 | 13.75/14 pt
小四号 | 12 pt
五号 | 10.5 pt
小五号 | 9 pt
六号

[2019-04-02 07:59] huijing commented on #142
我试试看做个英文翻译，但是有些词不知道怎么翻，要大家帮个忙。文档里的table我已经在自己的branch修改了。

There have been different size systems for Chinese characters. The traditional size system used for metal typesetting utilised numerical units. During the phototypesetting era, 级 were used as the sizing units instead. When it came to desktop publishing, font sizes were determined by the DTP point system which was built into the software its

[2019-04-02 08:12] ryukeikun commented on #142
建议「号」就用 hào (literally No. ) 而「级」应该是 Q；另外我原文有一个笔误，『「号」也有英美、欧陆、DTP等多种制式』→『「点」也有英美、欧陆、DTP等多种制式』。

建议修改如下，大家觉得如何？

There have been different size systems for Chinese characters. The size system in traditional metal type utilized _hào_ (literally _No._ ) units, while in the phototypesetting era, Q were used as the sizing units instead. When it came to desktop publishing, font sizes were determined by

[2019-04-02 11:09] #103 closed, assigned to ethantw, bobbytung

[2019-04-02 11:11] #38 closed, assigned to ryukeikun

[2019-04-02 11:32] upsuper commented on #207
也许可以不要「字」就「简体」「繁体」系统？

[2019-04-02 12:06] bobbytung commented on #205
No, we recommend to use U+2E3A or double U+2014 with font support.

[2019-04-02 12:06] #205 closed, assigned to nobody

[2019-04-03 16:57] macnmm commented on #142
I would guess that the 級 and 歯 units from photo typesetting are mm-based? In Japan this is what they are, and we have similar confusing issues with Points being either American Point, JIS Point, DTP point, Didot Point or Traditional Point, all different. 号 units also differed by foundry, I believe, and conversion tables used either Traditional Points or JIS Points, and needed conversion to DTP Poi

[2019-04-08 10:13] huijing commented on #207
我的翻译：
Chinese characters are written in two scripts, Traditional Chinese and Simplified Chinese. Chinese communities in different regions (e.g. China, Taiwan, Hong Kong, Macau, Singapore, Malaysia and so on) may have their own standards on specific glyphs and character strokes. They may also have typographic layout rules specific to their own region.

如果ok，我就把中英文的都修改再做个PR。

[2019-04-08 10:28] c933103 commented on #207
中國大陸→Mainland China，為避免政治敏感問題請避免把China此一單字與大中華區其餘區域並列

[2019-04-08 10:43] huijing commented on #207
Noted. Will update accordingly in the pull request. Is the Chinese version alright?

[2019-04-08 10:52] c933103 commented on #207
"are written in" 也表達不了中文原文所說的「大致分為」的意思， 以及各區域用字規範不同的描述也未能反映出來

[2019-04-08 16:01] huijing commented on #207
How about:
Chinese characters can be broadly classified into two scripts, Traditional Chinese and Simplified Chinese. Chinese communities in different regions (e.g. Mainland China, Taiwan, Hong Kong, Macau, Singapore, Malaysia and so on) may have their own standards on specific glyphs and character strokes. They may also have typographic layout rules specific to their own region.

[2019-04-09 05:51] ryukeikun commented on #207
「书写系统」应该是 writing systems，其下才是 script 和 character；
翻译成下文可能更清晰一点，但似乎有点冗长？

Chinese writing system can be broadly classified into two: Traditional Chinese and Simplified Chinese. Chinese communities in different regions (e.g. Mainland China, Taiwan, Hong Kong, Macau, Singapore, Malaysia etc) may have their own regional standards, in which they have different specifications on which glyph is orthodox

[2019-04-09 08:07] huijing commented on #207
我觉得还好啦，中文本来就是比较简洁的语言 ¯\\\_(ツ)_/¯

[2019-04-11 07:34] hax opened #209 "中文排版需求里有类似『East Asian Casual Vertical Rhythms』的需求么？"
https://drafts.csswg.org/css-rhythm/#eastasia 描述了『East Asian Casual Vertical Rhythms』，作为这份草案的主要 use case 之一。

但在本中文排版需求中并没有类似的描述。（日文排版需求里似乎也无。参见 https://github.com/w3c/csswg-drafts/issues/1155 的讨论。）

所以我不是很确定 css-rhythm 草案里的描述是否恰当。又或是应加入中文或日文排版需求中？

[2019-04-11 08:41] c933103 commented on #209
![IMG_20190411_163912](https://user-images.githubusercontent.com/1525293/55943127-8b098a80-5c78-11e9-9ab1-ef4bd10d8c58.jpg)
是說類似這種？

[2019-04-12 00:50] ryukeikun commented on #209
有的。

该功能其实是为了更好地实现东亚文本的网格，因为方块字排版时有基于 rem 的「套格子」的内在需求。比如中文排版里的小标题需要进行「占行」操作，即比如，版面会要求「一行小标题占两行正文的高度」（而不是用段落前后间距控制），如图。或者「两行标题占三行」。这都是符合内在的中文网格的需要。

以 CSS 目前的行高和段间距的控制机制，对于这样多栏版面里的「行对齐」非常难控制，各行高度容易错开，特别是不同字号、不同字体时混杂时，而这在印刷媒介上绝对不允许出现的。

<img width="615" alt="占行图" src="https://user-images.githubusercontent.com/8192599/56004367-d027ce00-5d05-11e9-8c3e-14c304035be0.png">

中文排版需求有计划在未来深化这部分内容。
日文排版需求里也对

[2019-04-12 01:32] ryukeikun opened #210 "关于分栏"
「2.4.2 横排与直排的主要差异点」最后的注有必要吗？如果这不是一个通常做法，作为需求文档只要表述「可以……也可以……」，也就是说 4.2.2.4.2 「横排时，各栏的行数需平均。」的「需要」改为「可以」，将要求级别降低。

而且感觉「中文书籍无论直、横排大多不分栏」与后面 3.1.4 行首行尾禁则的注「港台出版品中，报纸、杂志多采用分栏式排版」的表述显然过于随意。原本日文排版需求里的这句话也是针对报刊杂志的，再次无须把「书籍排版」与「报刊排版」对立起来。

[2019-04-12 08:52] hax commented on #209
@ryukeikun 我理解网格的需求。但这里有个问题，按我的理解，『East Asian Casual Vertical Rhythms』描述的是非严格的网格，当有border、margin的时候就会偏移。在该draft里有这样一段描述：

所以我其实是想问这个描述是否符合实际，因为在中文排版需求和日文排版需求里似乎并没有这种非严格网格的叙述。

[2019-04-12 16:13] c933103 commented on #209
我還是看不太懂這個East Asian Casual Vertical Rhythms是什麼意思，沒理解錯的話，
嚴格的Vertical Rhythms要求是這樣？
![image](https://user-images.githubusercontent.com/1525293/56050992-eb372400-5d7f-11e9-8e10-70ece3250145.png)
![image](https://user-images.githubusercontent.com/1525293/56051062-1ae62c00-5d80-11e9-9a6f-be796402f12f.png)
然後寬鬆的East Asian Casual Vertical Rhythms是這樣？
![image](https://user-images.githubusercontent.com/15

[2019-04-16 01:20] ryukeikun commented on #209
就传统字体排印的要求来说，东亚排版需要的是「严格式」的 vertical rhythms，这在 jlreq 里有描述，clreq 里也会深化。

但正如该文档所说，「非严格式」之所以会出现，是由于八十年代文字处理器的技术原因无法实现印刷版面的「严格」网格，非专业的消费级字处理默认都只能这种「非严格式」（在传统角度来看根本就不是全局网格的方法），几十年下来，导致很多用户并不觉得这是非正常状态，误以为是正常的，造成了这种「非严格式」的泛滥。很多人并没有意识到，用 Word 等制作的文档，往往都是这种「非严格式」。

正因为这不是专业正统的方式，所以在原来的需求文档里都没有提及。考虑到这已经是目前大多数非专业文档的现状，该文档提出了这个概念，是为了容忍这一已经普及、但并非专业正统的格式。

所以我们「需求文档」的立场依旧是，从正统的、专业的字体排印来说，应该采用中式网格（所谓「严格式」），至于非

[2019-04-16 02:17] ryukeikun commented on #209
你想象一下这种场景：正文都是 10 pt，行高 15 pt。现在我需要在两个段落之间添加一行小标题，小标题规定字号是 15 pt。现在如何方便地控制这个小标题的位置以保证中式网格？

在很多场合，由于无法实现「标题占行」功能（以实现即所谓的严格式 vertical rhythm），只能通过普通的行距来控制这行小标题，导致小标题之后的段落，虽然段落内部（以固定的 line-height-step）继续维持相对的 rhythm，但已经整体偏移上一个段落（上一个 block）曾遵守的**全局网格**，也就是该文档所说的

如下图左，网格是全局的；而下图右，下段的网格位置已经偏移，也就是说，上下段落的网格由于中间小标题设置不当而不统一，网格不是全局的。这正统的印刷排版是不能容忍的，但是目前普通消费者级的排版多数是这样，所以这个文档认为需要容忍这一排版。

另外，改文档也提到，

也就是说，如果套用

[2019-04-27 23:12] upsuper commented on #209
在标准来说最大的问题不是非专业人士会无法理解，更重要的是在不同平台不同浏览器里，不同的字体设置和度量选取可能会导致有的地方跳行有的地方不跳，这个在这个草案的非严格方法中也会存在，所以至今也没有太大进展。

[2019-05-09 11:27] #209 closed, assigned to nobody

[2019-05-10 07:14] #207 closed, assigned to huijing

[2019-05-10 07:42] xfq commented on #125
I think multiword ruby annotations should be set solid and centered.

[2019-05-14 06:46] xfq opened #215 "Tweak the English version of the region differences section"
See https://github.com/w3c/clreq/commit/e39e931ce1a577c872482551c2ba9530e22e249e#commitcomment-33511222 for the proposed rephrasing from @r12a.

[2019-05-20 06:13] xfq commented on #76
Can we close this issue now?

[2019-05-20 08:48] r12a commented on #76
Ok to close from my pov.

[2019-05-20 08:49] r12a commented on #76
Perhaps we should add that we are closing the issue because we implemented the proposal - replacing data-lang with its-locale-filter-list throughout.

[2019-05-20 11:51] xfq commented on #76
OK. Closing.

[2019-05-20 11:51] #76 closed, assigned to nobody

[2019-06-05 02:06] ryukeikun commented on #125
According to GB/T16159-2012 “Basic rules of the Chinese phonetic alphabet orthography”, the principle should be spelt by WORD (as in 4.2 and 5.1), so no need to add space between the syllables. Spelling character by character should be considered as special case (as in 7.1).

Most frequently used style of ruby annotations in China is "centered". So for the case of "Keith Emerson", it should be lik

[2019-06-05 11:29] huijing commented on #215
Updated in commit https://github.com/w3c/clreq/pull/208/commits/5f0b1f8b5dfea6af2d2872e48c1dd86bcdc3c23f

[2019-06-06 06:40] #210 closed, assigned to nobody

[2019-06-06 06:44] #215 closed, assigned to nobody

[2019-06-06 07:58] ryukeikun opened #219 "Typo of 夾 in SC version"
In Simplified Chinese version should not be「夾注符号」but「夹注符号」。Seems to be an auto convention error?

夾 U+593E
夹 U+5939

[2019-06-06 08:01] ryukeikun opened #220 "Rewrite of Prohibition Rules for Line Start and Line End 行首行尾禁则"
This section should be rewrite by introducing different level / styles of Prohibition Rules such as "none", "loose", "strict" for UA to match.

[2019-06-06 08:10] ryukeikun opened #221 "Rewrite of Compression Rules for Punctuation Marks 标点符号的挤压"
https://w3c.github.io/clreq/#compression_rules_for_consecutive_punctuation_marks

This section should be rewrite because

1. The current rules are basically translated from [JLreq,](https://www.w3.org/TR/jlreq/#positioning_of_consecutive_opening_brackets_closing_brackets_comma_full_stops_and_middle_dots) which are quite cumbersome.

2. There are some misunderstandings during translations from JLre

[2019-06-10 07:44] xfq commented on #220
Link to the current clreq section: https://w3c.github.io/clreq/#prohibition_rules_for_line_start_end

Related information:

* [JLReq § 3.1.7 Characters Not Starting a Line 行頭禁則](https://w3c.github.io/jlreq/#characters-not-starting-a-line)
* [JLReq § 3.1.8 Characters Not Ending a Line 行末禁則](https://w3c.github.io/jlreq/#characters-not-ending-a-line)
* [JLReq § C. Possibilities for Line-breaking betw

[2019-07-01 03:10] xfq opened #223 "人名缩略翻译的处理"
《CY/T 154-2017 中文出版物夹用英文的编辑规范》：

<img width="786" alt="name" src="https://user-images.githubusercontent.com/2863444/60408214-940f5580-9bf0-11e9-928e-f0d9bf7c4adc.png">

* * *

这只是一种建议，是否合理另论。

另外需要考虑在直排时是否需要特殊处理标点符号、文字方向和字距。

[2019-07-03 11:31] ryukeikun commented on #221
对于 3.1.6 建议修改为：

（第二段可以保留）

关于 3.1.6.1 连续标点，目前的八点太繁琐。建议修改如下：

这里的 1. 涵盖了原来的 1.2.3.
<img width="681" alt="屏幕快照 2019-07-03 20 42 52" src="https://user-images.githubusercontent.com/8192599/60589068-8665f580-9dd3-11e9-8628-62af539e8528.png">

这里的 2. 涵盖了原来的 4.5.6. 这是原文日文的总结缩写。「但是实际上，对于中文排版，一些印厂对于如「开始双引号+开始单引号」、「结束单引号+结束双引号」的情况会只缩减四分之一空。」这句话可以作为备注。
<img width="1077" alt="屏幕快照 2019-07-03 20 45 30" src="h

[2019-07-27 09:52] xfq commented on #221
本 issue 只包括重写 [§ 3.1.6](https://w3c.github.io/clreq/#compression_rules_for_consecutive_punctuation_marks) 的开头部分及 [§ 3.1.6.1](https://w3c.github.io/clreq/#h-compression_of_adjacent_punctuation_marks)，并不修改 § [3.1.6.2](https://w3c.github.io/clreq/#h-compression_of_punctuation_marks_at_line_start) 是吗？

[2019-08-06 14:06] #219 closed, assigned to nobody

[2019-08-06 14:12] #172 closed, assigned to ryukeikun

[2019-08-10 00:09] upsuper commented on #221
可以修改为比如说“如有半个字宽的空隙，则应缩减”，这样对于标点居中的情况就不需要另外排除，也可以解决像`“。。。”`这样（前引号和句号之间）不存在空隙的特殊情况？

[2019-08-23 10:51] r12a opened #228 "cjk-tally-mark and cjk-stem-branch counter styles"
Following a suggestion by @c933103, I added cjk-tally-mark and cjk-stem-branch to the Ready-made Counter Styles ED for review.  (See w3c/predefined-counter-styles#18 and w3c/predefined-counter-styles#19).

I'd be grateful if you'd let me know if you have any thoughts about these counter styles.

There's also a Suzhou style proposed at https://github.com/w3c/csswg-drafts/issues/2097.  Any thoughts

[2019-08-23 11:40] r12a opened #229 "Classification for 'cjk-earthly-branch' and 'cjk-heavenly-stem"
CSS folks need some advice on the above counter styles and whether they should be cyclic, fixed or something else.  Please provide feedback at https://github.com/w3c/csswg-drafts/issues/2096  Thanks.

[2019-08-25 04:57] xfq commented on #228
Here are the links to the relevant section:

* https://w3c.github.io/predefined-counter-styles/#cjk-tally-mark
* https://w3c.github.io/predefined-counter-styles/#cjk-stem-branch

[2019-09-11 06:01] xfq opened #230 "Combinations of possible values for text-spacing in CSS"
关于CSS的[text-spacing](https://drafts.csswg.org/css-text-4/#text-spacing-property)属性，目前允许770种取值组合，非常复杂。

CSS工作组需要了解哪些组合是有用的，哪些组合是无效的。

Ref: https://github.com/w3c/csswg-drafts/issues/4246

[2019-09-11 06:02] xfq commented on #230
[translation of initial comment]

770 combinations of the [text-spacing](https://drafts.csswg.org/css-text-4/#text-spacing-property) property of CSS are currently allowed, which is very complicated. CSSWG needs to understand which combinations are useful and which ones are not.

Ref: https://github.com/w3c/csswg-drafts/issues/4246

[2019-12-06 16:03] xfq commented on #229
CSS PR: https://github.com/w3c/csswg-drafts/pull/4570

[2019-12-06 16:09] xfq commented on #228
We [discussed](https://www.w3.org/2019/12/06-clreq-minutes.html#x03) `cjk-tally-mark` and `cjk-stem-branch`, and they look good to us. We will look into Suzhou numerals.

[2019-12-08 05:12] xfq opened #232 "audio elements in vertical writing mode"
What should the HTML [audio](https://html.spec.whatwg.org/multipage/media.html#the-audio-element) element look like when the surrounding text is in vertical writing mode?

[2019-12-08 05:13] xfq commented on #232
This question arose from Bobby [in a meeting](https://www.w3.org/2019/12/06-clreq-minutes.html#x02):

[2019-12-08 14:56] huijing commented on #206
觉得翻译得有点不协调，麻烦大家过目一下。

3.1.3.3 Exclamatory question mark, repeating question marks and repeating exclamation marks | 叹问号与问、叹号叠加

Exclamatory question marks are defined in the General Rules for Punctuation (GB/T 15834-2011) under extended usage. For questions with a strong exclamatory tone of voice, it is appropriate to add an exclamation mark after the question mark (?!). However, it is common to s

[2019-12-08 19:51] c933103 commented on #206
示亡號主要是在哪些地區使用？

[2019-12-09 03:32] xfq commented on #206
@huijing What about changing "under extended usage" to "as an extended usage of exclamation marks"?

[2019-12-09 10:08] huijing commented on #206
Makes sense. If that's the only change, should I make the PR?

[2019-12-09 13:06] xfq commented on #206
Sure. Thank you!

[2019-12-09 13:08] xfq commented on #206
@c933103 其他地区我不清楚，中国大陆应该是广泛使用示亡号的。

[2019-12-10 02:48] xfq commented on #229
Closing since the corresponding CSSWG issue has been closed.

[2019-12-10 02:48] #229 closed, assigned to nobody

[2019-12-16 13:59] c933103 commented on #206
在香港和台灣都沒找到用例。。。

[2019-12-16 23:33] xfq commented on #206
维基百科里有一例：https://zh.wikipedia.org/w/index.php?title=示亡号&oldid=55377788#cite_note-3

[2019-12-17 05:09] bobbytung commented on #206
廣泛使用在港台的訃聞中，親屬家人已經過世者都會使用示亡號。
我就不舉例了，請自行Google「訃聞」做圖片搜尋。

[2019-12-17 13:00] r12a commented on #206
What does 'with discretion' mean⁇

[2019-12-17 13:04] r12a commented on #206
This seems to imply that one should not use U+2020 DAGGER † or U+2021 DOUBLE DAGGER ‡ for this function. Is that intended?

Also note that the English version has some untranslated chinese text in it.

[2019-12-17 13:13] r12a commented on #206
Could we have an example?  Even an example in the text would be useful, if we can't scan one.  I think it would be particularly useful to show it in the context of the character frame of the name.

[2019-12-17 13:59] xfq commented on #206
The original Chinese text (在考量字体支援下可斟酌使用) means that they can be used with consideration of font support.

[2019-12-17 14:00] bobbytung commented on #206
Here's some examples I found by Google image search. I'm afraid that they seem to be real funeral announcement.

1. [Taiwan, 2014](http://2.bp.blogspot.com/-bvzkEhW3TNE/UxQ4hJw000I/AAAAAAAAGK8/oGlB8QB2fYU/s1600/陳文雄訃聞.jpg)
2. [Taiwan, 2017](http://www.chi-nanchurch.tw/bulletin/communion/copy3_of_.jpg/@@images/7c0ed0f8-e548-4110-83f1-01e7c1c89b91.jpeg)
3. [HongKong, 2017](https://www.mingpaocanada.c

[2019-12-17 14:48] r12a commented on #206
Ah!  So the symbol of death is the box drawn around the characters⁈

I don't think that's punctuation – it's a kind of text decoration.  But now i really think an example is needed in this paragraph, because i was looking for something that ressembled the dagger mark. We should probably also have some text saying something to the effect that the symbol of death is visually represented by a box dra

[2019-12-24 03:34] xfq opened #235 "Language switching doesn't work for tables"
Switching to {繁體中文,简体中文,English} doesn't hide tables in other languages in [§ 2.3.5 Considerations when Designing the Type Area](https://w3c.github.io/clreq/#considerations_in_designing_type_area).

@r12a What do you think? Should we merge the tables, or fix the JavaScript code?

[2019-12-25 01:24] himorin commented on #235
table.charsize has display to inline-table, I think that conflicts with hidden attribute.

[2019-12-25 03:49] xfq commented on #235
Ah, OK. Perhaps we need to add something like:

[code]

to `local.css` to override the `display` property?

[2020-01-17 11:47] hax opened #236 "text-spacing 的默认值 space-first 问题"
在看 #230 时看到一个`text-spacing`特定的issue：https://github.com/w3c/csswg-drafts/issues/2462

如果我理解没错，日本同学提议以 `space-first` 作为默认值，行为是：起始括号等在行首用半角但段首除外（段首用全角）。

中文排版中常见这样吗？

感觉上，中文排版如采用段首缩进两字，就不需要额外的段首全角特例。如果不使用段首缩进，一般会使用空行来区分段落，也不需要段首全角特例。

所以如果以`space-first`作为默认值是否会对中文排版有影响？

[2020-01-31 02:10] ryukeikun commented on #236
从中国大陆正统的正文排版习惯来说，的确不需要「段首全角」的特例。包括人民出版社、人民文学出版社等各大出版社，对于段首的引号均执行「半宽」的做法。

所以对应到此项，用`trim-start`即可满足要求中文排版需求。
目前的草案也注明 `space-fist` is not recommended for general authoring use. 所以有需要的日本用户可以使用此项，但中文不必。

[2020-02-04 11:42] r12a opened #237 "Issues with variation sequence font fallback"
Font matching/fallback for variation sequences is <a href="https://github.com/w3c/csswg-drafts/issues/1710">not implemented correctly</a>.

[2020-02-04 11:43] r12a commented on #237
_The first comment in this issue contains text that will automatically appear in [the Chinese gap-analysis document](https://w3c.github.io/clreq/gap-analysis/) as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

[2020-02-04 11:51] r12a opened #238 "Punctuation not skipped by default for emphasis marks"
<i class="meta">This issue is applicable to Chinese and Japanese.</i>

Punctuation marks should be skipped by default for emphasis marks in Chinese and Japanese.

More:
- [CLReq](https://www.w3.org/International/clreq/#id84)
- [jlreq-d issue #80](https://github.com/w3c/jlreq-d/issues/80)

### The GAP

Gecko and Blink skip some punctuation marks, but WebKit does not skip any punctuation marks.

[cs

[2020-02-04 11:52] r12a commented on #238
_The first comment in this issue contains text that will automatically appear in one or more gap-analysis documents as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

_Relevant gap analysis documents include:_
_[**Chinese**](ht

[2020-02-04 11:53] r12a opened #239 "Emphasis mark support not interoperable"
<i class="meta">This issue is applicable to Japanese & Chinese, in particular.</i>

Chinese and Japanese have a native way of indicating emphasis for short ranges of inline text which involves placing a small mark above or below the characters being emphasised in horizontal text, and to the right/left in vertical text.

The actual marks used vary, depending on author preference, although some mark

[2020-02-04 11:53] r12a commented on #239
_The first comment in this issue contains text that will automatically appear in one or more gap-analysis documents as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

_Relevant gap analysis documents include:_
_[Chinese](https:

[2020-02-04 12:01] r12a opened #240 "q element produces incorrect quotation marks when language changes"
<i class="meta">This issue is common across all languages that use the q element.</i>

When a Chinese page contains a quotation in another language, the quotation marks used around that quotation (and inside it for embedded quotes) should be the Chinese ones – not those of the language of the quotation.

Currently, if the language of the quotation is declared on the `q` tag in HTML using the `lang

[2020-02-04 12:02] r12a commented on #240
_The first comment in this issue contains text that will automatically appear in [the Chinese gap-analysis document](https://w3c.github.io/clreq/gap-analysis/) as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

[2020-02-04 12:05] r12a opened #241 "No bopomofo ruby support"
<i class="meta">This issue is applicable to Chinese, particularly in Taiwan.</i>

Bopomofo, also named Zhuyin Fuhao, is a transliteration and writing system for Chinese. Although it can sometimes be used for writing Chinese, or local Taiwanese languages, however it has been widely used for 100 years to indicate phonetic annotations of Chinese characters.

Bopomofo is usually written in vertical co

[2020-02-04 12:06] r12a commented on #241
_The first comment in this issue contains text that will automatically appear in one or more gap-analysis documents as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

_Relevant gap analysis documents include:_
_[Chinese](https:

[2020-02-04 12:07] r12a opened #242 "Difficulties selecting ruby"
There are difficulties in selecting ruby text in <a href="https://github.com/w3c/i18n-issues/issues/3">some browsers</a>.

[2020-02-04 12:07] r12a commented on #242
_The first comment in this issue contains text that will automatically appear in [the Chinese gap-analysis document](https://w3c.github.io/clreq/gap-analysis/) as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

[2020-02-04 12:07] r12a opened #243 "Cutting Note not supported"
Inline cutting note (warichu in Japanese) is a type of inline notation, where two lines of small characters are inserted into the text, dividing a line into two sub lines.  Inline cutting note is usually used in vertical writing mode. It is very infrequently used in horizontal writing mode. (see <a href="https://www.w3.org/TR/jlreq/#inline_cutting_note">Inline Cutting Note (Warichu)</a>)

The foll

[2020-02-04 12:08] r12a commented on #243
_The first comment in this issue contains text that will automatically appear in one or more gap-analysis documents as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

_Relevant gap analysis documents include:_
_[Chinese](https:

[2020-02-04 12:10] r12a opened #244 "Browsers handle ideographic space differently during line-breaking"
Browsers differ in how they handle line breaks for IDEOGRAPHIC SPACE (U+3000).

[2020-02-04 12:10] r12a commented on #244
_The first comment in this issue contains text that will automatically appear in [the Chinese gap-analysis document](https://w3c.github.io/clreq/gap-analysis/) as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

[2020-02-04 12:12] r12a opened #245 "UAX #14 for line-breaking with quotation marks"
In Chinese, `“` is an opening quotation mark, but in some languages (like German) it can be a closing quotation mark. In [UAX #14](https://www.unicode.org/reports/tr14/tr14-43.html):

This is too strict for Chinese, because breaks before `“` should be allowed (it can appear at the line start).

<b class="subhead">Specs:</b>
In the description for QU in [UAX #14](https://www.unicode.org/reports/tr1

[2020-02-04 12:12] r12a commented on #245
_The first comment in this issue contains text that will automatically appear in [the Chinese gap-analysis document](https://w3c.github.io/clreq/gap-analysis/) as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

[2020-02-04 12:17] r12a opened #246 "Lack of support for @counter-style — FIXED !"
<i class="meta">Customisable counters are needed for many languages.</i>

There is no way for users to create local counter styles that are not built in to the browser, and users also often want to tweak the counter style in some way (esp. the prefix/suffix).

### FIXED !

<b class="meta">This gap is now fixed. For more details, see [this GitHub issue](https://github.com/w3c/iip/issues/93), which

[2020-02-04 12:17] r12a commented on #246
_The first comment in this issue contains text that will automatically appear in [the Chinese gap-analysis document](https://w3c.github.io/clreq/gap-analysis/) as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

[2020-02-04 13:15] r12a commented on #245
_The first comment in this issue contains text that will automatically appear in [the Chinese gap-analysis document](https://w3c.github.io/clreq/gap-analysis/) as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

[2020-02-05 01:01] xfq commented on #238
Related: #96

[2020-02-05 01:05] xfq opened #247 "Poor level of support for vertical form controls"
<i class="meta">This issue is applicable to languages that can be vertically set, especially Mongolian, since it has no horizontal setting. (Linked from: [Chinese](https://www.w3.org/TR/clreq-gap/#issue247_vertical_text) • [Japanese](https://www.w3.org/TR/jpan-gap/#issue167_vertical_text) • [Mongolian](https://www.w3.org/TR/mong-gap/#issue37_interaction))</i>

In vertically set text, form controls

[2020-02-05 01:05] xfq commented on #247
_The first comment in this issue contains text that will automatically appear in one or more gap-analysis documents as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

_Relevant gap analysis documents include:_
_[**Chinese**](ht

[2020-02-05 01:10] xfq opened #248 "Upright text orientation not supported — FIXED !"
<i class="meta">This issue is applicable to Chinese, Japanese, Korean, and Mongolian.</i>

By default, in runs of Latin alphanumeric text the letters are rotated 90º and run down the page.  However, in some instances the alphanumerics need to stand upright.  For example, this is important for acronyms.

![Screenshot 2021-11-19 at 11 04 53](https://user-images.githubusercontent.com/4839211/14261248

[2020-02-05 01:11] xfq commented on #248
_The first comment in this issue contains text that will automatically appear in one or more gap-analysis documents as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the document. Proposals for changes or discussion of the content can be made in comments below this point._

_Relevant gap analysis documents include:_
_[**Chinese**](ht

[2020-02-05 01:13] xfq opened #249 "Horizontal-in-vertical (tate-chu-yoko) lacks support, especially for the digits value"
<i class="meta">This issue is applicable to Chinese, Japanese, Korean, & Mongolian.</i>

In vertically set text, it is normal to display numbers with 2-3 digits and sometimes up 4  (and sometimes other things) horizontally within a one character space.  This is particularly common for things such as day and month digits. This is often referred to using the japanese name, tate chu yoko.

![Screensh

[2020-02-05 01:14] xfq commented on #249
_The first comment in this issue contains text that will automatically appear in one or more gap-analysis documents as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the Editor's draft of the document. Proposals for changes or discussion of the content can be made by adding comments below this point._

_Relevant gap analysis document

[2020-02-05 01:28] xfq opened #250 "Table cells don't handle vertical direction properly"
<i class="meta">This issue is applicable to Chinese, Japanese, Korean, and Mongolian.</i>

If you place the writing-mode property with a value of vertical-rl on an individual table cell, you would expect the text in that cell to be displayed vertically. This doesn't work as expected in all browsers: some don't apply vertical writing mode, or leave the text horizontal but rotate the CJK characters

[2020-02-05 01:28] xfq commented on #250
_The first comment in this issue contains text that will automatically appear in one or more gap-analysis documents as a subsection with the same title as this issue. Any edits made to that comment will be immediately available in the Editor's draft of the document. Proposals for changes or discussion of the content can be made by adding comments below this point._

[2020-02-06 11:48] huijing commented on #206
Edited the English translation and added an example image to better illustrate its usage.

![symbol-of-death](https://user-images.githubusercontent.com/1461498/73934568-a802fe80-4919-11ea-958a-b7c4126e045f.png)

[2020-02-06 13:41] xfq commented on #206
Link to PR: https://github.com/w3c/clreq/pull/234

[2020-02-07 01:05] xfq commented on #236
In [§ 3.1.6.2 Compression of punctuation marks at line start or line end](https://w3c.github.io/clreq/#id101):

With `text-spacing: space-first`, the "can be reduced" will become "must not be reduced", so it does not conform to the typographic conventions in Mainland China.

Closing this issue.

[2020-02-07 01:05] #236 closed, assigned to nobody

[2020-02-08 08:09] r12a opened #251 "'Character dimension' -> 'character frame'"
There are 6 occurrences of the term 'character dimension' in the text, which i think should read 'character frame' instead.

[2020-02-08 08:27] r12a commented on #251
The text around the term mentioned above probably also needs revisiting. Here are my suggested rewrites of the sentences affected.

https://w3c.github.io/clreq/#line_composition_rules_for_punctuation_marks

https://w3c.github.io/clreq/#glyphs_sizes_and_positions_in_character_faces_of_punctuation_marks

https://w3c.github.io/clreq/#hanging_punctuation_marks_at_line_end

https://w3c.github.io/clreq/

[2020-02-08 16:23] r12a opened #252 "Mainland Chinese parentheses ?"
https://w3c.github.io/clreq/#id81
Parentheses.

After describing the characters used for Taiwan for parentheses, the text simply says the following:

Is that in the right place?  Does it mean to say 'as one type of parenthesis'?? Is the description of parens for Mainland missing? (Note that there's a section about EM-dash immediately after.)

[2020-02-10 01:15] xfq commented on #251
I think the suggested rewrites are indeed a better translation of 字面分布. @r12a would you please submit a pull request for this?

[2020-02-10 01:27] xfq commented on #252
This seems to be a translation issue. I submitted #253 to fix it.

[2020-02-10 12:27] r12a commented on #232
Examples from @xfq

  * https://xfq.github.io/testing/i18n-personal-tests/audio-vertical-block.html
  * https://xfq.github.io/testing/i18n-personal-tests/audio-vertical-inline.html

[2020-02-10 16:28] macnmm commented on #251
I use "ideographic embox" or "CJK embox" for this. "Virtual Body" is also used in Japanese （仮想ボディー）

[2020-02-10 16:58] r12a commented on #251
'character frame' is defined in jlreq and adopted into clreq too for the outside box.

However, i found it more difficult to find a way of saying 'the bit of the character frame that contains ink'.  I used 'letter face' (defined again in jlreq & clreq as a smaller box containing the letter itself, though that's slightly vague – does it just include the squared boundaries of the area containing ink

[2020-02-10 17:03] macnmm commented on #251
glyph bounding box < ideographic [average] character face < ideographic embox

[2020-02-10 17:05] macnmm commented on #251
for punctuation, we have to get specific about the width relative to the embox, I think. Character face terms can vary widely in what they are talking about.

[2020-02-11 01:02] xfq commented on #251
As @r12a said, "character frame" is used in jlreq (文字の外枠 in Japanese) and clreq (文字外框 in Chinese) for the rectangular area occupied by a character when it is set solid.

"Letter face" is also used in jlreq (字面 in Japanese) and clreq (字面 in Chinese) for the area contains ink.

And clreq introduced a new term called 字面分布, which means how the letter face is positioned relative to the character frame,

[2020-02-11 17:30] r12a commented on #252
@xfq i was just reading this again, and i think it still needs some work.

Em dashes are also mentioned for Taiwan, so does this mean that it lists only em dashes? Or does it mean that a single em dash is a third alternative?

[2020-02-12 01:30] xfq commented on #252
In the Punctuation Guidance issued by the Ministry of Education in Taiwan, there are two types of 夾注號.[1] The first type is "（　）" (a pair of fullwidth parentheses), and the second type is "──　──" (a pair of two-em dashes). See https://language.moe.gov.tw/001/upload/files/site_content/m0001/hau/h7.htm for some examples.

In [General Rules for Punctuation](https://people.ubuntu.com/~happyaron/l10n/G

[2020-02-13 01:09] ryukeikun commented on #220
建议将目前的三个「注」删除，修改为：

-------
具体地，可以分为四种级别：
1. 不处理（none）：完全不处理行首行尾禁则。常见于台湾香港等地报刊。
2. 基本处理（basic）：点号（顿号、逗号、句号、冒号、分号、叹号、问号）、结束引号、结束括号、结束乙式书名号（篇名号）、连接号、间隔号、分隔号不能出现在一行的开头。开始引号、开始括号、开始单双书名号等符号，不能出现在一行的结尾。这是最推荐的方法。
3. GB法（GB-style）：在执行「基本处理」的基础上增加规定分隔号也不能出现在一行的结尾。
4. 严格处理（strict）：在执行「GB法」的基础上再增加规定破折号、省略号不能出现在一行的开头。

本节与「3.1.6 标点符号的挤压」的关系：应优先按照排版风格处理标点挤压，再处理禁则。因为标点挤压处理会影响换行位置。

排版时如果进行禁则处理，应遵守「先挤进，后推出」原则，即

[2020-02-13 01:23] ryukeikun commented on #251
@xfq  Maybe 字面位置（glyph/face positioning [inside Character Frame]）is better than current 字面分布，(glyph/face distribution)?

[2020-02-13 05:00] xfq commented on #251
@ryukeikun Both look good to me, but this issue is mainly about English translation rather than the wording in Chinese, so I suggest that we discuss it in a separate issue.

[2020-02-13 07:47] xfq commented on #245
Related issues:

* https://github.com/w3c/clreq/issues/220
* https://github.com/unicode-org/icu/pull/223

[2020-02-13 07:50] xfq commented on #220
多谢Eric。我有两个问题：

1. 「完全行首行尾禁则」是否应为「完全不处理标点禁则」？
2. 「前行多出来的空间需按照优先顺序拉伸」指的是？

另外，如果「基本处理」代表「宽松」，建议把第三条「GB法」里的「宽松」也改为「基本处理」。

[2020-02-13 08:55] ryukeikun commented on #220
@xfq
1. 不好意思，是笔误。
2. 挤压、拉伸空间都有优先顺序，这在 jlreq 有，而 clreq 还没有，需要在其他章节补充。
另外第三点也是笔误，不好意思。我重新修改一下。

[2020-02-14 02:09] xfq commented on #220
在最新的 CSS Text 标准中，`U+2010 (hyphen)` 和 `U+2013 (En Dash)` 在 loose 时，之前如果是汉字则可以断行（可以出现在一行的开头），前面如果不是汉字则不能断行（不能出现在一行的开头）。中文的连接号是否也需要调整？

相关更改：https://github.com/w3c/csswg-drafts/commit/2cfcf436dde93692634bd8788bd163350be4f6d7#diff-2eb05d513690e5c4031fdea92fa32604R2971-R2978

[2020-02-14 02:10] xfq commented on #220
明白，谢谢。我们是否可以写一个issue？

[2020-02-14 02:16] ryukeikun commented on #220
@xfq 关于连接号，我曾经想过，可以从我的草案里的 basic 拿下来，放到 GB-style 层级里，这样 basic 就可以用 CSS Text 的 loose 去对应。但是 CSS Text 的 loose 这一点过于宽松？在实作方面，其实都会按照 Unicode 标准附件第十四号《Unicode 断行算法》（UAX14）算法第二十一条（LB21）规定，即在连字符、其他连字符、定宽空格、小写假名等字符前面不能断行，不会出现在行首的。

关于挤压、拉伸空间的优先顺序，已建 #255

[2020-02-14 02:21] ryukeikun opened #255 "Need to add details on Line Adjustment"
Need to add details on Line Adjustment as [JLReq §3.8](https://www.w3.org/TR/jlreq/#line_adjustment), especially the procedures for reduction and expansion of inter-character space.

CLReq do not need to mention every details as JLReq do, but at least need some guidelines for UA to follow.

[2020-02-14 02:47] ryukeikun commented on #255
参照 JLReq 3.8.3 和 3.8.4，

建议中文行内调整时按照下述步骤，寻找挤压的优先顺序：

1. 西文词距。若有多个需要均等挤压，最小可以挤到四分。
2. 行末标点。若有全宽的挤为二分。
3. 行内间隔号。如果行内间隔号为全宽，带有前后的四分空，则必须前后同时挤，最小挤到0，即间隔号为全宽的挤为二分
4. 行内引号和括号。开始括号的前侧、结束括号的后侧、逗号后侧的二分空，最小挤为二分。
5. 行内逗号、顿号、分号。后侧的二分空，最小挤为二分。
6. 行内的句号、问号、感叹号。后侧的二分空，最小挤为二分。
7. 行内的中西间距，从默认的四分空前后同时挤，最小挤为八分空。

建议中文行内调整时按照下述步骤，寻找拉伸的优先顺序：
1. 西文词距。若有多个需要均等挤压，最大可以拉伸二分。
2. 行内的中西间距，从默认的四分空前后同时拉，最大可拉大到二分空。
3. 除去特别被禁止分离的

[2020-02-14 03:27] xfq commented on #220
关于这一点，我们可以再和其他编辑讨论，需要的话也可以创建一个 CSS 的 issue。小林老师针对日文的需求去年也有过一些评论：https://lists.w3.org/Archives/Public/public-jlreq-admin/2019OctDec/0005.html

另外，对于其他两种连接号的处理，在 [CSS Text](https://drafts.csswg.org/css-text-3/#line-break-property) 中也与短横线（En Dash）不同。

综合起来看，目前 CSS Text 的规则似乎是：

* Hyphen 和 En Dash 在 `loose` 时，之前如果是汉字则可以断行（可以出现在一行的开头），前面如果不是汉字则不能断行（不能出现在一行的开头）
* 浪纹线（FULLWIDTH TILDE）在 `normal` 和 `loose`

[2020-02-14 04:41] ryukeikun commented on #220
正如小林敏老师在邮件所述，hyphen 无论全角还是半角，大多数人还是认为需要避头的。而  U+2013 EN DASH [–] 虽然在 JIS X 4051 中规定要避头，小林老师本人也觉得避头更合适，但对于日文实际现状来说，这个符号比较新（跟多人的人与 hyphen 混用）所以很多人在不知道的情况下会用放到行头。所以在日文的需求来说，应该是要避头的。

另一方面，中国大陆的 [GB/T15834-2011 的 5.1.6 规定](http://www.moe.gov.cn/ewebeditor/uploadfile/2015/01/13/20150113091548267.pdf)连接号是要避头的，而且这个连接号包括U+2014 EM DASH [—]，浪纹线 U+FF5E FULLWIDTH TILDE [～] 和 U+2013 EN DASH [–]（理论上还有 U+FF0D FU

[2020-02-16 11:48] xfq commented on #250
* Chromium Issue: https://bugs.chromium.org/p/chromium/issues/detail?id=409155
* WebKit Bug: https://bugs.webkit.org/show_bug.cgi?id=65917

[2020-02-16 12:57] xfq commented on #249
Related browser bugs:

* https://bugs.chromium.org/p/chromium/issues/detail?id=1052659
* https://bugs.webkit.org/show_bug.cgi?id=150821
* https://bugzilla.mozilla.org/show_bug.cgi?id=1258635

[2020-02-16 13:33] xfq commented on #247
* Chromium issue: https://bugs.chromium.org/p/chromium/issues/detail?id=681917
* WebKit bug: https://bugs.webkit.org/show_bug.cgi?id=70211

[2020-02-16 15:14] xfq commented on #246
* Chromium issue: https://bugs.chromium.org/p/chromium/issues/detail?id=687225
* WebKit bug: https://bugs.webkit.org/show_bug.cgi?id=167645

[2020-02-17 18:09] r12a commented on #124
I'm still curious about this. The following picture suggests that tracking has been evenly applied to the first two lines sufficient to accommodate the longer pinyin sylllables (i guess up to 5 characters per hanzi), and maintain the grid layout.

![Screenshot 2020-02-17 at 17 41 34](https://user-images.githubusercontent.com/4839211/74677493-5d527380-51b0-11ea-972d-28144fffaafa.png)

Is this a com

[2020-02-18 04:08] RuixiZhang42 commented on #221
[3.1.6.1](https://w3c.github.io/clreq/#h-compression_of_adjacent_punctuation_marks) 第七、八条提到「间隔号」，而英文却是「solidus」，应当改为「interpunct」。

日本规范将「结束夹注号」、「间隔号」、「开始夹注号」一律视为「半身宽」，在 [jlreq 3.1.4](https://www.w3.org/TR/jlreq/#positioning_of_consecutive_opening_brackets_closing_brackets_comma_full_stops_and_middle_dots) 的 g 跟 h 里提到的「在间隔号前后各加一个四分空」，最后效果其实是「半身结束夹注号」「全身间隔号」「半身开始夹注号」：

![compress](https://user-image

[2020-02-18 04:35] himorin commented on #221
hi, 日本规范 does not 两端各加四分空, but similar to what 港台规范. All of original glyph has 1em but not half em - remove 1/2em (in total) spacing from punctuation (solid setting) and put spacing in between (1/4em by default, could be used for justify).

'Solid setting' in https://w3c.github.io/jlreq/#fig2_13 does not mean to use 1/2em glyph, but remove half em spacing within all punctuation in 1em glyph - as s

[2020-02-18 05:13] xfq commented on #124
Most publications I've seen use mono-ruby for each base characters, align the center of the ruby string and of the base character in the inline direction, and increase inter-character spacing for the whole article. See https://github.com/w3c/type-samples/issues/93 for an example.

But sometimes group-ruby, non-center-aligned-ruby, and/or ruby with some amount of overhang over the preceding and fol